@{
    ViewBag.Title = "FansBang";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>粉丝榜</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dialog.css" />
    <link href="@ViewBag.osshost/css/null.css" rel="stylesheet" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>

    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/dropload.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>


</head>

<body style="background:#F4F4F5;">
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">粉丝榜</a>
    </header>

    <div class="guessing_header">
        <ul class="C8_nav2 C8_bang">
            <li data-type="day" data-id="1" ><a href="javascript:;"><p>日榜</p><span></span></a></li>
            <li data-id="2" data-type="week" ><a href="javascript:;"><p>周榜</p><span></span></a></li>
            <li data-id="3" data-type="month" ><a href="javascript:;"><p>月榜</p><span></span></a></li>
            <li class="current" data-id="4" data-type="all" ><a href="javascript:;"><p>总榜</p><span></span></a></li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div class="Ranking_content">
        <div id="bang_1" class="Ranking_Cinfo"></div>
        <div id="bang_2" class="Ranking_Cinfo"></div>
        <div id="bang_3" class="Ranking_Cinfo"></div>
        <div id="bang_4" class="Ranking_Cinfo"></div>
    </div>


    <div class="Ranking_footer">
        <dl class="Rank_ftDL">
            
        </dl>
    </div>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/FansBang.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
