@{
    ViewBag.Title = "Follow";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-我的关注</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link href="@ViewBag.osshost/css/dialog.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dropload.css" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/dropload.min.js"></script>
    <script src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/Follow.js"></script>

</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的关注</a>
    </header>

    <div class="fans_Box">
        <div id="content">

        </div>
        
    </div>




</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
