@using C8.Lottery.Model;
@{
    var IntegralRuleList = ViewBag.IntegralRuleList as List<IntegralRule>;
    var ltype = ViewBag.ltype;
    var Pid = ViewBag.Pid;
}


<div class="Grades_TopNav" style="max-height:200px;overflow-y: scroll;">
    <!--六合彩-->
    <ul class="Grades_TNul" id="gul_@ltype">

        @if (IntegralRuleList.Count > 0)
        {
            string idx = Pid.ToString() + ltype.ToString() + "0";
            <li data-name="全部" data-cid="@Pid" data-ltype="@ltype" data-idx="@idx" class="current"><a href="javascript:;">全部</a></li>
            foreach (var item in IntegralRuleList)
            {
                string idxs = Pid.ToString() + ltype.ToString() + item.Id.ToString();
                <li data-cid="@Pid" data-idx="@idxs" data-ltype="@ltype" data-name="@item.PlayName"><a href="javascript:;">@item.PlayName</a></li>
            }

        }

    </ul>
    <div style="clear:both;"></div>
</div>
<div class="Grades_content">
    <!--六合彩-->
    <div class="Grades_CBox">
        <!--全部-->
        <div class="Grades_CBInfo" style="height:200px;">
            @if (IntegralRuleList.Count > 0)
            {
                string mid = Pid.ToString() + ltype.ToString() + "0";

                <div id="mescroll_@mid" class="mescroll">
                    <div id="datalist_@mid" class="data-list"></div>


                </div>


                foreach (var item in IntegralRuleList)
                {


                    string mids = Pid.ToString() + ltype.ToString() + item.Id.ToString();
                    <div id="mescroll_@mids" class="mescroll">
                        <div id="datalist_@mids" class="data-list"></div>


                    </div>
                }


            }

        </div>
    </div>
</div>

@{Html.RenderAction("index", "PvUvIp");}