@{ 
    var banglist = ViewBag.LotteryList as List<C8.Lottery.Model.LotteryType2>;
    var ltype = ViewBag.ltype;
}




@if (banglist.Count > 0) {
    foreach (var item in banglist)
        {
        int index = banglist.IndexOf(item);
        if (index == 0)
        {
                <li data-cid="@ltype" data-type-id="@item.lType" class="current"><a href="javascript:;">@item.Name</a></li>
            }
            else
            {
                <li data-cid="@ltype" data-type-id="@item.lType"><a href="javascript:;">@item.Name</a></li>
            }

        }
    }
       

