@{ 
    var banglist = ViewBag.LotteryList as List<C8.Lottery.Model.Lottery>;
    var ltype = ViewBag.ltype;
}



 <ul id="ul_@ltype" data-index="@ltype" class="GS_nav" style="display: none;">
@if (banglist.Count > 0) {
    foreach (var item in banglist)
        {
        int index = banglist.IndexOf(item);
        if (index == 0)
        {
                <li data-type-id="@item.LotteryCode" class="current"><a href="javascript:;">@item.LotteryName</a></li>
            }
            else
            {
                <li data-type-id="@item.LotteryCode"><a href="javascript:;">@item.LotteryName</a></li>
            }

        }
        }
       
    </ul>

