@model   C8.Lottery.Model.UserInfo
@{
    ViewBag.Title = "Index";
}
<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>

<body style="background:#F4F4F5;">

<header class="hjc_header">

    <a href="/Home/Index" class="hjc_back"></a>
    <a href="javascript:;" class="hjc_logo">个人中心</a>
    <a href="/Personal/Set" class="hjc_Set"></a>
</header>

    <div class="Personal_header">
        <div class="Personal_hdInfo1">
            <div class="Per_hdIf1Logo f-l">
                <a href="javascript:;">
                    @if (string.IsNullOrEmpty(Model.Headpath))
                    {
                        <img src="~/images/default_avater.png">
                    }
                    else
                    {
                        <img src="@Model.Headpath">
                    }
                </a>

            </div>
            <a href="javascript:;" class="Per_hdIf1A f-r"><span>充值</span></a>
            <div class="Per_hdIf1con">
                <div class="hdIf1cTop">
                    <h3 class="If1T_name f-l"><a href="javascript:;">@Model.Name</a></h3>
                    <div class="If1T_nature f-l">
                        @if (Model.Sex == 0)
                        {

                            <img src="~/images/37_1.png" class="nature_tu nature_tNan">
                        }
                        else
                        {
                            <img src="~/images/37_2.png" class="nature_tu nature_tNan">
                        }



                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="hdIf1cBt">
                    <p>@Model.Autograph</p>
                </div>
            </div>
        </div>
        <div class="Personal_hdInfo2">
            <ul class="Per_If2Ul">
                <li>
                    <a href="javascript:;">
                        <h3>@Model.Coin</h3>
                        <p>金币</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h3>@Model.Integral</h3>
                        <p>积分</p>
                    </a>
                </li>
                <li>
                    <a href="/Personal/Follow">
                        <h3>@Model.Follow</h3>
                        <p>关注</p>
                    </a>
                </li>
                <li>
                    <a href="/Personal/Fans">
                        <h3>@Model.Fans</h3>
                        <p>粉丝</p>
                    </a>
                </li>
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>

    <div class="Personal_list">
        <ul class="Per_listUl">
            <li>

                <a href="/Personal/Task">
                    <div class="Per_listtu f-l"><img src="~/images/39_9.png"></div>
                    <div class="Per_listRight">
                        <h3>赚钱任务</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="Per_listtu f-l"><img src="~/images/39_2.png"></div>
                    <div class="Per_listRight">
                        <h3>交易记录</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="Per_listtu f-l"><img src="~/images/39_3.png"></div>
                    <div class="Per_listRight">
                        <h3>我的佣金</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="Per_listtu f-l"><img src="~/images/39_4.png"></div>
                    <div class="Per_listRight">
                        <h3>参与竞猜</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="Per_listUl">
            <li>
                <a href="/Personal/MyPlan">
                    <div class="Per_listtu f-l"><img src="~/images/39_5.png"></div>
                    <div class="Per_listRight">
                        <h3>我的计划</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="Per_listtu f-l"><img src="~/images/39_7.png"></div>
                    <div class="Per_listRight">
                        <h3>我的成绩</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Personal/Notice">
                    <div class="Per_listtu f-l"><img src="~/images/39_8.png"></div>
                    <div class="Per_listRight">
                        <h3>消息提醒<font class="Per_xxicon">3</font></h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Personal/InvitationReg">
                    <div class="Per_listtu f-l"><img src="~/images/40_8.png"></div>
                    <div class="Per_listRight">
                        <h3>邀请注册</h3>
                        <i></i>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    @*<div class="Personal_footer">
        <ul class="Per_ftUl">
            <li>
                <a href="/Home">
                    <div class="per_boxtu">
                        <img src="~/images/34_1a.png" class="per_bT1 per_bT1a">
                        <img src="~/images/34_1b.png" class="per_bT1 per_bT1b">
                    </div>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="per_boxtu">
                        <img src="~/images/34_2a.png" class="per_bT1 per_bT1a">
                        <img src="~/images/34_2b.png" class="per_bT1 per_bT1b">
                    </div>
                    <p>走势图</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="per_boxtu">
                        <img src="~/images/34_3a.png" class="per_bT1 per_bT1a">
                        <img src="~/images/34_3b.png" class="per_bT1 per_bT1b">
                    </div>
                    <p>发现</p>
                </a>
            </li>
            <li class="current">
                <a href="javascript:;">
                    <div class="per_boxtu">
                        <img src="~/images/34_5a.png" class="per_bT1 per_bT1a">
                        <img src="~/images/34_5b.png" class="per_bT1 per_bT1b">
                    </div>
                    <p>我的</p>
                </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>*@


</body>
</html>