@using Newtonsoft.Json;
@model C8.Lottery.Portal.Models.InvitationRegModel
@{
    ViewBag.Title = "InvitationReg";
}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>邀请好友</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>

    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>

</head>

<body>

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">邀请好友</a>
    </header>

    <div class="Invitation_Box">
        <div class="invitation-banner">

        </div>
        <div class="invitation-wapper">
            <div class="invitation-box">
                <div class="invitation-text1">分享赚钱咯！当您邀请的好友注册并参与充值时</div>
                <div class="invitation-text2">单次最高可获得100金币，奖励不封顶！同时获赠高手计划查看券</div>
                <div class="invitation-text1">您邀请的好友再邀请用户注册时，您将在获得最高50金币奖励</div>
                <div class="invitation-text2"><a href="/Personal/RewardRules">奖励规则>></a></div>
                <div class="invitation-share">
                    <dl>
                        <dd>
                            <a href="javascript:;" onclick="call('wechatFriend')">
                                <p><img src="~/images/63_1.png" alt="分享到微信好友"></p>
                                <p>微信好友</p>
                            </a>

                        </dd>
                        <dd>
                            <a href="javascript:;" onclick="call('wechatTimeline')">
                                <p><img src="~/images/63_2.png" alt="分享到朋友圈"></p>
                                <p>朋友圈</p>
                            </a>

                        </dd>
                        <dd>
                            <a href="javascript:;" onclick="call('qqFriend')">
                                <p><img src="~/images/63_3.png" alt="分享到QQ好友"></p>
                                <p>QQ好友</p>
                            </a>

                        </dd>
                    </dl>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="invitation-statistics">
                <div class="invitation-count-box">
                    已成功邀请
                    <p><span>@Model.Number</span>人</p>
                </div>
                <div class="invitation-commision-box">
                    累计奖励
                    <p><span>@Model.Coin</span>金币 &nbsp;<span>@Model.Coupon</span>查看券</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script src="~/js/kcp/NativeShare.js"></script>
    <script>
        var nativeShare = new NativeShare();
        var uid=@Html.Raw(JsonConvert.SerializeObject(ViewData["uid"]));
        var host = window.location.host + "/Home/Register/"+uid;
        var img = window.location.host + "/images/c8.png";  
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/InvitationReg.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>