@{
    ViewBag.Title = "ModifyPassword";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-设置-修改密码</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <link href="@ViewBag.osshost/css/dialog.css" rel="stylesheet" />
    <script src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/ModifyPassword.js"></script>

</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Set" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">修改密码</a>
    </header>

    <div class="Set_Box">
        <ul class="Set_Bul1">
            <li><input type="password" id="oldpwd" placeholder="输入旧密码" class="Bul1_iptA"><i class="Bul1_del"></i></li>
            <li><input type="password" id="newpwd" placeholder="输入新密码" class="Bul1_iptA"><i class="Bul1_del"></i></li>
            <li><input type="password" id="cfnewpwd" placeholder="确认新密码" class="Bul1_iptA"><i class="Bul1_del"></i></li>
        </ul>
        <button class="Set_btnMM" id="btnconfirm">确认修改</button>
    </div>


</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>

