@using C8.Lottery.Model
@using C8.Lottery.Public
@model C8.Lottery.Portal.Models.ACHVModel
@{
    ViewBag.Title = "MyAchievement";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>我的成绩</title>
    <link rel="stylesheet" type="text/css" href="~/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/6caiSX.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/MyAchievement.js"></script>

</head>

<body style="background:#F4F4F5;overflow-y:hidden;">
    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的成绩</a>
    </header>
    <!-- <div class="Grades_header">
        <div class="Grades_hdBox">
            <div class="Grades_hdBInfo" style="width:1100px;">  <!这里的宽度是根据下面的li来得的 下面有好多个li就乘以100>
                <ul class="Grades_hdNav">
                    <li class="current"><a href="javascript:;"><p>六合彩</p><span></span></a></li>
                    <li><a href="javascript:;"><p>重庆时时彩</p><span></span></a></li>
                    <li><a href="javascript:;"><p>双色球</p><span></span></a></li>
                    <li><a href="javascript:;"><p>七星彩</p><span></span></a></li>
                    <li><a href="javascript:;"><p>广东快乐十分</p><span></span></a></li>
                    <li><a href="javascript:;"><p>大乐透</p><span></span></a></li>
                    <li><a href="javascript:;"><p>排列3</p><span></span></a></li>
                    <li><a href="javascript:;"><p>排列5</p><span></span></a></li>
                    <li><a href="javascript:;"><p>福彩3D</p><span></span></a></li>
                    <li><a href="javascript:;"><p>广东十一选五</p><span></span></a></li>
                    <li><a href="javascript:;"><p>北京赛车</p><span></span></a></li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="hjc_hdNav">
        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="~/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                @if (Model.LotteryType != null)
                {
                    foreach (var item in Model.LotteryType)
                    {
                        if (Model.LotteryType.IndexOf(item) == 0)
                        {
                            <li class="current" data-id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                        }
                        else
                        {
                            <li data-id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                        }


                    }
                }

                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
            @*<div class="hdNav_cai_title">
                    <span>切换分类</span>
                    <span class="collect"><img src="~/images/icon-collect.png" alt="" /></span>
                </div>*@
            <ul class="hdNav_cai">
                @if (Model.LotteryType != null)
                {
                    foreach (var item in Model.LotteryType)
                    {
                        if (Model.LotteryType.IndexOf(item) == 0)
                        {
                            <li class="current" data-id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                        }
                        else
                        {
                            <li data-id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                        }
                    }
                }
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>
    <div class="gaoshou" style="margin-top:85px;">
        <div class="GS_box" id="lottery_type">

            @if (Model.LotteryType != null)
            {
                foreach (var item in Model.LotteryType)
                {
                    if (Model.LotteryType.IndexOf(item) == 0)
                    {
                        <ul id="ul_@item.Id" data-index="@item.Id" class="GS_nav">
                            @Html.Action("GetLottery", "Personal", new { ltype = Convert.ToInt32(item.Id) })
                        </ul>
                    }
                    else
                    {
                        <ul id="ul_@item.Id" data-index="@item.Id" class="GS_nav" style="display:none;">
                            @Html.Action("GetLottery", "Personal", new { ltype = Convert.ToInt32(item.Id) })
                        </ul>

                    }

                }

            }
            <div style="clear:both;"></div>
        </div>
        <a href="javascript:;" class="GS_btn"><img src="~/images/50.png"></a>
    </div>
    <div class="wrapper-container">


        @if (Model.Lottery != null)
        {
            foreach (var item in Model.Lottery)
            {
                string name = Convert.ToString(item.PId.ToString() + item.lType.ToString());

                if (Model.Lottery.IndexOf(item) == 0)
                {

                    <div class="Grades Grades_@name">
                        @Html.Action("GetIntegralRule", "Personal", new { ltype = Convert.ToInt32(item.lType), Pid = item.PId })

                    </div>
                }
                else
                {
                    <div class="Grades Grades_@name" style="display:none">
                        @Html.Action("GetIntegralRule", "Personal", new { ltype = Convert.ToInt32(item.lType), Pid = item.PId })

                    </div>

                }

            }
        }
    </div>
    <div class="mask" style="display:none;"></div>
</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>