
@{
    var MyYj = ViewBag.MyYj;
    var Txing = ViewBag.Txing;
    var Txleiji = ViewBag.Txleiji;
    var KeTx = ViewBag.KeTx;

    ViewBag.Title = "MyCommission";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>我的佣金</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="~/css/mescroll.min.css" rel="stylesheet" />
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/luo/mescroll.min.js"></script>
    <script src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>

</head>

<body style="background:#eee;overflow:hidden;">

    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的佣金</a>
        <a href="/Amount/BindingBankCard" class="SX_A">绑定账户</a>
    </header>

    <div class="sion_header">
        <div class="sion_hdInfo1">
            <div class="HdIf1_l f-l">
                <h3>@MyYj</h3>
                <a href="/Personal/CommissionRules"><p>我的佣金</p></a>
            </div>
            <a href="/Amount/ExtractCash" class="HdIf1_R f-r">提现</a>
            <div style="clear:both;"></div>
        </div>
        <ul class="sion_hdInfo2">
            <li>
                <a href="javascript:;">
                    <h3>@KeTx</h3>
                    <p>可提现</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h3>@Txing</h3>
                    <p>可提中</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h3>@Txleiji</h3>
                    <p>累计提现</p>
                </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div class="sion_hdNav">
            <ul class="C8_nav C8_Myyj">
                <li data-id="1" class="current"><a href="javascript:;"><p>收入明细</p><span></span></a></li>
                <li data-id="2" class=""><a href="javascript:;"><p>提现明细</p><span></span></a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>

    <div class="sion_content">
        <div class="sion_conInfo">
            <div id="mescroll" class="mescroll">

                <div id="dataList" class="data-list">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/MyCommission.js"></script>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>

