@using C8.Lottery.Model
@model List<LotteryType>
@{
    Layout = null;
    long userId = ViewBag.UserId;
    int ltype = ViewBag.LType;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>我的计划</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>
<body style="background:#F4F4F5; overflow-y: hidden;">
    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的计划</a>
        <a href="javascript:;" class="SX_A SX_pop">筛选</a>
    </header>
    <div class="guessing_header">
        <ul class="C8_nav3 C8_JIlU">
            <li class="current" data-index="0"><a href="javascript:;"><p>全部</p><span></span></a></li>
            <li data-index="1"><a href="javascript:;"><p>已开奖</p><span></span></a></li>
            <li data-index="2"><a href="javascript:;"><p>未开奖</p><span></span></a></li>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="details_box" style="margin-top: 100px;">
        <input type="hidden" id="userid" value="@userId" />
        <input type="hidden" id="ltype" value="@ltype" />
        <div class="details_info mescroll" id="mescroll0">
            <div id="datalist0" class="data-list">

            </div>
        </div>
        <div class="details_info1 mescroll" id="mescroll1" style="display: none;">
            <div id="datalist1" class="data-list">

            </div>
        </div>
        <div class="details_info2 mescroll" id="mescroll2" style="display: none;">
            <div id="datalist2" class="data-list">

            </div>
        </div>
    </div>
    <div class="ShaiXuan">
        <div class="shaiXuan_yy"></div>
        <div class="shaiXuan_con">
            <ul class="SX_Ul">
                @if (ltype > 0)
                {
                    <li><a href="/Personal/MyPlan">全部</a></li>
                }
                else
                {
                    <li class="current"><a href="/Personal/MyPlan">全部</a></li>
                }
                @if (Model != null)
                {
                    foreach (var type in Model)
                    {
                        if (type.Id == ltype)
                        {
                            <li class="current"><a href="/Personal/MyPlan/@type.Id">@type.TypeName</a></li>
                        }
                        else
                        {
                            <li><a href="/Personal/MyPlan/@type.Id">@type.TypeName</a></li>
                        }
                    }
                }
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>
    <script type="text/javascript" src="/js/luo/plan.myplan.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
