@model C8.Lottery.Model.UserInfo
@{
    ViewBag.Title = "Set";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-设置</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link href="@ViewBag.osshost/css/dialog.css" rel="stylesheet" />
    <link href="@ViewBag.osshost/css/head1.css" rel="stylesheet" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script>


    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">设置</a>
    </header>
    <form action="/Personal/logOut" method="post">

        <div class="Set_Up">
            <ul class="Set_UpUl">
                <li>
                    <a id="logox" href="javascript:;">
                        <p class="UpUl_LpB f-l">头像</p>
                        <div class="UpUl_Rtu f-r">
                            @if (string.IsNullOrEmpty(Model.Headpath))
                            {
                                <img id="head" src="~/images/default_avater.png">
                            }
                            else
                            {
                                <img id="head" src="@Model.Headpath">
                            }


                        </div>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/SetNickName">
                        <p class="UpUl_LpA f-l">昵称</p>
                        <p class="UpUl_RpA f-r">@Model.Name</p>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/SetAutograph">
                        <p class="UpUl_LpA f-l">个性签名</p>
                        <p class="UpUl_RpA f-r">@Model.Autograph</p>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/SetSex">
                        <p class="UpUl_LpA f-l">性别</p>
                        <p class="UpUl_RpA f-r">
                            @if (Model.Sex == 0 || Model.Sex == null)
                            {
                                @:男
                            }
                            else
                            {
                                @:女
                            }
                        </p>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/ModifyPassword">
                        <p class="UpUl_LpA">修改密码</p>
                    </a>
                </li>
            </ul>
            @*<button class="Set_Upbtn" id="btnlogOut">退出登录</button>*@
            <input type="submit" class="Set_Upbtn" value="退出登录" />
        </div>
    </form>



    <article class="htmleaf-container">
        <div id="clipArea"></div>
        <div class="foot-use">
            <div class="uploader1 blue">
                <input type="button" name="file" class="button" value="打开">
                <input id="file" type="file" onchange="javascript:setImagePreview();" accept="image/*" multiple />
            </div>
            <button id="clipBtn">截取</button>
        </div>
        <div id="view"></div>
    </article>

    <script src="@ViewBag.osshost/js/kcp/iscroll-zoom.js"></script>
    <script src="@ViewBag.osshost/js/kcp/hammer.js"></script>
    <script src="@ViewBag.osshost/js/kcp/jquery.photoClip.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/Set.js"></script>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>

