@using C8.Lottery.Model
@model List<LotteryType2>
@{
    ViewBag.Title = "TakeBet";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-参与竞猜</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>
<body style="background:#F4F4F5;overflow:hidden;">
    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">参与竞猜</a>
    </header>
    <!-- <div class="guessing_header">
        <ul class="C8_nav C8_cyjc">
            <li class="current"><a href="javascript:;"><p>高频彩</p><span></span></a></li>
            <li><a href="javascript:;"><p>全国彩</p><span></span></a></li>
            <div style="clear:both;"></div>
        </ul>
    </div> -->
    <div class="hjc_hdNav">
        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="~/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                @if (Model != null)
                {
                    int i = -1;
                    foreach (var item in Model)
                    {
                        i++;
                        if (i == 0)
                        {
                            <li class="current" data-index="@item.Id"><a href="javascript:;">@item.Name</a></li>
                        }
                        else
                        {
                            <li data-index="@item.Id"><a href="javascript:;">@item.Name</a></li>

                        }

                    }
                }

                <div style="clear:bothl;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
            @*<div class="hdNav_cai_title">
                    <span>切换分类</span>
                    <span class="collect"><img src="~/images/icon-collect.png" alt="" /></span>
                </div>*@
            <ul class="hdNav_cai">
                @if (Model != null)
                {
                    int i = -1;
                    foreach (var item in Model)
                    {
                        i++;
                        if (i == 0)
                        {
                            <li class="current" data-index="@item.Id"><a href="javascript:;">@item.Name</a></li>
                        }
                        else
                        {
                            <li data-index="@item.Id"><a href="javascript:;">@item.Name</a></li>

                        }
                    }
                }
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>
    <div class="guessing_content hjc_indexmain" style="margin-top:90px;">

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                string mid = "mescroll" + item.Id;
                string did = "datalist" + item.Id;

                <div id="@mid" class="list_mainUl2 gues_info mescroll">
                    <div id="@did" class="data-list">
                    </div>
                </div>


            }
        }

    </div>
    <div class="mask" style="display:none;"></div>

   <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/TakeBet.js"></script>

</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>