@{
    ViewBag.Title = "TransactionRecord";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-交易记录</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mescroll.min.css" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">交易记录</a>
    </header>

    <div class="guessing_header">
        <ul class="C8_nav3 C8_JIlU">
            <li data-index="1" class="current"><a href="javascript:;"><p>充值记录</p><span></span></a></li>
            <li data-index="2"><a href="javascript:;"><p>消费记录</p><span></span></a></li>
            <li data-index="3"><a href="javascript:;"><p>赚钱记录</p><span></span></a></li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div class="details_box">


        <div class="details_info1">

            <div id="mescroll1" class="mescroll">
                <div id="dataList1" class="data-list">



                </div>

            </div>

        </div>



        <div class="details_info1" style="display:none;">
            <div id="mescroll2" class="mescroll">
                <div id="dataList2" class="data-list">



                </div>
            </div>


        </div>

        <div class="details_info1" style="display:none;">

            <div id="mescroll3" class="mescroll">
                <div id="dataList3" class="data-list">



                </div>
            </div>

        </div>




    </div>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/TransactionRecord.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>

