@model C8.Lottery.Model.UserInfo

@{
    Layout = null;
    bool followed = ViewBag.Followed;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-他人主页</title>
    <link rel="stylesheet" type="text/css" href="~/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
</head>

<body style="background:#eee;">

    <div class="Other_header">
        <a href="javascript:history.go(-1);" class="hjc_back" style="z-index: 1;"></a>
        @if (string.IsNullOrEmpty(Model.Headpath))
        {
            <div class="usercenter-bg"></div>
        }
        else
        {
            <div class="usercenter-bg" style="background: url(@Model.Headpath)"></div>
        }
        <div class="Other_hdInfo1 usercenter_head">
            <div class="Other_hdIf1tu">
                <a href="javascript:;">
                    @if (string.IsNullOrEmpty(Model.Headpath))
                    {
                        <img src="/images/default_avater.png" alt="">
                    }
                    else
                    {
                        <img src="@Model.Headpath" alt="">
                    }
                </a>
            </div>
            <div class="Other_hdIf1Name">
                <input type="hidden" id="userid" value="@Model.Id" />
                <h3 class="Other_Name">
                    <a href="javascript:;">@Model.Name</a>
                </h3>
                <span class="Other_Set">
                    @if (Model.Sex == 1)
                    {
                        <img src="/images/37_2.png">
                    }
                    else
                    {
                        <img src="/images/37_1.png">
                    }
                </span>

                @if (ViewBag.ShowFollow)
                {
                    if (followed)
                    {
                        <a href="javascript:follow(@Model.Id);" data-type="1" class="Other_Gz" id="follow">已关注</a>
                    }
                    else
                    {
                        <a href="javascript:follow(@Model.Id);" data-type="0" class="Other_Gz" id="follow">关注</a>
                    }
                }
            </div>
            <div class="Other_hdIf1Font">
                @if (string.IsNullOrEmpty(Model.Autograph))
                {
                    <p>这个人很懒...</p>
                }
                else
                {
                    <p>@Model.Autograph</p>
                }
            </div>
        </div>
        <div class="Other_hdInfo2">
            <ul class="sion_hdInfo2">
                <li>
                    <a href="javascript:;">
                        <h3>@Model.Follow</h3>
                        <p>关注</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h3>@Model.Integral</h3>
                        <p>积分</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h3>@Model.Fans</h3>
                        <p>粉丝</p>
                    </a>
                </li>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div class="Other_hdInfo3">
            <ul class="C8_nav3 C8_Trzy">
                <li class="current" data-index="0" data-wapper="plan"><a href="javascript:;"><p>计划</p><span></span></a></li>
                <li class="" data-index="1" data-wapper="denamic"><a href="javascript:;"><p>动态</p><span></span></a></li>
                <li class="" data-index="2" data-wapper="visit"><a href="javascript:;"><p>访客</p><span></span></a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="Other_text" style="position: fixed; width: 100%;">
        <div class="Other_TInfo mescroll" id="mescroll0">
            <div id="datalist0" class="data-list">

            </div>
        </div>
        <div id="mescroll1" class="Other_TInfo mescroll" style="display:none;">
            <div id="datalist1" class="Other_TIDong data-list">

            </div>
        </div>
        <div id="mescroll2" class="Other_TInfo mescroll" style="display:none;">
            <div id="datalist2" class="data-list">

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/luo/personal.usercenter.js"></script>

</body>
</html>
