@model C8.Lottery.Model.Comment

@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>评论详情-万彩吧</title>
    <link rel="stylesheet" type="text/css" href="~/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/luo/dropload.min.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script src="~/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">评论详情</a>
    </header>

    @if (Model != null)
    {
        <div class="Gues_comment" style="margin-top: 50px;">

            <div class="Gues_Cbox" id="Gues1" style="padding-bottom: 0;">
                <ul class="Gues_ul">
                    <li>
                        <dl class="Guse_CDL">

                            <dt><a href="/Personal/UserCenter/@Model.UserId"><img src="@Url.Content(Model.Avater)"></a></dt>
                            <dd>
                                <div class="CDL_DDTop">
                                    <h3>
                                        <a href="/Personal/UserCenter/@Model.UserId">@Model.NickName</a>
                                    </h3>
                                    <p>@Model.SubTime.ToString("yyyy-MM-dd HH:mm")</p>
                                </div>
                                <div class="CDL_DDFont">
                                    <p>@Model.Content</p>
                                </div>
                            </dd>
                        </dl>
                        <div class="comp_Dlk4">
                            <a href="javascript::" class="comp_DZ">
                                @if (Model.CurrentUserLikes > 0)
                                {
                                    <i class="on" data-id="@Model.Id" data-ctype="2" data-commenttype="@Model.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>
                                }
                                else
                                {
                                    <i data-id="@Model.Id" data-ctype="1" data-commenttype="@Model.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>
                                }
                                @if (Model.StarCount > 0)
                                {
                                    <span>@Model.StarCount</span>
                                }
                            </a>
                            <a href="/Comment/Index/@ViewBag.CommentId?ctype=2&type=@ViewBag.Type" class="comp_HF"><img src="/images/46_3.png"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }

    <div class="Gues_comment">
        <div class="Gues_comTitle">
            <h3>全部回复<span id="totalCount"></span></h3>
            <div style="clear:both;"></div>
        </div>
        <div class="Gues_Cbox" id="Gues2">
            <ul class="Gues_ul"></ul>
        </div>
    </div>

    <script type="text/javascript">
        var id=@ViewBag.CommentId,
            ctype=@ViewBag.Type;
        var pageIndex = 1,
            pageSize = 20;
        var gues2 = $("#Gues2");
        $(function() {

            $("#Gues1").parseEmoji();
            var dropload = gues2.dropload({
                scrollArea: window,
                domDown: {
                    domClass: 'dropload-down',
                    domRefresh: '',
                    domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                    domNoData: '<div class="dropload-noData"><img src="/images/null.png" alt="暂无数据" />暂无数据</div>'
                },
                loadDownFn: function (me) {
                    $.ajax({
                        type: 'GET',
                        url: '/News/LastReply',
                        data: {
                            id: id,
                            pageIndex: pageIndex,
                            pageSize: pageSize
                        },
                        dataType: 'json',
                        success: function (res) {

                            if (res.Data.TotalCount < 1) {
                                me.noData();
                            }
                            if (res.IsSuccess && res.Data) {
                                buildHtml(res.Data);

                                if (res.Data.HasNextPage) {
                                    pageIndex++;
                                } else {
                                    me.lock();
                                }
                            } else {
                                alertmsg("服务器繁忙");
                            }

                            dropload.resetload();
                            //gues2.parseEmoji();
                        },
                        error: function (xhr, type) {
                            alertmsg("服务器繁忙");
                            dropload.resetload();
                        }
                    });
                }
            });
        });

        function buildHtml(data) {
            var html = [];

            $.each(data.PageData, function(index, value) {
                var li = '<li>'
                    + '<dl class="Guse_CDL">'
                    + '<dt><a href="/Personal/UserCenter/' + value.UserId + '"><img src="' + (value.Avater.length <= 0 ? '/images/default_avater.png' : value.Avater) + '"></a></dt>'
                    + '<dd>'
                    + ' <div class="CDL_DDTop">'
                    + '<h3><a href="/Personal/UserCenter/' + value.UserId + '">' + value.NickName + '</a></h3>'
                    + '<p>' + value.SubTimeStr + '</p>'
                    + ' </div>'
                    + '<div class="CDL_DDFont">';
                var parentComment = value.ParentComment;
                if (parentComment) {
                    li += '<p><span>' + value.Content + '</span>//<a href="/Personal/UserCenter/'+parentComment.UserId+'" class="include">@@' + parentComment.NickName + '：</a>' + parentComment.Content + '</p>';
                } else {
                    li += ' <p>' + value.Content + '</p>';
                }
                li += '</div>'
                    + '</dd>'
                    + '</dl>'
                    + '<div class="comp_Dlk4">'
                    + '<a href="javascript:;" class="comp_DZ">';
                if (value.CurrentUserLikes > 0) {
                    li += '<i class="on" data-id="' + value.Id + '" data-ctype="2" data-commenttype="' +value.Type+ '"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>';
                } else {
                    li += '<i data-id="' + value.Id + '" data-ctype="1" data-commenttype="' +value.Type+ '"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>';
                }
                li+= '<span>' + ( value.StarCount > 0 ?value.StarCount:'')+'</span>'
                    + '</a>'
                    + '<a href="/Comment/Index/'+value.Id+'?ctype=2&type='+ctype+'" class="comp_HF"><img src="/images/46_3.png"></a>'
                    + '</div>'
                    + '</li>';
                html.push(li);
            });
            var lilistHtml = $.stringParseEmoji(html.join(''));
            $("#Gues2 .Gues_ul").append(lilistHtml);
            $("#totalCount").html('（'+ data.TotalCount+'）');

        }

    </script>
</body>

</html>
