@model C8.Lottery.Model.Comment

@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>评论详情-万彩吧</title>
    <link rel="stylesheet" type="text/css" href="~/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/dropload.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script src="@ViewBag.osshost/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">评论详情</a>
    </header>

    @if (Model != null)
    {
        <div class="Gues_comment" style="margin-top: 50px;">

            <div class="Gues_Cbox" id="Gues1" style="padding-bottom: 0;">
                <ul class="Gues_ul">
                    <li>
                        <dl class="Guse_CDL">

                            <dt><a href="/Personal/UserCenter/@Model.UserId"><img src="@Url.Content(Model.Avater)"></a></dt>
                            <dd>
                                <div class="CDL_DDTop">
                                    <h3>
                                        <a href="/Personal/UserCenter/@Model.UserId">@Model.NickName</a>
                                    </h3>
                                    <p>@Model.SubTime.ToString("yyyy-MM-dd HH:mm")</p>
                                </div>
                                <div class="CDL_DDFont">
                                    <p>@Model.Content</p>
                                </div>
                            </dd>
                        </dl>
                        <div class="comp_Dlk4">
                            <a href="javascript:;" class="comp_DZ">
                                @if (Model.CurrentUserLikes > 0)
                                {
                                    <i class="on" data-id="@Model.Id" data-ctype="2" data-commenttype="@Model.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>
                                }
                                else
                                {
                                    <i data-id="@Model.Id" data-ctype="1" data-commenttype="@Model.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>
                                }
                                @if (Model.StarCount > 0)
                                {
                                    <span>@Model.StarCount</span>
                                }
                            </a>
                            <a href="/Comment/Index/@ViewBag.CommentId?ctype=2&type=@ViewBag.Type" class="comp_HF"><img src="/images/46_3.png"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }

    <div class="Gues_comment">
        <div class="Gues_comTitle">
            <h3>全部回复<span id="totalCount"></span></h3>
            <div style="clear:both;"></div>
        </div>
        <div class="Gues_Cbox" id="Gues2">
            <ul class="Gues_ul"></ul>
        </div>
    </div>

    <script type="text/javascript">
        var id=@ViewBag.CommentId,
            ctype=@ViewBag.Type;     
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/CommentDetail.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
