@{
    Layout = null;
}
@using C8.Lottery.Model
@model List<Comment>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>评论</title>
    <link rel="stylesheet" type="text/css" href="~/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/dropload.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script src="@ViewBag.osshost/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>
<body style="background:#F4F4F5;">
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">评论</a>
    </header>

    @if (Model != null && Model.Count > 0)
    {
        <div class="Gues_comment" style="margin-top: 50px;">
            <div class="Gues_comTitle">
                <h3>精彩评论</h3>
                <div style="clear: both;"></div>
            </div>
            <div class="Gues_Cbox" id="Gues1">
                <ul class="Gues_ul">
                    @foreach (var comment in Model)
                    {
                        <li>
                            <dl class="Guse_CDL">
                                <dt><a href="/Personal/UserCenter/@comment.UserId"><img src="@Url.Content(comment.Avater)"></a></dt>
                                <dd>
                                    <div class="CDL_DDTop">
                                        <h3>
                                            <a href="/Personal/UserCenter/@comment.UserId">@comment.NickName</a>
                                        </h3>
                                        <p>@comment.SubTime.ToString("yyyy-MM-dd HH:mm")</p>
                                    </div>
                                    <div class="CDL_DDFont">
                                        <p>@comment.Content</p>
                                    </div>
                                </dd>
                            </dl>
                            <div class="comp_Dlk4">
                                <a href="javascript:;" class="comp_DZ">
                                    @if (comment.CurrentUserLikes > 0)
                                    {
                                        <i class="on" data-id="@comment.Id" data-ctype="2" data-commenttype="@comment.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>
                                    }
                                    else
                                    {
                                        <i data-id="@comment.Id" data-ctype="1" data-commenttype="@comment.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>
                                    }
                                    @if (comment.StarCount > 0)
                                    {
                                        <span>@comment.StarCount</span>
                                    }
                                </a>
                                <a href="/Comment/Index/@comment.Id?ctype=2&type=@ViewBag.Type" class="comp_HF"><img src="/images/46_3.png"></a>
                            </div>
                            @if (comment.ReplayCount > 0)
                            {
                                <div class="comp_replay">
                                    <a href="/News/CommentDetail/@comment.Id?type=@ViewBag.Type">查看全部<span>@comment.ReplayCount</span>条回复>></a>
                                </div>
                            }
                        </li>
                    }
                </ul>
                <ol class="Gues_ol"></ol>
            </div>
        </div>
    }
    <div class="Gues_comment">
        <div class="Gues_comTitle">
            <h3>最新评论<span id="totalCount"></span></h3>
            <div style="clear:both;"></div>
        </div>
        <div class="Gues_Cbox" id="Gues2">
            <ul class="Gues_ul"></ul>
            <ol class="Gues_ol"></ol>
        </div>
    </div>
    <div class="Gues_footer">
        <div class="Gues_ftTB f-r">
            <a href="javascript:;" class="ftTB_A">
                <img src="/images/62_1.png">
                <font>@ViewBag.CommentTotalCount</font>
            </a>
            @*<a href="javascript:showShare();" class="ftTB_A ShareBtn"><img src="/images/62_2.png"></a>*@
        </div>
        <a href="/Comment/Index/@ViewBag.ArticleId?ctype=1&type=@ViewBag.Type" class="Gues_ftFBPL">请输入您的评论</a>
    </div>

    <!--分享-->
    <div class="Gues_share">
        <div class="Share_info">
            <div class="Share_ifTitle">
                <h3>分享至</h3>
            </div>
            <ul class="Share_ifNav">
                <li>
                    <a href="javascript:;">
                        <div class="Share_iNtu"><img src="/images/63_1.png"></div>
                        <p>微信好友</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="Share_iNtu"><img src="/images/63_2.png"></div>
                        <p>朋友圈</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="Share_iNtu"><img src="/images/63_3.png"></div>
                        <p>QQ好友</p>
                    </a>
                </li>
                <div style="clear:both;"></div>
            </ul>
            <a href="javascript:hideShare();" class="Del_Share">取消分享</a>
        </div>
    </div>
    <script type="text/javascript">
        var id=@ViewBag.ArticleId,
            ctype=@ViewBag.Type,RefUid=@ViewBag.RefUid;
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/CommentList.js"></script>
</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>
