@{
    Layout = null;
}

@using C8.Lottery.Model
@model List<Comment>

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>评论</title>
    <link rel="stylesheet" type="text/css" href="~/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/luo/dropload.min.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script src="~/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:;" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">评论</a>
    </header>



    @if (Model != null && Model.Count > 0)
    {
        <div class="Gues_comment" style="margin-top: 50px;">
            <div class="Gues_comTitle">
                <h3>精彩评论</h3>
                <div style="clear: both;"></div>
            </div>
            <div class="Gues_Cbox" id="Gues1">
                <ul class="Gues_ul">
                    @foreach (var comment in Model)
                    {
                        <li>
                            <dl class="Guse_CDL">

                                <dt><a href="javascript:;"><img src="@Url.Content(comment.Avater)"></a></dt>
                                <dd>
                                    <div class="CDL_DDTop">
                                        <h3>
                                            <a href="javascript:;">@comment.NickName</a>
                                        </h3>
                                        <p>@comment.SubTime.ToString("yyyy-MM-dd HH:mm")</p>
                                    </div>
                                    <div class="CDL_DDFont" id="iii">
                                        <p>@comment.Content</p>
                                    </div>
                                </dd>
                            </dl>
                            <div class="comp_Dlk4">
                                <a href="javascript::" class="comp_DZ">
                                    @if (comment.CurrentUserLikes > 0)
                                    {
                                        <i class="on"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>

                                    }
                                    else
                                    {
                                        <i><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>

                                    }
                                    @if (comment.StarCount > 0)
                                    {
                                        <span>@comment.StarCount</span>
                                    }
                                </a>
                                <a href="/Comment/Index/@ViewBag.ArticleId?ctype=2&type=@ViewBag.Type" class="comp_HF"><img src="/images/46_3.png"></a>
                            </div>

                            @if (comment.ReplayCount > 0)
                            {
                                <div class="comp_replay"><a href="/News/CommentDetail/@comment.Id">查看全部<span>@comment.ReplayCount</span>条回复>></a>
                                </div>
                            }
                        </li>
                    }
                </ul>
                <ol class="Gues_ol"></ol>
            </div>
        </div>
    }

<div class="Gues_comment">
        <div class="Gues_comTitle">
            <h3>最新评论<span id="totalCount"></span></h3>
            <div style="clear:both;"></div>
        </div>
        <div class="Gues_Cbox" id="Gues2">
            <ul class="Gues_ul">
              
            </ul>
            <ol class="Gues_ol"></ol>
        </div>
    </div>

<div class="Gues_footer">
        <div class="Gues_ftTB f-r">
            <a href="javascript:;" class="ftTB_A">
                <img src="/images/62_1.png">
                <font>@ViewBag.CommentTotalCount</font>
            </a>
            <a href="javascript:showShare();" class="ftTB_A ShareBtn"><img src="/images/62_2.png"></a>
        </div>
        <a href="javascript:;" class="Gues_ftFBPL">请输入您的评论</a>
    </div>


    <!--分享-->
    <div class="Gues_share">
        <div class="Share_info">
            <div class="Share_ifTitle">
                <h3>分享至</h3>
            </div>
            <ul class="Share_ifNav">
                <li>
                    <a href="javascript:;">
                        <div class="Share_iNtu"><img src="/images/63_1.png"></div>
                        <p>微信好友</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="Share_iNtu"><img src="/images/63_2.png"></div>
                        <p>朋友圈</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="Share_iNtu"><img src="/images/63_3.png"></div>
                        <p>QQ好友</p>
                    </a>
                </li>
                <div style="clear:both;"></div>
            </ul>
            <a href="javascript:hideShare();" class="Del_Share">取消分享</a>
        </div>
    </div>

<script type="text/javascript">
    var id=@ViewBag.ArticleId,
        ctype=@ViewBag.Type;

    var pageIndex = 1,
        pageSize = 20;
    $(function() {
        
        //emojiParse();
        emojiParse("Gues1");
        var dropload = $("#Gues2").dropload({
            scrollArea: window,
            domDown: {
                domClass: 'dropload-down',
                domRefresh: '',
                domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                domNoData: '<div class="dropload-noData"><img src="/images/null.png" alt="暂无数据" />暂无数据</div>'
            },
            loadDownFn: function(me) {
                $.ajax({
                    type: 'GET',
                    url: '/News/LastComment',
                    data: {
                        id: id,
                        type: ctype,
                        pageIndex: pageIndex,
                        pageSize: pageSize
                    },
                    dataType: 'json',
                    success: function(res) {
                        if (res.Data.TotalCount < 1) {
                            me.noData();
                        }
                        if (res.IsSuccess && res.Data) {
                            buildHtml(res.Data);

                            if (res.Data.HasNextPage) {
                                pageIndex++;
                            } else {
                                me.lock();
                            }
                        } else {
                            alertmsg("服务器繁忙");
                        }

                        dropload.resetload();
                        
                        emojiParse("Gues2");
                    },
                    error: function(xhr, type) {
                        alertmsg("服务器繁忙");
                        dropload.resetload();
                    }
                });
            }
        });
    });

    function buildHtml(data) {
        var html = [];

        $.each(data.PageData, function(index, value) {
            var li = '<li>'
                + '<dl class="Guse_CDL">'
                + '<dt><a href="javascript:;"><img src="' + (value.Avater.length <= 0 ? '/images/default_avater.png' : value.Avater) + '"></a></dt>'
                + '<dd>'
                + ' <div class="CDL_DDTop">'
                + '<h3><a href="javascript:;">' + value.NickName + '</a></h3>'
                + '<p>' + value.SubTimeStr + '</p>'
                + ' </div>'
                + '<div class="CDL_DDFont">'
                + ' <p>' + value.Content + '</p>'
                + '</div>'
                + '</dd>'
                + '</dl>'
                + '<div class="comp_Dlk4">'
                + '<a href="javascript:;" class="comp_DZ">'
                + '<i class="on"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>'
                + '<span>' + (value.StarCount > 0 ? value.StarCount : '') + '</span>'
                + '</a>'
                + '<a href="/Comment/Index/' + id + '?ctype=2&type=' + ctype + '" class="comp_HF"><img src="/images/46_3.png"></a>'
                + '</div>'
                + (value.ReplayCount > 0 ? '<div class="comp_replay"><a href="/News/CommentDetail/' + value.Id + '">查看全部<span>' + value.ReplayCount + '</span>条回复>></a></div>' : '')
                + '</li>';
            html.push(li);
        });

        $("#Gues2 .Gues_ul").append(html.join(''));
        $("#totalCount").html('（' + data.TotalCount + '）');
    }

    function emojiParse(elementId) {
        $("#"+elementId).emojiParse({
            icons: [{
                    path: "/images/emoji/qq/",
                    file: ".gif",
                    placeholder: "#{alias}#",
                    alias: {
                        1: "wx",
                        2: "pz",
                        3: "se",
                        4: "fd",
                        5: "dy",
                        6: "ll",
                        7: "hx",
                        8: "bz",
                        9: "shui",
                        10: "dk",
                        11: "gg",
                        12: "fn",
                        13: "tp",
                        14: "cy",
                        15: "jy",
                        16: "ng",
                        17: "kuk",
                        18: "lengh",
                        19: "zk",
                        20: "tuu",
                        21: "tx",
                        22: "ka",
                        23: "baiy",
                        24: "am",
                        25: "jie",
                        26: "kun",
                        27: "jk",
                        28: "lh",
                        29: "hanx",
                        30: "db",
                        31: "fendou",
                        32: "zhm",
                        33: "yiw",
                        34: "xu",
                        35: "yun",
                        36: "zhem",
                        37: "shuai",
                        38: "kl",
                        39: "qiao",
                        40: "zj",
                        41: "ch",
                        42: "kb",
                        43: "gz",
                        44: "qd",
                        45: "hx",
                        46: "zhh",
                        47: "yhh",
                        48: "hq",
                        49: "bs",
                        50: "wq",
                        51: "kk",
                        52: "yx",
                        53: "qq",
                        54: "xia",
                        55: "kel",
                        56: "cd",
                        57: "pj",
                        58: "cha",
                        59: "fan",
                        60: "zt",
                        61: "mg",
                        62: "dx",
                        63: "sa",
                        64: "xin",
                        65: "sa",
                        66: "dg",
                        67: "shd",
                        68: "zhd",
                        69: "dao",
                        70: "zq",
                        71: "pch",
                        72: "bb",
                        73: "yb",
                        74: "qiang",
                        75: "ruo",
                        76: "ws",
                        77: "shl",
                        78: "bq",
                        79: "gy",
                        80: "qt",
                        81: "cj",
                        82: "aini",
                        83: "bu",
                        84: "hd",
                        85: "tiao",
                        86: "fad",
                        87: "oh",
                        88: "kt",
                        89: "ht",
                        90: "jd",
                        91: "jw"
                    }
                }, {
                    path: "/images/emoji/tieba/",
                    file: ".jpg",
                    placeholder: ":{alias}:",
                    alias: {
                        1: "hehe",
                        2: "haha",
                        3: "tushe",
                        4: "a",
                        5: "ku",
                        6: "lu",
                        7: "kaixin",
                        8: "han",
                        9: "lei",
                        10: "heixian",
                        11: "bishi",
                        12: "bugaoxing",
                        13: "zhenbang",
                        14: "qian",
                        15: "yiwen",
                        16: "yinxian",
                        17: "tu",
                        18: "yi",
                        19: "weiqu",
                        20: "huaxin",
                        21: "hu",
                        22: "xiaonian",
                        23: "neng",
                        24: "taikaixin",
                        25: "huaji",
                        26: "mianqiang",
                        27: "kuanghan",
                        28: "guai",
                        29: "shuijiao",
                        30: "jinku",
                        31: "shengqi",
                        32: "jinya",
                        33: "pen",
                        34: "aixin",
                        35: "xinsui",
                        36: "meigui",
                        37: "liwu",
                        38: "caihong",
                        39: "xxyl",
                        40: "taiyang",
                        41: "qianbi",
                        42: "dnegpao",
                        43: "chabei",
                        44: "dangao",
                        45: "yinyue",
                        46: "haha2",
                        47: "shenli",
                        48: "damuzhi",
                        49: "ruo",
                        50: "OK"
                    }
                }]
        });
    }
</script>
</body>

</html>
