@using C8.Lottery.Model
@{
    Layout = null;

    List<Gallery> galleryList = ViewBag.GalleryList;
    var currentId = galleryList.Any() ? galleryList.FirstOrDefault().Id : 0;
    NewsType newsType = ViewBag.NewsType;
    
}
@model Gallery

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.Name-@newsType.TypeName</title>
    <meta name="keywords" content="@newsType.SeoKeyword">
    <meta name="description" content="@newsType.SeoDescription">
    <script type="text/javascript" src="~/js/fontSize.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <link rel="stylesheet" type="text/css" href="~/css/paper.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/yjp.js"></script>
    <script>
        $(function ()
        {
            var location=@newsType.Id;
            getadlist(location);
        });
        function getadlist(location)
        {
            $.get("/News/GetAdvertisementListJson",
                {
                    location: location,
                    adtype: 2
                },
               function (data)
               {
                   if (data.Success == true)
                   {
                       inadHtml(data.data);
                       console.log(data.data);
                   } else
                   {
                       alert("Data Loaded: " + data.Msg);
                   }

               });
        }
        function inadHtml(data)
        {
            $.each(data, function (index, item)
            {
                if(item.Layer==1)
                {
                    $(".listdetail").prepend(itemhtml(item))
                }else if(item.Layer==2)
                {
                    $(".listtitle").after(itemhtml(item))
                }else if(item.Layer==3)
                {
                    $(".slick-track").after(itemhtml(item))
                }
                else if(item.Layer==4)
                {
                    $(".rec-gallery dt").after(itemhtml(item))
                }
                else if(item.Layer==5)
                {
                    $(".rec-gallery").after(itemhtml(item))
                }
                else if(item.Layer==6)
                {
                    //$(".hjc_news_lhs").after(itemhtml(item))
                    //$(".GG_Box").addClass("GG_Box1")

                } else if(item.Layer==7)
                {
                    //$(".raking").after(itemhtml(item))
                    //$(".GG_Box").addClass("GG_Box1")
                }
            });
        }
        function itemhtml(item)
        {
            var html='';
            if(item.ThumbStyle==0)
            {
                html='<div class="GG_Box ">'
	  +'<a href="'+item.TransferUrl+'">'
    	+'<h3 class="GG_B1Tit">'+item.Title+'</h3>'
       + '<div class="GG_BbtFont">'
        	+'<b>广告</b>'
          +  '<span>'+item.Company+'</span>'
       + '</div>'
         +'</a>'
            +'</div>'

            }else if(item.ThumbStyle==1)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    img='<img src="'+item.ThumbList[0]+'">'
                }


                html='<div class="GG_Box">'
	+'<a href="'+item.TransferUrl+'">'
    	+'<div class="GG_B2Left f-l">'
        	+'<h3 class="GG_B1Tit">'+item.Title+'</h3>'
          +  '<div class="GG_BbtFont">'
            +   ' <b>广告</b>'
           +    ' <span>'+item.Company+'</span>'
          +  '</div>'
       + '</div>'
    	+'<div class="GG_B2Right">'+img+'</div>'
    +'</a>'
    +'</div>'

            }else if(item.ThumbStyle==2)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    img='<img src="'+item.ThumbList[0]+'">'
                }
                html='<div class="GG_Box">'
	+'<a href="'+item.TransferUrl+'">'
    	+'<h3 class="GG_B1Tit">'+item.Title+'</h3>'
       + '<div class="GG_B4Tu">'+img+'</div>'
       + '<div class="GG_BbtFont">'
      +  	'<b>广告</b>'
      +      '<span>'+item.Company+'</span>'
     +   '</div>'
   + '</a>'
+'</div>'

            }else if(item.ThumbStyle==3)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    for (var i = 0; i < item.ThumbList.length; i++)
                    {
                        img+='<li><img src="'+item.ThumbList[i]+'"></li>'
                    }
                }

                html='<div class="GG_Box">'
	+ '<a href="'+item.TransferUrl+'">'
    	+ '<h3 class="GG_B1Tit">'+item.Title+'</h3>'
        + '<ul class="GG_B3Tu">'
        	+img
            + '<div style="clear:both;"></div>'
        + '</ul>'

        + '<div class="GG_BbtFont">'
        	+ '<b>广告</b>'
            + '<span>'+item.Company+'</span>'
        + '</div>'
    + '</a>'
+ '</div>'
            }else if(item.ThumbStyle==4)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    img='<img src="'+item.ThumbList[0]+'"  class="GG_B5Tu">'
                }
                html='  <div class="GG_Box">'
               + ' <a href="javascript:;">'+img+'</a>'
               + '   </div>'
            }


            return html;
        }

    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@Model.Name</a>
        <a href="javascript::" class="ZX_Sidebar"></a>
    </header>

    <div class="alllist">
        <div id="navbox" class="top-nav oh">
            <div class="nav-box">

                @foreach (var item in galleryList)
                {
                    if (item.Id == currentId)
                    {
                        <div class="line on">第@(item.Issue)期</div>
                    }
                    else
                    {
                        <div class="line">第@(item.Issue)期</div>
                    }
                }
            </div>
        </div>
        <div class="upbtn"></div>
        <div class="all-nav">
            @foreach (var item in galleryList)
            {
                <div class="line">第@(item.Issue)期</div>
            }
        </div>
    </div>
    <div class="listdetail oh">
        <div class="listtitle">@Model.Name</div>
        <div class="slick-track oh" id="slick">
            @foreach (var item in galleryList)
            {
                <div class="slick-slide">
                    <img data-src="@item.Picture" alt="@item.Name" data-type="@item.TypeId" style="opacity: 1;" />
                </div>
            }
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="rec-gallery">
        <dl>
            <dt>其他推荐</dt>
            @if (ViewBag.RecommendGalleryList != null)
            {
                foreach (var item in ViewBag.RecommendGalleryList as List<Gallery>)
                {

                    <dd>
                        <a href="/News/Gallery/@item.Id">@item.Name</a>
                    </dd>
                }
            }

        </dl>
        <div style="clear: both;"></div>
    </div>

    <div class="tuku_xh">
        <!-- <div class="tuku_xh_tit">您可能喜欢</div>
        <div class="tuku_xh_con">
            <ul class="clearfix">
                        </ul>
        </div> -->
    </div>

    <div class="pswp__bg_f">
        <div class="pswp_title">第@(Model.Issue)期</div>
    </div>
    <div class="paper-warp" id="paper-warp">

        <div class="odiv center">
            <div class="oimg"><img id="opic" src="/images/loading.gif"></div>
        </div>

    </div>

    <div class="ui-alert-layer"></div>
    <section class="inav-warp">
        <div style=" height:50px"></div>
    </section>


    <script type="text/javascript" src="~/js/view.js"></script>

    <!--侧边栏-->
    <div class="ZX_CLBox">
        <div class="CLB_YY"></div>
        <div class="CLB_con">
            <ul class="CLB_cNav">
                <!--cNav_current-->
                <li>
                    <a href="/Home/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_1.png"></dt>
                            <dd>
                                <p>首页</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Open">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_2.png"></dt>
                            <dd>
                                <p>开奖</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="JavaScript:;">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_3.png"></dt>
                            <dd>
                                <p>走势</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Plan">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_4.png"></dt>
                            <dd>
                                <p>计划</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Talking/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_5.png"></dt>
                            <dd>
                                <p>聊天</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
