@using C8.Lottery.Model
@{
    Layout = null;

    List<Gallery> galleryList = ViewBag.GalleryList;
    var currentId = galleryList.Any() ? galleryList.FirstOrDefault().Id : 0;
    NewsType newsType = ViewBag.NewsType;
    string CityId = ViewBag.CityId;
}
@model Gallery

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.Name-@newsType.TypeName</title>
    <meta name="keywords" content="@newsType.SeoKeyword">
    <meta name="description" content="@newsType.SeoDescription">
    <script type="text/javascript" src="@ViewBag.osshost/js/fontSize.js"></script>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/c8-icon.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/paper.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script>
        var newstypeid=@newsType.Id;
        var CityId=@CityId;
    </script>
   

</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@Model.Name</a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>

    <div class="alllist">
        <div id="navbox" class="top-nav oh" style="overflow: hidden;">
            <div class="nav-box">

                @foreach (var item in galleryList)
                {
                    if (item.Id == currentId)
                    {
                        <div class="line on">第@(item.Issue)期</div>
                    }
                    else
                    {
                        <div class="line">第@(item.Issue)期</div>
                    }
                }
            </div>
        </div>
        <div class="upbtn"></div>
        <div class="all-nav">
            @foreach (var item in galleryList)
            {
                <div class="line">第@(item.Issue)期</div>
            }
        </div>
    </div>
    <div class="listdetail oh">
        <div class="listtitle">@Model.Name</div>
        <div class="slick-track oh" id="slick">
            @foreach (var item in galleryList)
            {
                <div class="slick-slide">
                    <img data-src="@item.Picture" alt="@item.Name" data-type="@item.TypeId" style="opacity: 1;" />
                </div>
            }
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="rec-gallery">
        <dl>
            <dt>其他推荐</dt>
            @if (ViewBag.RecommendGalleryList != null)
            {
                foreach (var item in ViewBag.RecommendGalleryList as List<Gallery>)
                {

                    <dd>
                        <a href="/News/Gallery/@item.Id">@item.Name</a>
                    </dd>
                }
            }

        </dl>
        <div style="clear: both;"></div>
    </div>

    <div class="tuku_xh">
        <!-- <div class="tuku_xh_tit">您可能喜欢</div>
        <div class="tuku_xh_con">
            <ul class="clearfix">
                        </ul>
        </div> -->
    </div>

    <div class="pswp__bg_f">
        <div class="pswp_title">第@(Model.Issue)期</div>
    </div>
    <div class="paper-warp" id="paper-warp">

        <div class="odiv center">
            <div class="oimg"><img id="opic" src="/images/loading.gif"></div>
        </div>

    </div>

    <div class="ui-alert-layer"></div>
    <section class="inav-warp">
        <div style=" height:50px"></div>
    </section>


    <script type="text/javascript" src="~/js/view.js"></script>

    <!--侧边栏-->
    <div class="ZX_CLBox">
        <div class="CLB_YY"></div>
        <div class="CLB_con">
            <ul class="CLB_cNav">
                <!--cNav_current-->
                <li>
                    <a href="/Home/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_1.png"></dt>
                            <dd>
                                <p>首页</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Open">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_2.png"></dt>
                            <dd>
                                <p>开奖</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                @*<li>
                        <a href="JavaScript:;">
                            <dl class="cNav_Dl">
                                <dt><img src="/images/w6_4.png"></dt>
                                <dd>
                                    <p>走势</p>
                                    <img src="/images/w7.png">
                                    <div style="clear:both;"></div>
                                </dd>
                            </dl>
                        </a>
                    </li>*@
                <li>
                    <a href="/Home/Plan">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_3.png"></dt>
                            <dd>
                                <p>计划</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_04.png"></dt>
                            <dd>
                                <p>排行</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Talking/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_5.png"></dt>
                            <dd>
                                <p>聊天</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Expert">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_06.png"></dt>
                            <dd>
                                <p>高手</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/News/NewIndex/2">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_07.png"></dt>
                            <dd>
                                <p>资讯</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/Gallery.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
