@using C8.Lottery.Model
@{
    Layout = null;

    List<Gallery> galleryList = ViewBag.GalleryList;
    var currentId = galleryList.Any() ? galleryList.FirstOrDefault().Id : 0;
    NewsType newsType = ViewBag.NewsType;
    
}
@model Gallery

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.Name-@newsType.TypeName</title>
    <meta name="keywords" content="@newsType.SeoKeyword">
    <meta name="description" content="@newsType.SeoDescription">
    <script type="text/javascript" src="~/js/fontSize.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <link rel="stylesheet" type="text/css" href="~/css/paper.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@Model.Name</a>
    </header>

    <div class="alllist">
        <div id="navbox" class="top-nav oh">
            <div class="nav-box">

                @foreach (var item in galleryList)
                {
                    if (item.Id == currentId)
                    {
                        <div class="line on">第@(item.Issue)期</div>
                    }
                    else
                    {
                        <div class="line">第@(item.Issue)期</div>
                    }
                }
            </div>
        </div>
        <div class="upbtn"></div>
        <div class="all-nav">
            @foreach (var item in galleryList)
            {
                <div class="line">第@(item.Issue)期</div>
            }
        </div>
    </div>
    <div class="listdetail oh">
        <div class="listtitle">@Model.Name</div>
        <div class="slick-track oh" id="slick">
            @foreach (var item in galleryList)
            {
                <div class="slick-slide">
                    <img data-src="@item.Picture" alt="@item.Name" data-type="@item.TypeId" style="opacity: 1;" />
                </div>
            }
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="rec-gallery">
        <dl>
            <dt>其他推荐</dt>
            @if (ViewBag.RecommendGalleryList != null)
            {
                foreach (var item in ViewBag.RecommendGalleryList as List<Gallery>)
                {

                    <dd>
                        <a href="/News/Gallery/@item.Id">@item.Name</a>
                    </dd>
                }
            }

        </dl>
        <div style="clear: both;"></div>
    </div>

    <div class="tuku_xh">
        <!-- <div class="tuku_xh_tit">您可能喜欢</div>
        <div class="tuku_xh_con">
            <ul class="clearfix">
                        </ul>
        </div> -->
    </div>

    <div class="pswp__bg_f">
        <div class="pswp_title">第@(Model.Issue)期</div>
    </div>
    <div class="paper-warp" id="paper-warp">

        <div class="odiv center">
            <div class="oimg"><img id="opic" src="/images/loading.gif"></div>
        </div>

    </div>

    <div class="ui-alert-layer"></div>
    <section class="inav-warp">
        <div style=" height:50px"></div>
    </section>


    <script type="text/javascript" src="~/js/view.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
