@using C8.Lottery.Model;
@using C8.Lottery.Public;
@using System.Configuration;
@{
    Layout = null;

    int currentLotteryTypeId = ViewBag.CurrentLotteryType;

    NewsType newsType = ViewBag.CurrentNewsType;
    long currentNewsTypeId = newsType == null ? 0 : newsType.Id;

    int lType = ViewBag.lType;

    var socketUrl = ConfigurationManager.AppSettings["WebSocketUrl"];
}
@model LotteryType

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    @if (Model.TypeName == "六合彩")
    {
        <title>@Model.SeoSubject</title>
        <meta name="keywords" content="@Model.SeoKeyword">
        <meta name="description" content="@Model.SeoDescription">
    }
    else
    {
        if (newsType != null)
        {
            <title>@newsType.SeoSubject</title>
            <meta name="keywords" content="@newsType.SeoKeyword">
            <meta name="description" content="@newsType.SeoDescription">
        }
        else
        {
            <title>@Model.TypeName</title>
        }
    }
    <link rel="stylesheet" href="~/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/luo/dropload.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
    <script type="text/javascript" src="~/js/runTime2.js"></script>

</head>
<body style="background:#F4F4F5;">
    <input type="hidden" id="lType" value="@lType" />
    @if (Model.TypeName == "六合彩")
    {

        <header class="hjc_header">
            <a href="javascript:history.go(-1);" class="hjc_back"></a>
            <a href="javascript:;" class="hjc_logo  hjc_HeaderXL">@Model.TypeName</a>
            <a href="/Home/Index" class="hjc_home_right"></a>
        </header>
    }
    else
    {
        <header class="hjc_header">
            <a href="javascript:history.go(-1);" class="hjc_back"></a>
            <a href="javascript:;" class="hjc_logo hjc_HeaderXL">@Model.TypeName<span class="select_sign"></span></a>
            <a href="/Home/Index" class="hjc_home_right"></a>
        </header>
        <div class="hjc_hdNav fixed" style="display: none">
            <div class="hdNav_cai_expand">
                <ul class="hdNav_cai">
                    @foreach (LotteryType entity in ViewBag.LotteryTypeList)
                    {
                        if (entity.TypeName == "6彩")
                        {
                            if (entity.Id == currentLotteryTypeId)
                            {
                                <li class="current" data-id="@entity.Id">
                                    @Html.ActionLink(@entity.TypeName, "TypeList", new { id = @entity.Id })

                                </li>
                            }
                            else
                            {

                                <li data-id="@entity.Id">
                                    @Html.ActionLink(@entity.TypeName, "TypeList", new { id = @entity.Id })

                                </li>
                            }
                        }
                        else
                        {
                            if (entity.Id == currentLotteryTypeId)
                            {
                                <li class="current" data-id="@entity.Id">
                                    @Html.ActionLink(@entity.TypeName, "Index", new { id = @entity.Id })

                                </li>
                            }
                            else
                            {

                                <li data-id="@entity.Id">
                                    @Html.ActionLink(@entity.TypeName, "Index", new { id = @entity.Id })

                                </li>
                            }
                        }
                    }
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>
    }
    <div class="Plan_content top50">
        <div class="Plan_CInfo">
            <div class="CZ_hdtit" onclick="location.href='/Record/OpenRecord/?lType=@lType'">
                <dl class="CZ_hdMain">
                    <dt><a href="javascript:;"><img src="~/images/@ViewBag.Icon"></a></dt>
                    <dd>
                        <div class="hdM_ddtit">
                            <h3 class="hdM_ddtqi f-l">第<span id="txtIssue">@ViewBag.lastIssue</span>期</h3>
                            <p class="hdM_ddtime f-r">
                                下期开奖：

                                @if (ViewBag.time == "正在开奖")
                                {
                                    <span id="openTime">正在开奖</span>
                                }
                                else
                                {
                                    if (lType < 9)
                                    {
                                        <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }
                                    else
                                    {
                                        <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }

                                }

                            </p>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="hdM_ddcon" id="ballListDiv">
                            @{
                                int countFor6 = 0;


                                string num = ViewBag.lastNum;
                                string[] numArr = num.Split(',');


                                if (lType == 5)
                                {
                                    foreach (string s in numArr)
                                    {
                                        countFor6++;

                                        string color = Util.GetColor(s);
                                        string cl = "";
                                        if (color == "red")
                                        {
                                            cl = "hdM_spliu hdM_spliured";
                                        }
                                        else if (color == "green")
                                        {
                                            cl = "hdM_spliu hdM_spliugreen";
                                        }
                                        else
                                        {
                                            cl = "hdM_spliu hdM_spliublue";
                                        }

                                        <span class="@cl">@s</span>
                                        if (countFor6 == 6)
                                        {
                                            <span class="Mif_jgC">+</span>
                                        }

                                    }
                                }
                                else
                                {
                                    int i = -1;
                                    foreach (string s in numArr)
                                    {
                                        i++;
                                        if (lType == 63 || lType == 64)
                                        {
                                            string clazz = "hdM_spPK hdM_spPK" + s;
                                            <span class="@clazz">@s</span>
                                        }
                                        else if (lType == 2)
                                        {
                                            if (i == 6)
                                            {
                                                <span class="hdM_spssc HYJP_Blue">@s</span>
                                            }
                                            else
                                            {
                                                <span class="hdM_spssc HYJP_Red">@s</span>
                                            }
                                        }
                                        else if (lType == 4)
                                        {
                                            if (i == 5 || i == 6)
                                            {
                                                <span class="hdM_spssc HYJP_Blue">@s</span>
                                            }
                                            else
                                            {
                                                <span class="hdM_spssc HYJP_Red">@s</span>
                                            }
                                        }
                                        else if (lType == 8)
                                        {
                                            if (i == 7)
                                            {
                                                <span class="hdM_spssc HYJP_Blue">@s</span>
                                            }
                                            else
                                            {
                                                <span class="hdM_spssc HYJP_Red">@s</span>
                                            }
                                        }

                                        else
                                        {
                                            <span class="hdM_spssc HYJP_Red">@s</span>
                                        }

                                    }
                                }
                            }
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="info_hdnav LHC_info_YLZB_nav">
        <div class="info_hdNav_cai_collect ">
            <div class="info_hdNav_cai_lhs_expand"><img src="/images/icon-expand.png"></div>
            <ul class="info_hdNav_cai_lhs">
                @foreach (NewsType item in ViewBag.NewsTypeList)
                {
                    if (item.Id == currentNewsTypeId)
                    {
                        <li class="current" data-id="@item.Id" data-pageIndex="1" data-pageSize="10">
                            @Html.ActionLink(item.TypeName, "Index", new { id = item.LType, ntype = item.Id })
                        </li>
                    }
                    else
                    {
                        <li data-id="@item.Id" data-pageIndex="1" data-pageSize="10">
                            @Html.ActionLink(item.TypeName, "Index", new { id = item.LType, ntype = item.Id })
                        </li>
                    }
                }
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div class="info_hdNav_cai_expand" style="display:none">
            <ul class="info_hdNav_cai">
                @foreach (NewsType item in ViewBag.NewsTypeList)
                {
                    if (item.Id == currentNewsTypeId)
                    {
                        <li class="current" data-id="@item.Id" data-pageIndex="1" data-pageSize="10">
                            @Html.ActionLink(item.TypeName, "Index", new { id = item.LType, ntype = item.Id })
                        </li>
                    }
                    else
                    {
                        <li data-id="@item.Id" data-pageIndex="1" data-pageSize="10">
                            @Html.ActionLink(item.TypeName, "Index", new { id = item.LType, ntype = item.Id })
                        </li>
                    }
                }
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="hjc_news_tabContent">
        @foreach (NewsType item in ViewBag.NewsTypeList)
        {
            string enable = item.Id == currentNewsTypeId ? "block" : "none";
            if (item.ShowType == 2)
            {
                <div class="hjc_news_lhs padding0" id="gallery" style="overflow-x: hidden;display: @enable;">
                    @Html.Action("NewsGalleryCategoryList", new { ltype = currentLotteryTypeId, newsTypeId = currentNewsTypeId })
                </div>
            }
            else
            {
                <div class="hjc_news_lhs newslist" style="display: @enable;" id="news_@item.Id" data-id="@item.Id">
               
                </div>
              

            }
        }
    </div>
    <div class="mask" style="display:none;"></div>
    <div class="mask2" style="display:none;"></div>
    @if (lType == 5)
    {
        <script type="text/javascript">
            var url = "@socketUrl/LhcHandler.ashx";
            var ws;
            $(function () {
                if ("@ViewBag.time" == "正在开奖") {

                    ws = new WebSocket(url);

                    //链接成功回调
                    ws.onopen = function () {
                        wsOnopen();
                    }
                    //收到消息回调
                    ws.onmessage = function (evt) {
                        wsOnmessage(evt);
                    }
                    //链接失败回调
                    ws.onerror = function (evt) {
                    }
                    //链接关闭回调
                    ws.onclose = function () {
                        wsOnclose()
                    }
                }
                //else {

                //}
            });

            //链接成功回调
            function wsOnopen() {

            }

            //收到消息回调
            function wsOnmessage(evt) {
                var msg = evt.data;
                var data = eval("(" + msg + ")");
                if (data == undefined || data == null)
                    return;
                switch (data.MsgTypeChild) {
                    case 11: //开始命令
                        break;
                    case 12: //结束命令
                        ws.close()  //结束后，主动断开链接
                        break;
                    case 21: //消息
                        showBall(data);
                        break;
                    case 31: //心跳包

                        break;
                }
            }

            //开始开奖
            function startLottery() {
                if (ws == undefined || ws == null || ws.readyState != WebSocket.OPEN) {
                    ws = new WebSocket(url);

                    //链接成功回调
                    ws.onopen = function () {
                        wsOnopen();
                    }
                    //收到消息回调
                    ws.onmessage = function (evt) {
                        wsOnmessage(evt);
                    }
                    //链接失败回调
                    ws.onerror = function (evt) {
                    }
                    //链接关闭回调
                    ws.onclose = function () {
                        wsOnclose()
                    }
                }
            }

            //链接关闭回调
            function wsOnclose() {

            }

            //显示球
            function showBall(data) {
                if (data.IsPeriod == 1) { // 如果是期数消息
                    $("#txtIssue").text(data.Content);
                    $("#ballListDiv").empty();
                } else {
                    if (data.IsTM == 1) {//如果是特码
                        $("#ballListDiv").append('<span class="Mif_jgC">+</span>&nbsp;');
                    }
                    var num = (data.Content.length < 2) ? "0" + data.Content : data.Content;
                    $("#ballListDiv").append('<span class="hdM_spliu ' + getColor(num) + '">' + num + '</span>&nbsp;');

                }
            }

            //获取球的颜色
            function getColor(num) {
                num = "," + num + ",";

                var red = ",01,02,07,08,12,13,18,19,23,24,29,30,34,35,40,45,46,";
                var blue = ",03,04,09,10,14,15,20,25,26,31,36,37,41,42,47,48,";
                var green = ",05,06,11,16,17,21,22,27,28,32,33,38,39,43,44,49,";

                if (red.indexOf(num)>-1) {
                    return "hdM_spliured";
                }
                else if (blue.indexOf(num)>-1) {
                    return "hdM_spliublue";
                }
                else {
                    return "hdM_spliugreen";
                }
            }
        </script>
    }

    <script type="text/javascript">
        var dropload;
        var id = @currentNewsTypeId,
           pageIndex =  1,
           pageSize = 10;
        $(function () {
            calcNavScoll();

            initnews();

        });

        function calcNavScoll() {
            var index = $(".info_hdNav_cai_lhs li.current").index();
            if (index > 0) {
                var liposition = $(".info_hdNav_cai_lhs li.current").position().left;
                $(".info_hdNav_cai_lhs").scrollLeft(liposition);
            }
        }

        function initnews() {

            dropload = $("#news_"+id).dropload({
                scrollArea: window,
                domDown: {
                    domClass: 'dropload-down',
                    domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                    domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                    domNoData: '<div class="dropload-noData">暂无数据</div>'
                },
                loadDownFn: function (me) {
                    $.ajax({
                        type: 'GET',
                        url: '/News/NewsList',
                        data: {
                            typeId: id,
                            pageIndex: pageIndex,
                            pageSize: pageSize
                        },
                        dataType: 'html',
                        success: function (data) {

                            if (data && data.length > 0) {

                                // 延迟0.1秒加载
                                setTimeout(function () {
                                    $("#news_" + id + " .dropload-down").before(data);
                                    pageIndex++;
                                    // 每次数据加载完，必须重置
                                    dropload.resetload();
                                }, 100);
                            }
                        },
                        error: function (xhr, type) {

                            $(document).dialog({
                                type: 'notice',
                                infoText: '服务器繁忙',
                                autoClose: 1500
                            });
                            // 即使加载出错，也得重置
                            dropload.resetload();
                        }
                    });
                }
            });
        }
    </script>
</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>
