@{
    Layout = null;
    string socketUrl = System.Configuration.ConfigurationManager.AppSettings["WebSocketUrl"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@ViewBag.SEOInfo[0]</title>
    <meta name="keywords" content="@ViewBag.SEOInfo[1]">
    <meta name="description" content="@ViewBag.SEOInfo[2]">
    <link rel="stylesheet" href="@ViewBag.osshost/css/dropload.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css?v=1.1" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/c8-icon.css" />
</head>
<body style="background:#F4F4F5;">
    <input type="hidden" id="lType" value="@ViewBag.ChildlType" />
    <input type="hidden" id="ChannelId" value="@ViewBag.ChannelId" />
    <input type="hidden" id="PlType" value="@ViewBag.lType" />
    <input type="hidden" id="CityId" value="@ViewBag.CityId" />
    <input type="hidden" id="socketUrl" value="@socketUrl" />
    <input type="hidden" id="osshost" value="@ViewBag.osshost" />
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo hjc_HeaderXL">@ViewBag.SEOInfo[3]<span class="select_sign"></span></a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>
    <div class="hjc_hdNav fixed" style="display: none">
        <div class="hdNav_cai_expand">
            <ul class="hdNav_cai"></ul>
        </div>
    </div>
   <!--侧边栏-->
   @Html.Partial("Sidebar")

    <div class="Plan_content top50">
        <div class="Plan_CInfo">
            <div class="CZ_hdtit" onclick="location.href='/Record/OpenRecord/?lType=@ViewBag.ChildlType'">
                <dl class="CZ_hdMain">
                    <dt><a href="javascript:;"><img src="@ViewBag.icon"></a></dt>
                    <dd>
                        <div class="hdM_ddtit">
                            <h3 class="hdM_ddtqi f-l">第<span id="txtIssue">------</span>期</h3>
                            <p class="hdM_ddtime f-r">
                                下期开奖：
                                <span id="openTime">-----</span>
                            </p>
                            <div style="clear:both;"></div>

                        </div>
                        <div class="hdM_ddcon" id="ballListDiv">

                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="info_hdnav LHC_info_YLZB_nav">
        <div class="info_hdNav_cai_collect ">
            <div class="info_hdNav_cai_lhs_expand"><img src="@ViewBag.osshost/images/icon-expand.png"></div>
            <ul class="info_hdNav_cai_lhs"></ul>
            <div style="clear:both;"></div>
        </div>
        <div class="info_hdNav_cai_expand" style="display:none">
            <ul class="info_hdNav_cai"></ul>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="hjc_news_tabContent">
        <div class="hjc_news_lhs newslist" id="news">

        </div>
    </div>
    <div class="Back_Top"><a href="JavaScript:;"></a></div>
    <div class="mask" style="display:none;"></div>
    <div class="mask2" style="display:none;"></div>
    @*<div class="spinner" style="display:none;">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>*@

    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/luo/dropload.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/news/newsruntime.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script src="@ViewBag.osshost/js/news/index.js?v=1.1"></script>
    @if (ViewBag.lType == 5)
    {
        <script src="@ViewBag.osshost/js/news/dynamic.js?v=1.1"></script>
    }
</body>
</html>
