@using C8.Lottery.Model;
@using C8.Lottery.Public;
@{
    var newsList = ViewBag.NewsList as List<News>;
    var adList = ViewBag.AdList as List<Advertisement>;
    var PageIndex = ViewBag.PageIndex;
    string CityId = ViewBag.CityId;
    SiteSetting site = ViewBag.SiteSetting;
}

@if (newsList != null)
{

    int i = 0;
    foreach (var newse in newsList)
    {
        i++;
        if (PageIndex == 1)
        {
            if (adList != null)
            {
                int idx = -1;
                foreach (var ad in adList)
                {
                    string[] city = new string[] { };
                    if (!string.IsNullOrEmpty(ad.RestrictedAreas))
                    {
                        city = ad.RestrictedAreas.Split(',');
                        idx = Array.IndexOf(city, CityId);
                    }
                    if (string.IsNullOrEmpty(ad.RestrictedAreas) || idx == -1)
                    {
                        if (!Tool.IsPc())
                        {
                            if (ad.Layer == 3 && i == 1)
                            {
                                <div class="GG_Box">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {

                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>


                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图

                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                                {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>

                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                            {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>

                            }
                            else if (ad.Layer == 4 && i == 2)
                            {

                                <div class="GG_Box">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                                {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                            {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>


                            }
                            else if (ad.Layer == 5 && i == 3)
                            {
                                <div class="GG_Box">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                                {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>

                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                            {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>
                            }
                            else if (ad.Layer == 6 && i == 4)
                            {

                                <div class="GG_Box">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                                {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                                {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>

                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                            {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>
                            }
                        }


                    }
                }
            }
        }

        <div class="hjc_news_content">
            @if (newse.ThumbList.Count < 1 || newse.ThumbStyle == 0)
            {
                //无图
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="newstime">
                            <span>@site.WebName</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
            }
            else if (newse.ThumbStyle == 1)
            {
                //一张小图
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news_left">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="newstime">
                            <span>@site.WebName</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                    <div class="hjc_news_right">
                        @if (newse.ThumbList.Count > 0)
                        {
                            <img src="@newse.ThumbList[0]" alt="@newse.FullHead" />
                        }
                    </div>
                </a>
                <div class="clearfix"></div>
            }
            else if (newse.ThumbStyle == 2)
            {
                //一张大图
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="hjc_news_thumb">
                            <ul class="col_1">
                                @foreach (var thumb in newse.ThumbList)
                                {
                                    <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="newstime">
                            <span>@site.WebName</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
            }
            else if (newse.ThumbStyle == 3)
            {
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="hjc_news_thumb">
                            <ul class="col_3">
                                @foreach (var thumb in newse.ThumbList)
                                {
                                    <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="newstime">
                            <span>@site.WebName</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="">
                            <span>@site.WebName</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
}
@*@{Html.RenderAction("index", "PvUvIp");}*@