@using C8.Lottery.Model
@using C8.Lottery.Portal.Models
@using C8.Lottery.Public
@model C8.Lottery.Model.News
@{
    Layout = null;
    NewsType newsType = ViewBag.NewsType;
    LotteryType lottery = ViewBag.Lottery;
    List<News> recArticle = ViewBag.RecommendArticle;
    List<RankIntegralModel> RankIntegral = ViewBag.ListRankIntegral;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.FullHead -万彩吧</title>
    <meta name="keywords" content="@newsType.SeoKeyword">
    <meta name="description" content="@newsType.SeoDescription">
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
    <script type="text/javascript" src="~/js/luo/hammer.min.js"></script>
    <script type="text/javascript" src="~/js/luo/picmax.js"></script>
    <script>
        $(function ()
        {
            var location=@newsType.Id;
            getadlist(location);
        });
        function getadlist(location)
        {
            $.get("/News/GetAdvertisementListJson",
                {
                    location: location,
                    adtype: 2
                },
               function (data)
               {
                   if (data.Success == true)
                   {
                       inadHtml(data.data);
                       console.log(data.data);
                   } else
                   {
                       alert("Data Loaded: " + data.Msg);
                   }

               });
        }
        function inadHtml(data)
        {
            $.each(data, function (index, item)
            {
                if(item.Layer==1)
                {
                    $(".article").prepend(itemhtml(item))
                }else if(item.Layer==2)
                {
                    $(".article-tag").after(itemhtml(item))
                }else if(item.Layer==3)
                {
                    $(".article-body").after(itemhtml(item))
                }
                else if(item.Layer==4)
                {
                    $(".article-share").after(itemhtml(item))
                }
                else if(item.Layer==5)
                {
                    $(".article-pager").after(itemhtml(item))
                }
                else if(item.Layer==6)
                {
                    $(".hjc_news_lhs").after(itemhtml(item))
                    $(".GG_Box").addClass("GG_Box1")

                } else if(item.Layer==7)
                {
                    $(".raking").after(itemhtml(item))
                    $(".GG_Box").addClass("GG_Box1")
                }
            });
        }
        function itemhtml(item)
        {
            var html='';
            if(item.ThumbStyle==0)
            {
                html='<div class="GG_Box ">'
	  +'<a href="'+item.TransferUrl+'">'
    	+'<h3 class="GG_B1Tit">'+item.Title+'</h3>'
       + '<div class="GG_BbtFont">'
        	+'<b>广告</b>'
          +  '<span>'+item.Company+'</span>'
       + '</div>'
         +'</a>'
            +'</div>'

            }else if(item.ThumbStyle==1)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    img='<img src="'+item.ThumbList[0]+'">'
                }


                html='<div class="GG_Box">'
	+'<a href="'+item.TransferUrl+'">'
    	+'<div class="GG_B2Left f-l">'
        	+'<h3 class="GG_B1Tit">'+item.Title+'</h3>'
          +  '<div class="GG_BbtFont">'
            +   ' <b>广告</b>'
           +    ' <span>'+item.Company+'</span>'
          +  '</div>'
       + '</div>'
    	+'<div class="GG_B2Right">'+img+'</div>'
    +'</a>'
    +'</div>'

            }else if(item.ThumbStyle==2)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    img='<img src="'+item.ThumbList[0]+'">'
                }
                html='<div class="GG_Box">'
	+'<a href="'+item.TransferUrl+'">'
    	+'<h3 class="GG_B1Tit">'+item.Title+'</h3>'
       + '<div class="GG_B4Tu">'+img+'</div>'
       + '<div class="GG_BbtFont">'
      +  	'<b>广告</b>'
      +      '<span>'+item.Company+'</span>'
     +   '</div>'
   + '</a>'
+'</div>'

            }else if(item.ThumbStyle==3)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    for (var i = 0; i < item.ThumbList.length; i++)
                    {
                        img+='<li><img src="'+item.ThumbList[i]+'"></li>'
                    }
                }

                html='<div class="GG_Box">'
	+ '<a href="'+item.TransferUrl+'">'
    	+ '<h3 class="GG_B1Tit">'+item.Title+'</h3>'
        + '<ul class="GG_B3Tu">'
        	+img
            + '<div style="clear:both;"></div>'
        + '</ul>'

        + '<div class="GG_BbtFont">'
        	+ '<b>广告</b>'
            + '<span>'+item.Company+'</span>'
        + '</div>'
    + '</a>'
+ '</div>'
            }else if(item.ThumbStyle==4)
            {
                var img='';
                if(item.ThumbList!=null && item.ThumbList.length>0)
                {
                    img='<img src="'+item.ThumbList[0]+'"  class="GG_B5Tu">'
                }
                html='  <div class="GG_Box">'
               + ' <a href="' + item.TransferUrl + '">'+img+'</a>'
               + '   </div>'
            }


            return html;
        }


    </script>
</head>
<body style="background:#F4F4F5;">
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@(lottery.TypeName + "." + @newsType.TypeName)</a>
        @*<a href="javascript:showShare();" class="SX_A">分享</a>*@
        <a href="javascript::" class="ZX_Sidebar"></a>
    </header>
    <section class="article">
        <div class="article-title">@Model.FullHead</div>
        <div class="article-tag">
            <span class="article-source"><a href="http://c8.cn">万彩吧c8.cn</a></span>
            <span class="article-time">@Model.ReleaseTimeStr</span>
        </div>
        <div id="article-body" class="article-body">
            @Html.Raw(HttpUtility.UrlDecode(Model.NewsContent))
        </div>
        <div class="article-share">
            <dl>
                <dt>分享文章</dt>
                <dd>
                    <a href="javascript:call('wechatFriend');">
                        <p><img src="/images/63_1.png" alt="分享到微信好友" /></p>
                        <p>微信好友</p>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:call('wechatTimeline');">
                        <p><img src="/images/63_2.png" alt="分享到朋友圈" /></p>
                        <p>朋友圈</p>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:call('qqFriend');">
                        <p><img src="/images/63_3.png" alt="分享到QQ好友" /></p>
                        <p>QQ好友</p>
                    </a>
                </dd>
            </dl>
            <div class="clearfix"></div>
        </div>
        <div class="article-pager">
            @if (ViewBag.Nextview != null)
            {
                var nextview = ViewBag.Nextview as News;

                <div class="nextview">
                    <a href="/News/NewsDetail/@nextview.Id" title="@nextview.FullHead">下一篇：@nextview.FullHead</a>
                </div>
            }
            @if (ViewBag.Preview != null)
            {
                var preview = ViewBag.Preview as News;
                <div class="preview">
                    <a href="/News/NewsDetail/@preview.Id" title="@preview.FullHead">上一篇：@preview.FullHead</a>
                </div>
            }
        </div>
    </section>
    @if (recArticle != null && recArticle.Count > 0)
    {
        <div class="hjc_news_lhs">
            <div class="hjc_news_title article-news-title">
                <span class="hjc_news_title_info">推荐阅读</span>
            </div>
            @foreach (var article in recArticle)
            {
                <div class="hjc_news_content">
                    @if (article.ThumbList.Count < 1 || article.ThumbStyle == 0)
                    {
                        //无图
                        <a href="/News/NewsDetail/@article.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@article.FullHead</div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@article.ReleaseTimeStr</span>
                                    <span>@article.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else if (article.ThumbStyle == 1)
                    {
                        //一张小图
                        <a href="/News/NewsDetail/@article.Id">
                            <div class="hjc_news_left">
                                <div class="hjc_news_subject">@article.FullHead</div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@article.ReleaseTimeStr</span>
                                    <span>@article.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                            <div class="hjc_news_right">
                                @if (article.ThumbList.Count > 0)
                                {
                                    <img src="@article.ThumbList[0]" alt="@article.FullHead" />
                                }
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    }
                    else if (article.ThumbStyle == 2)
                    {
                        //一张大图
                        <a href="/News/NewsDetail/@article.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@article.FullHead</div>
                                <div class="hjc_news_thumb">
                                    <ul class="col_1">
                                        @foreach (var thumb in article.ThumbList)
                                        {
                                            <li><img src="@thumb" alt="@article.FullHead" /></li>
                                        }
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@article.ReleaseTimeStr</span>
                                    <span>@article.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else if (article.ThumbStyle == 3)
                    {
                        <a href="/News/NewsDetail/@article.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@article.FullHead</div>
                                <div class="hjc_news_thumb">
                                    <ul class="col_3">
                                        @foreach (var thumb in article.ThumbList)
                                        {
                                            <li><img src="@thumb" alt="@article.FullHead" /></li>
                                        }
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@article.ReleaseTimeStr</span>
                                    <span>@article.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="/News/NewsDetail/@article.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@article.FullHead</div>
                                <div class="">
                                    <span>万彩吧</span>
                                    <span>@article.ReleaseTimeStr</span>
                                    <span>@article.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>

    }
    <div class="raking" style="background: #fff;">
        <div class="raking-title">@(lottery.TypeName)竞猜红人</div>
        <div class="Ranking_Cinfo">
            <table width="100%" border="0" class="Ranking_table1">
                <tbody>
                    @if (RankIntegral != null || RankIntegral.Count > 0)
                    {
                        foreach (var item in RankIntegral)
                        {
                            if (item.Rank <= 3)
                            {
                                <tr>
                                    <td width="10%" align="center" valign="middle"><img src="@Tool.GetRankImg(item.Rank)" class="Ranking_Btu"></td>
                                    <td width="15%" align="center" valign="middle">
                                        <div class="Ranking_Blogotu">
                                            <a href="/Personal/UserCenter/@item.UserId">
                                                @if (!string.IsNullOrEmpty(item.Avater))
                                                {
                                                    <img src="@item.Avater">
                                                }
                                                else
                                                {
                                                    <img src="~/images/default_avater.png">
                                                }
                                            </a>
                                        </div>
                                    </td>
                                    <td align="left" valign="middle">
                                        <p class="Ysfont">
                                            <a href="/Personal/UserCenter/@item.UserId">@item.NickName</a>
                                        </p>
                                    </td>
                                    <td width="25%" align="center" valign="middle"><span class="Ds_money Jf_money">@item.Score</span></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td align="center" valign="middle">
                                        <p>@item.Rank</p>
                                    </td>
                                    <td align="center" valign="middle">
                                        <div class="Ranking_Blogotu">
                                            <a href="/Personal/UserCenter/@item.UserId">
                                                @if (!string.IsNullOrEmpty(item.Avater))
                                                {
                                                    <img src="@item.Avater">
                                                }
                                                else
                                                {
                                                    <img src="~/images/default_avater.png">
                                                }
                                            </a>
                                        </div>
                                    </td>
                                    <td align="left" valign="middle">
                                        <p>
                                            <a href="/Personal/UserCenter/@item.UserId">@item.NickName</a>
                                        </p>
                                    </td>
                                    <td align="center" valign="middle"><span class="Ds_money Jf_money">@item.Score</span></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Html.Action("WonderfulComment", new { id = @Model.Id, type = 2 })

    <!--分享-->
    <div class="Gues_share">
        <div class="Share_info">
            <div class="Share_ifTitle">
                <h3>分享至</h3>
            </div>
            <ul class="Share_ifNav">
                <li>
                    <a href="javascript:call('wechatFriend');">
                        <div class="Share_iNtu"><img src="/images/63_1.png"></div>
                        <p>微信好友</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:call('wechatTimeline');">
                        <div class="Share_iNtu"><img src="/images/63_2.png"></div>
                        <p>朋友圈</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:call('qqFriend');">
                        <div class="Share_iNtu"><img src="/images/63_3.png"></div>
                        <p>QQ好友</p>
                    </a>
                </li>
                <div style="clear:both;"></div>
            </ul>
            <a href="javascript:hideShare();" class="Del_Share">取消分享</a>
        </div>
    </div>
    <!--侧边栏-->
    <div class="ZX_CLBox">
        <div class="CLB_YY"></div>
        <div class="CLB_con">
            <ul class="CLB_cNav">
                <!--cNav_current-->
                <li>
                    <a href="/Home/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_1.png"></dt>
                            <dd>
                                <p>首页</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Open">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_2.png"></dt>
                            <dd>
                                <p>开奖</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                @*<li>
                <a href="JavaScript:;">
                    <dl class="cNav_Dl">
                        <dt><img src="/images/w6_4.png"></dt>
                        <dd>
                            <p>走势</p>
                            <img src="/images/w7.png">
                            <div style="clear:both;"></div>
                        </dd>
                    </dl>
                </a>
            </li>*@
                <li>
                    <a href="/Home/Plan">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_3.png"></dt>
                            <dd>
                                <p>计划</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_04.png"></dt>
                            <dd>
                                <p>排行</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Talking/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_5.png"></dt>
                            <dd>
                                <p>聊天</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Expert">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_06.png"></dt>
                            <dd>
                                <p>高手</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/News/Index/2">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_07.png"></dt>
                            <dd>
                                <p>资讯</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <script src="~/js/kcp/NativeShare.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".Gues_ul").parseEmoji();
        });

        var nativeShare = new NativeShare();

        var shareData = {
            title: '@Model.FullHead',
            desc: '@Model.FullHead',
            // 如果是微信该link的域名必须要在微信后台配置的安全域名之内的。
            link: 'http://' + location.host + '/News/NewsDetail/@Model.Id',
            icon: '@Model.Thumb',
            // 不要过于依赖以下两个回调，很多浏览器是不支持的
            success: function () {
                alert('success');
            },
            fail: function () {
                alert('fail');
            }
        }
        nativeShare.setShareData(shareData);

        function call(command) {
            try {
                nativeShare.call(command);
            } catch (err) {
                // 如果不支持，你可以在这里做降级处理
                alert(err.message);
            }
        }

    </script>
</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>