@using C8.Lottery.Model
<!-- 玄机图库样式 -->
@{
    Layout = null;
}
@{
    var typeList = ViewBag.TypeList as List<GalleryType>;
    var otherTypeList = ViewBag.OtherTypeList as List<GalleryType>;
    var adList = ViewBag.AdList as List<Advertisement>;
    IEnumerable<IGrouping<string, GalleryType>> dictType = null;

    IEnumerable<string> letterList = null;

    if (typeList != null)
    {
        dictType = typeList.GroupBy(x => x.QuickQuery);
        letterList = dictType.Select(x => x.Key);
    }

}
<!--显示点击的是哪一个字母-->
<div id="showLetter" class="showLetter iconfont"><span>A</span></div>
<!--索引查询-->
<div class="letter">
    <ul>
        <li><a class="iconfont toSearch" href="javascript:;">&#xe901;</a></li>
        @if (letterList != null)
        {
            foreach (var item in letterList)
            {
        <li><a href="javascript:;" data-id="@item">@item</a></li>
            }
        }
        @if (otherTypeList != null && otherTypeList.Count > 0)
        {
        <li><a href="javascript:;" data-id="other">#</a></li>
        }
    </ul>
</div>
<div class="gallery-recommend">
    <ul>
        @{
            var recommendGalleryList = ViewBag.RecommendGalleryList as List<Gallery>;
        }
        @if (recommendGalleryList != null)
        {
            foreach (var gallery in recommendGalleryList)
            {
                <li class="subscript-container">
                    <div class="subscript">推荐</div>
                    <a href="/News/Gallery/@gallery.Id">
                        <img src="@gallery.Picture" alt="" />
                    </a>
                </li>
            }
        }
        <div class="clearfix"></div>
    </ul>
</div>
<div class="gallery-search">
    <input id="searchinput" name="keyword" type="search" class="iconfont" placeholder="&#xe901;搜索" />
</div>
<div class="container">
    <div class="gallery box">
        @if (typeList != null)
        {
            int i = 0;
            foreach (var dict in dictType)
            {
                i++;
                if (dict.Any())
                {

                    <div class="gallery-list">
                       @if (adList != null)
                       {
                           foreach (var ad in adList)
                           {

                               if (ad.Layer == 3 && i == 1)
                               {
                                <div class="GG_Box GG_Box1 GG_Box2">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                        {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>

                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                        {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>

                               }
                               else if (ad.Layer == 4 && i == 2)
                               {

                                <div class="GG_Box GG_Box1 GG_Box2">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                        {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                        {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>


                               }
                               else if (ad.Layer == 5 && i == 3)
                               {
                                <div class="GG_Box GG_Box1 GG_Box2">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                        {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>

                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                        {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>
                               }
                               else if (ad.Layer == 6 && i == 4)
                               {

                                <div class="GG_Box GG_Box1 GG_Box2">
                                    @if (ad.ThumbList.Count < 1 || ad.ThumbStyle == 0)
                                    {
                                        //无图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 1)
                                    {
                                        //一张小图
                                        <a href="@ad.TransferUrl">
                                            <div class="GG_B2Left f-l">
                                                <h3 class="GG_B1Tit">@ad.Title</h3>
                                                <div class="newstime">
                                                    <span>@ad.Company</span>
                                                    <span>@ad.TimeStr</span>
                                                    <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                                </div>
                                            </div>
                                            <div class="GG_B2Right">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 2)
                                    {
                                        //一张大图
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <div class="GG_B4Tu">
                                                @if (ad.ThumbList.Count > 0)
                                        {
                                                    <img src="@ad.ThumbList[0]" alt="@ad.Title" />
                                                }

                                            </div>
                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 3)
                                    {
                                        <a href="@ad.TransferUrl">
                                            <h3 class="GG_B1Tit">@ad.Title</h3>
                                            <ul class="GG_B3Tu">
                                                @foreach (var thumb in ad.ThumbList)
                                        {
                                                    <li><img src="@thumb" alt="@ad.Title" /></li>
                                                }

                                                <div style="clear:both;"></div>
                                            </ul>

                                            <div class="newstime">
                                                <span>@ad.Company</span>
                                                <span>@ad.TimeStr</span>
                                                <span>@ad.CommentsNumber<i class="icon-comment"></i></span>
                                            </div>
                                        </a>
                                    }
                                    else if (ad.ThumbStyle == 4)
                                    {
                                        <a href="@ad.TransferUrl">
                                            @if (ad.ThumbList.Count > 0)
                                        {
                                                <img src="@ad.ThumbList[0]" class="GG_B5Tu">
                                            }

                                        </a>

                                    }

                                </div>
                               }

                           }
                       }

                        <span class="gallery-letter" id='@string.Format("{0}1", @dict.Key)'>@dict.Key</span>
                        @foreach (var m in dict)
                        {

                            <p data-id="@m.Id" data-pinyin="@m.SimpleSpelling" data-name="@m.Name">
                                <a href="/News/Gallery/@m.Id" title="@m.Name">
                                    <span>@m.LastIssue</span>
                                    <span class="gallery-name">@m.Name</span>
                                </a>
                            </p>
                        }
                        <div class="clearfix"></div>
                    </div>
                }

            }
        }
        @if (otherTypeList != null && otherTypeList.Count > 0)
        {
            <div class="gallery-list">
                <span class="gallery-letter" id='other1'>#</span>
                @foreach (var m in otherTypeList)
                {
                    <p data-id="@m.Id" data-pinyin="@m.SimpleSpelling" data-name="@m.Name">
                        <a href="/News/Gallery/@m.Id" title="@m.Name">
                            <span>@m.LastIssue</span>
                            <span class="gallery-name">@m.Name</span>
                        </a>
                    </p>
                }
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>
@{Html.RenderAction("index", "PvUvIp");}
