@using C8.Lottery.Model;
@{
    Layout = null;
}
@{
    var newsList = ViewBag.NewsList as List<News>;
}


    @if (newsList != null)
    {
        foreach (var newse in newsList)
        {<div class="hjc_news_content">
            
             @if (newse.ThumbList.Count < 1 || newse.ThumbStyle == 0)
             {
                 //无图
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="newstime">
                            <span>万彩吧</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
             }
             else if (newse.ThumbStyle == 1)
             {
                 //一张小图
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news_left">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="newstime">
                            <span>万彩吧</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>

                    <div class="hjc_news_right">
                        @if (newse.ThumbList.Count > 0)
                        {
                            <img src="@newse.ThumbList[0]" alt="@newse.FullHead" />
                        }
                    </div>

                </a>
                    <div class="clearfix"></div>
             }
             else if (newse.ThumbStyle == 2)
             {
                 //一张大图
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="hjc_news_thumb">
                            <ul class="col_1">
                                @foreach (var thumb in newse.ThumbList)
                                {
                                    <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="newstime">
                            <span>万彩吧</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
             }
             else if (newse.ThumbStyle == 3)
             {
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="hjc_news_thumb">
                            <ul class="col_3">
                                @foreach (var thumb in newse.ThumbList)
                                {
                                    <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="newstime">
                            <span>万彩吧</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
             }
             else
             {
                <a href="/News/NewsDetail/@newse.Id">
                    <div class="hjc_news">
                        <div class="hjc_news_subject">@newse.FullHead</div>
                        <div class="">
                            <span>万彩吧</span>
                            <span>@newse.ReleaseTimeStr</span>
                            <span>@newse.CommentCount<i class="icon-comment"></i></span>
                        </div>
                    </div>
                </a>
             }
</div>
        }
    }