@using C8.Lottery.Model
@using C8.Lottery.Public
@using System.Configuration
@model LotteryType

@{
    Layout = null;

    int currentLotteryTypeId = ViewBag.CurrentLotteryType;

    int lType = ViewBag.lType;

    var socketUrl = ConfigurationManager.AppSettings["WebSocketUrl"];
    string CityId = ViewBag.CityId;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.SeoSubject</title>
    <meta name="keywords" content="@Model.SeoKeyword">
    <meta name="description" content="@Model.SeoDescription">
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>

    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="~/js/runTime2.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1)" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo  hjc_HeaderXL">@Model.TypeName<span class="select_sign"></span></a>
        <a href="/Home/Index" class="hjc_home_right"></a>
    </header>

    <div class="hjc_hdNav fixed" style="display:none">

        <input type="hidden" id="lType" value="@lType" />
        <div class="hdNav_cai_expand">
            <ul class="hdNav_cai">
                @foreach (LotteryType entity in ViewBag.LotteryTypeList)
                {
                    if (entity.TypeName == "六合彩")
                    {
                        if (entity.Id == currentLotteryTypeId)
                        {
                            <li class="current" data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "TypeList", new { id = @entity.Id })

                            </li>
                        }
                        else
                        {

                            <li data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "TypeList", new { id = @entity.Id })

                            </li>
                        }
                    }
                    else
                    {
                        if (entity.Id == currentLotteryTypeId)
                        {
                            <li class="current" data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "Index", new { id = @entity.Id })

                            </li>
                        }
                        else
                        {

                            <li data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "Index", new { id = @entity.Id })

                            </li>
                        }
                    }
                }
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>


    <div class="Plan_content top50">
        <div class="Plan_CInfo">
            <div class="CZ_hdtit">
                <dl class="CZ_hdMain info_LHC">
                    <dt><a href="javascript:;"><img src="/images/logo5.png"></a></dt>
                    <dd>

                        <div class="hdM_ddtit">
                            <h3 class="hdM_ddtqi f-l">
                                第<span id="txtIssue">@ViewBag.lastIssue</span>期
                            </h3>
                            <p class="hdM_ddtime f-r">
                                下期开奖：

                                @if (ViewBag.time == "正在开奖")
                                {
                                    <span id="openTime">正在开奖</span>
                                }
                                else
                                {
                                    if (currentLotteryTypeId < 9)
                                    {
                                        <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }
                                    else
                                    {
                                        <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }

                                }
                            </p>

                            <div style="clear:both;"></div>
                        </div>

                        <div class="Forecast_LHC" id="ballListDiv">

                            @{
                                int countFor6 = 0;


                                string num = ViewBag.lastNum;
                                string[] numArr = num.Split(',');



                                foreach (string s in numArr)
                                {
                                    countFor6++;

                                    string color = Util.GetColor(s);
                                    string cl = "";
                                    if (color == "red")
                                    {
                                        cl = "LHC_spA LHC_spAred";
                                    }
                                    else if (color == "green")
                                    {
                                        cl = "LHC_spA LHC_spAgreen";
                                    }
                                    else
                                    {
                                        cl = "LHC_spA LHC_spAblue";
                                    }

                                    <span class="@cl">@s</span>

                                    if (countFor6 == 6)
                                    {
                                        <span class="LHC_spAjia">+</span>
                                    }
                                }
                            }
                        </div>
                        @{
                            int countFor63 = 0;

                            <div class="Forecast_LHC" id="shengXiaoListDiv">
                                @foreach (string s in ViewBag.showInfo.Split(','))
                                {
                                    countFor63++;
                                    <span class="LHC_spA">@s</span>
                                    if (countFor63 == 6)
                                    {
                                        <span class="LHC_spAjia">+</span>
                                    }
                                }
                            </div>
                        }

                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="info_LHC_nav">
        <ul class="hdNav_ul">
            <li>
                <a href="/Record/OpenRecord/?lType=@currentLotteryTypeId">
                    <i><img src="/images/icon_info_01.png"></i>
                    <p>开奖</p>
                </a>
            </li>
            <li>
                <a href="/News/Index/5/123">
                    <i><img src="/images/icon_info_02.png"></i>
                    <p>挂牌</p>
                </a>
            </li>
            <li>
                <a href="/News/Index/5/124">
                    <i><img src="/images/icon_info_03.png"></i>
                    <p>跑狗</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("LotteryTime","News")">
                    <i><img src="/images/icon_info_04.png"></i>
                    <p>时间</p>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <div class="info_LHC_category col4">
        <dl>
            <dt><p><span class="spec"></span>香港正版图库</p></dt>
            <dd><a href="/News/Index/5/111">看图解码</a></dd>
            <dd><a href="/News/Index/5/112">幸运彩图</a></dd>
            <dd><a href="/News/Index/5/113">精选彩图</a></dd>
            <dd><a href="/News/Index/5/114">香港图库</a></dd>
        </dl>
        <div class="clearfix"></div>
    </div>

    <div class="info_LHC_category col3">
        <dl>
            <dt>
                <p>
                    <span class="spec"></span>免费资料
                </p>
            </dt>

            @foreach (NewsType item in ViewBag.NewsTypeList)
            {
                <dd>
                    @Html.ActionLink(@item.TypeName, "Index", new { id = @item.LType, ntype = @item.Id })
                </dd>
            }

        </dl>
        <div class="clearfix"></div>
    </div>

    <div class="mask" style="display:none;"></div>
    <div class="mask2" style="display:none;"></div>

    <script type="text/javascript">
        var url = "@socketUrl/LhcHandler.ashx";
        var ws;
        $(function ()
        {
            var location=-1;
            getadlist(location);
            if ("@ViewBag.time" == "正在开奖") {

                ws = new WebSocket(url);

                //链接成功回调
                ws.onopen = function () {
                    wsOnopen();
                }
                //收到消息回调
                ws.onmessage = function (evt) {
                    wsOnmessage(evt);
                }
                //链接失败回调
                ws.onerror = function (evt) {
                }
                //链接关闭回调
                ws.onclose = function () {
                    wsOnclose()
                }
            }
            //else {

            //}
        });
        //广告位
        function getadlist(location) {
            $.get("/News/GetAdvertisementListJson",
                {
                    location: location,
                    adtype: 3
                },
               function (data) {
                   if (data.Success == true) {
                       inadHtml(data.data);
                       console.log(data.data);
                   } else {
                       alert("Data Loaded: " + data.Msg);
                   }

               });
        }
        function inadHtml(data) {
            var cityid=@CityId;
            var city;
            var idx=-1;
            $.each(data, function (index, item)
            {
                if(item.RestrictedAreas!=null && item.RestrictedAreas!="")
                {
                    city=item.RestrictedAreas.split(',');
                    idx=$.inArray(cityid.toString(),city);
                }
                if(item.RestrictedAreas==null ||item.RestrictedAreas=="" || idx==-1)
                {
                    if(!IsPC())
                    {
                        if (item.Layer == 1) {
                            $(".Plan_content").prepend(itemhtml(item))
                        } else if (item.Layer == 2) {
                            $(".Plan_content").after(itemhtml(item))
                        } else if (item.Layer == 3) {
                            $(".info_LHC_nav").after(itemhtml(item))
                        }
                        else if (item.Layer == 4) {
                            $(".col4").after(itemhtml(item))
                        }
                        else if (item.Layer == 5) {
                            $(".col3").after(itemhtml(item))
                        }
                        else if (item.Layer == 6) {
                            //$(".hjc_news_lhs").after(itemhtml(item))
                            //$(".GG_Box").addClass("GG_Box1")

                        } else if (item.Layer == 7) {
                            //$(".raking").after(itemhtml(item))
                            //$(".GG_Box").addClass("GG_Box1")
                        }
                    }

                   
                }
            });
        }
        function itemhtml(item) {
            var html = '';
            if (item.ThumbStyle == 0) {
                html = '<div class="GG_Box  GG_Box1 GG_Box2">'
	  + '<a href="' + item.TransferUrl + '">'
    	+ '<h3 class="GG_B1Tit">' + item.Title + '</h3>'
       //+ '<div class="GG_BbtFont">'
       // 	+ '<b>广告</b>'
       //   + '<span>' + item.Company + '</span>'
       //+ '</div>'
         + '</a>'
            + '</div>'

            } else if (item.ThumbStyle == 1) {
                var img = '';
                if (item.ThumbList != null && item.ThumbList.length > 0) {
                    img = '<img src="' + item.ThumbList[0] + '">'
                }


                html = '<div class="GG_Box GG_Box1">'
	+ '<a href="' + item.TransferUrl + '">'
    	+ '<div class="GG_B2Left f-l">'
        	+ '<h3 class="GG_B1Tit">' + item.Title + '</h3>'
          //+ '<div class="GG_BbtFont">'
          //  + ' <b>广告</b>'
          // + ' <span>' + item.Company + '</span>'
          //+ '</div>'
       + '</div>'
    	+ '<div class="GG_B2Right">' + img + '</div>'
    + '</a>'
    + '</div>'

            } else if (item.ThumbStyle == 2) {
                var img = '';
                if (item.ThumbList != null && item.ThumbList.length > 0) {
                    img = '<img src="' + item.ThumbList[0] + '">'
                }
                html = '<div class="GG_Box GG_Box1">'
	+ '<a href="' + item.TransferUrl + '">'
    	+ '<h3 class="GG_B1Tit">' + item.Title + '</h3>'
       + '<div class="GG_B4Tu">' + img + '</div>'
     //  + '<div class="GG_BbtFont">'
     // + '<b>广告</b>'
     // + '<span>' + item.Company + '</span>'
     //+ '</div>'
   + '</a>'
+ '</div>'

            } else if (item.ThumbStyle == 3) {
                var img = '';
                if (item.ThumbList != null && item.ThumbList.length > 0) {
                    for (var i = 0; i < item.ThumbList.length; i++) {
                        img += '<li><img src="' + item.ThumbList[i] + '"></li>'
                    }
                }

                html = '<div class="GG_Box GG_Box1">'
	+ '<a href="' + item.TransferUrl + '">'
    	+ '<h3 class="GG_B1Tit">' + item.Title + '</h3>'
        + '<ul class="GG_B3Tu">'
        	+ img
            + '<div style="clear:both;"></div>'
        + '</ul>'

        //+ '<div class="GG_BbtFont">'
        //	+ '<b>广告</b>'
        //    + '<span>' + item.Company + '</span>'
        //+ '</div>'
    + '</a>'
+ '</div>'
            } else if (item.ThumbStyle == 4) {
                var img = '';
                if (item.ThumbList != null && item.ThumbList.length > 0) {
                    img = '<img src="' + item.ThumbList[0] + '"  class="GG_B5Tu">'
                }
                html = '  <div class="GG_Box GG_Box1 PD3">'
               + ' <a href="' + item.TransferUrl + '">' + img + '</a>'
               + '   </div>'
            }


            return html;
        }

        //链接成功回调
        function wsOnopen() {

        }

        //收到消息回调
        function wsOnmessage(evt) {
            var msg = evt.data;
            var data = eval("(" + msg + ")");
            if (data == undefined || data == null)
                return;
            switch (data.MsgTypeChild) {
                case 11: //开始命令
                    break;
                case 12: //结束命令
                    ws.close()  //结束后，主动断开链接
                    break;
                case 21: //消息
                    showBall(data);
                    break;
                case 31: //心跳包

                    break;
            }
        }

        //开始开奖
        function startLottery() {
            if (ws == undefined || ws == null || ws.readyState != WebSocket.OPEN) {
                ws = new WebSocket(url);

                //链接成功回调
                ws.onopen = function () {
                    wsOnopen();
                }
                //收到消息回调
                ws.onmessage = function (evt) {
                    wsOnmessage(evt);
                }
                //链接失败回调
                ws.onerror = function (evt) {
                }
                //链接关闭回调
                ws.onclose = function () {
                    wsOnclose()
                }
            }
        }

        //链接关闭回调
        function wsOnclose() {

        }

        //显示球
        function showBall(data) {
            if (data.IsPeriod == 1) { // 如果是期数消息
                $("#txtIssue").text(data.Content);
                $("#ballListDiv,#shengXiaoListDiv").empty();
            } else {
                if (data.IsTM == 1) {//如果是特码
                    $("#ballListDiv,#shengXiaoListDiv").append('<span class="LHC_spAjia">+</span>&nbsp;');
                }
                var num = (data.Content.length < 2) ? "0" + data.Content : data.Content;
                $("#ballListDiv").append('<span class="LHC_spA ' + getColor(num) + '">' + num + '</span>&nbsp;');
                console.log(data.SubTime);
                $("#shengXiaoListDiv").append('<span class="LHC_spA">' + getShengXiao(data.Content) +'</span>&nbsp;');
            }
        }

        //获取球的颜色
        function getColor(num) {
            num = "," + num + ",";

            var red = ",01,02,07,08,12,13,18,19,23,24,29,30,34,35,40,45,46,";
            var blue = ",03,04,09,10,14,15,20,25,26,31,36,37,41,42,47,48,";
            var green = ",05,06,11,16,17,21,22,27,28,32,33,38,39,43,44,49,";

            if (red.indexOf(num)>-1) {
                return "LHC_spAred";
            }
            else if (blue.indexOf(num)>-1) {
                return "LHC_spAblue";
            }
            else {
                return "LHC_spAgreen";
            }
        }

        //获取球的生肖
        function getShengXiao(digit) {
            var result = "鸡";

            if (digit == 11 || digit == 23 || digit == 35 || digit == 47) {
                result = "鼠";
            }
            else if (digit == 10 || digit == 22 || digit == 34 || digit == 46) {
                result = "牛";
            }
            else if (digit == 9 || digit == 21 || digit == 33 || digit == 45) {
                result = "虎";
            }
            else if (digit == 8 || digit == 20 || digit == 32 || digit == 44) {
                result = "兔";
            }
            else if (digit == 7 || digit == 19 || digit == 31 || digit == 43) {
                result = "龙";
            }
            else if (digit == 6 || digit == 18 || digit == 30 || digit == 42) {
                result = "蛇";
            }
            else if (digit == 5 || digit == 17 || digit == 29 || digit == 41) {
                result = "马";
            }
            else if (digit == 4 || digit == 16 || digit == 28 || digit == 40) {
                result = "羊";
            }
            else if (digit == 3 || digit == 15 || digit == 27 || digit == 39) {
                result = "猴";
            }
            else if (digit == 2 || digit == 14 || digit == 26 || digit == 38) {
                result = "鸡";
            }
            else if (digit == 1 || digit == 13 || digit == 25 || digit == 37 || digit == 49) {
                result = "狗";
            }
            else if (digit == 12 || digit == 24 || digit == 36 || digit == 48) {
                result = "猪";
            }

            return result;
        }
    </script>

</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>
