@using C8.Lottery.Model
@using C8.Lottery.Public
@model LotteryType

@{
    Layout = null;

    int currentLotteryTypeId = ViewBag.CurrentLotteryType;

    int lType = ViewBag.lType;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.SeoSubject</title>
    <meta name="keywords" content="@Model.SeoKeyword">
    <meta name="description" content="@Model.SeoDescription">
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>

    <script type="text/javascript" src="~/js/runTime2.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1)" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@Model.TypeName<span class="select_sign"></span></a>
        <a href="/Home/Index" class="hjc_home_right"></a>
    </header>

    <div class="hjc_hdNav fixed" style="display:none">

        <input type="hidden" id="lType" value="@lType" />
        <div class="hdNav_cai_expand">
            <ul class="hdNav_cai">
                @foreach (LotteryType entity in ViewBag.LotteryTypeList)
                {
                    if (entity.TypeName == "六合彩")
                    {
                        if (entity.Id == currentLotteryTypeId)
                        {
                            <li class="current" data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "TypeList", new { id = @entity.Id })

                            </li>
                        }
                        else
                        {

                            <li data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "TypeList", new { id = @entity.Id })

                            </li>
                        }
                    }
                    else
                    {
                        if (entity.Id == currentLotteryTypeId)
                        {
                            <li class="current" data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "Index", new { id = @entity.Id })

                            </li>
                        }
                        else
                        {

                            <li data-id="@entity.Id">
                                @Html.ActionLink(@entity.TypeName, "Index", new { id = @entity.Id })

                            </li>
                        }
                    }
                }
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>


    <div class="Plan_content top50">
        <div class="Plan_CInfo">
            <div class="CZ_hdtit">
                <dl class="CZ_hdMain info_LHC">
                    <dt><a href="javascript:;"><img src="/images/logo5.png"></a></dt>
                    <dd>
                        <div class="hdM_ddtit">
                            <h3 class="hdM_ddtqi f-l">
                                第<span>@ViewBag.lastIssue</span>期
                            </h3>
                            <p class="hdM_ddtime f-r">
                                下期开奖：

                                @if (ViewBag.time == "正在开奖")
                                {
                                    <span id="openTime">正在开奖</span>
                                }
                                else
                                {
                                    if (currentLotteryTypeId < 9)
                                    {
                                        <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }
                                    else
                                    {
                                        <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }

                                }
                            </p>

                            <div style="clear:both;"></div>
                        </div>

                        <div class="Forecast_LHC">

                            @{
                                int countFor6 = 0;


                                string num = ViewBag.lastNum;
                                string[] numArr = num.Split(',');



                                foreach (string s in numArr)
                                {
                                    countFor6++;

                                    string color = Util.GetColor(s);
                                    string cl = "";
                                    if (color == "red")
                                    {
                                        cl = "LHC_spA LHC_spAred";
                                    }
                                    else if (color == "green")
                                    {
                                        cl = "LHC_spA LHC_spAgreen";
                                    }
                                    else
                                    {
                                        cl = "LHC_spA LHC_spAblue";
                                    }

                                    <span class="@cl">@s</span>

                                    if (countFor6 == 6)
                                    {
                                        <span class="LHC_spAjia">+</span>
                                    }
                                }
                            }
                        </div>
                        @{
                            int countFor63 = 0;

                            <div class="Forecast_LHC" >
                                @foreach (string s in ViewBag.showInfo.Split(','))
                                {
                                    countFor63++;
                                    <span class="LHC_spA">@s</span>
                                    if (countFor63 == 6)
                                    {
                                        <span class="LHC_spAjia">+</span>
                                    }
                                }
                            </div>
                        }
                     

                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="info_LHC_nav">
        <ul class="hdNav_ul">
            <li>
                <a href="/Record/OpenRecord/?lType=@currentLotteryTypeId">
                    <i><img src="/images/icon_info_01.png"></i>
                    <p>开奖</p>
                </a>
            </li>
            <li>
                <a href="/News/Index/5/123">
                    <i><img src="/images/icon_info_02.png"></i>
                    <p>挂牌</p>
                </a>
            </li>
            <li>
                <a href="/News/Index/5/124">
                    <i><img src="/images/icon_info_03.png"></i>
                    <p>跑狗</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("LotteryTime","News")">
                    <i><img src="/images/icon_info_04.png"></i>
                    <p>时间</p>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <div class="info_LHC_category col4">
        <dl>
            <dt><p><span class="spec"></span>香港正版图库</p></dt>
            <dd><a href="/News/Index/5/111">看图解码</a></dd>
            <dd><a href="/News/Index/5/112">幸运彩图</a></dd>
            <dd><a href="/News/Index/5/113">精彩选图</a></dd>
            <dd><a href="/News/Index/5/114">香港图库</a></dd>
        </dl>
        <div class="clearfix"></div>
    </div>

    <div class="info_LHC_category col3">
        <dl>
            <dt>
                <p>
                    <span class="spec"></span>免费资料
                </p>
            </dt>

            @foreach (NewsType item in ViewBag.NewsTypeList)
            {
                <dd>
                    @Html.ActionLink(@item.TypeName, "Index", new { id = @item.LType, ntype = @item.Id })
                </dd>
            }

        </dl>
        <div class="clearfix"></div>
    </div>

    <div class="mask" style="display:none;"></div>

</body>

</html>
