@using C8.Lottery.Model
@using C8.Lottery.Public
@using System.Configuration
@model LotteryType

@{
    Layout = null;
    int lType = ViewBag.lType;
    var socketUrl = ConfigurationManager.AppSettings["WebSocketUrl"];
    string CityId = ViewBag.CityId;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@Model.SeoSubject</title>
    <meta name="keywords" content="@Model.SeoKeyword">
    <meta name="description" content="@Model.SeoDescription">
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/c8-icon.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>

    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/news/newsruntime.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1)" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo  hjc_HeaderXL">@Model.TypeName<span class="select_sign"></span></a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>

    <div class="hjc_hdNav fixed" style="display:none">
        <input type="hidden" id="lType" value="@lType" />
        <div class="hdNav_cai_expand">
            <ul class="hdNav_cai"></ul>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="Plan_content top50">
        <div class="Plan_CInfo">
            <div class="CZ_hdtit">
                <dl class="CZ_hdMain info_LHC">
                    <dt><a href="javascript:;"><img src="/images/logo5.png"></a></dt>
                    <dd>
                        <div class="hdM_ddtit">
                            <h3 class="hdM_ddtqi f-l">
                                第<span id="txtIssue">@ViewBag.lastIssue</span>期
                            </h3>
                            <p class="hdM_ddtime f-r">
                                下期开奖：@Html.Raw(ViewBag.time)
                            </p>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="Forecast_LHC" id="ballListDiv"></div>
                        <div class="Forecast_LHC" id="shengXiaoListDiv"></div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="info_LHC_nav">
        <ul class="hdNav_ul">
            <li>
                <a href="/Record/OpenRecord/?lType=@lType">
                    <i><img src="/images/icon_info_01.png"></i>
                    <p>开奖</p>
                </a>
            </li>
            <li>
                <a href="/News/NewIndex/5/123">
                    <i><img src="/images/icon_info_02.png"></i>
                    <p>挂牌</p>
                </a>
            </li>
            <li>
                <a href="/News/NewIndex/5/124">
                    <i><img src="/images/icon_info_03.png"></i>
                    <p>跑狗</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("LotteryTime","News")">
                    <i><img src="/images/icon_info_04.png"></i>
                    <p>时间</p>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <div class="info_LHC_category col4">
        <dl>
            <dt><p><span class="spec"></span>香港正版图库</p></dt>
            <dd><a href="/News/NewIndex/5/111">看图解码</a></dd>
            <dd><a href="/News/NewIndex/5/112">幸运彩图</a></dd>
            <dd><a href="/News/NewIndex/5/113">精选彩图</a></dd>
            <dd><a href="/News/NewIndex/5/114">香港图库</a></dd>
        </dl>
        <div class="clearfix"></div>
    </div>

    <div class="info_LHC_category col3">
        <dl id="newsTypeListDiv">
            <dt>
                <p>
                    <span class="spec"></span>免费资料
                </p>
            </dt>
        </dl>
        <div class="clearfix"></div>
    </div>

    <!--侧边栏-->
    @Html.Partial("Sidebar")

    <div class="mask" style="display:none;"></div>
    <div class="mask2" style="display:none;"></div>

    <script type="text/javascript">
        var newsTypeList = eval("@ViewBag.NewsTypeList".replace(/&quot;/g, "'"));
        var lastNum = "@ViewBag.lastNum";
        var showInfo = "@ViewBag.showInfo";
        var lotteryTypeList = eval("@ViewBag.LotteryTypeList".replace(/&quot;/g, "'"));

        var url = "@socketUrl/LhcHandler.ashx";
        var ws;

        var cityid = @CityId;
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/TypeList.js"></script>
</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>
