@using C8.Lottery.Model
@model List<Comment>

<div class="Gues_comment">
    <div class="Gues_comTitle" style="margin: 0 -.625rem;padding: 0 .625rem;">
        <h3>精彩评论</h3>
        @if (Model.Count >= 3)
        {
            <a href="/News/CommentList/@ViewBag.ArticleId?type=@ViewBag.Type&refUid=@ViewBag.RefUid">更多评论>></a>
        }
        <div style="clear:both;"></div>
    </div>
    <div class="Gues_Cbox" id="Gues1" style="padding-bottom: 49px;">
        @if (Model == null || Model.Count <= 0)
        {
            <div class="notdata">
                <img src="/images/null.png">
                <div class="text">暂无评论</div>
            </div>
        }
        else
        {
            <ul class="Gues_ul">
                @foreach (var comment in Model)
                {
                    <li>
                        <dl class="Guse_CDL">

                            <dt><a href="/Personal/UserCenter/@comment.UserId"><img src="@Url.Content(comment.Avater)"></a></dt>
                            <dd>
                                <div class="CDL_DDTop">
                                    <h3>
                                        <a href="/Personal/UserCenter/@comment.UserId">@comment.NickName</a>
                                    </h3>
                                    <p>@comment.SubTime.ToString("yyyy-MM-dd HH:mm")</p>
                                </div>
                                <div class="CDL_DDFont">
                                    <p>@comment.Content</p>
                                </div>
                            </dd>
                        </dl>
                        <div class="comp_Dlk4">
                            <a href="javascript::" class="comp_DZ">
                                @if (comment.CurrentUserLikes > 0)
                                {
                                    <i class="on" data-id="@comment.Id" data-ctype="2" data-commenttype="@comment.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>

                                }
                                else
                                {
                                    <i data-id="@comment.Id" data-ctype="1" data-commenttype="@comment.Type"><img src="/images/46_1.png" class="DZ_tu1"><img src="/images/46_2.png" class="DZ_tu2"></i>

                                }

                                @if (comment.StarCount > 0)
                                {
                                    <span>@comment.StarCount</span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            </a>
                            <a href="/Comment/Index/@comment.Id?ctype=2&type=@ViewBag.Type" class="comp_HF"><img src="/images/46_3.png"></a>
                        </div>

                        @if (comment.ReplayCount > 0)
                        {
                            <div class="comp_replay">
                                <a href="/News/CommentDetail/@comment.Id">查看全部<span>@comment.ReplayCount</span>条回复>></a>
                            </div>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>

<div class="Gues_footer">
    <div class="Gues_ftTB f-r">
        <a href="/News/CommentList/@ViewBag.ArticleId?type=@ViewBag.Type&refUid=@ViewBag.RefUid" class="ftTB_A">
            <img src="/images/62_1.png">
            <font>@ViewBag.CommentTotalCount</font>
        </a>
        @*<a href="javascript:showShare();" class="ftTB_A ShareBtn"><img src="/images/62_2.png"></a>*@
    </div>
    <a href="/Comment/Index/@ViewBag.ArticleId?ctype=1&type=@ViewBag.Type&refUid=@ViewBag.RefUid" class="Gues_ftFBPL">请输入您的评论</a>
</div>

@{Html.RenderAction("index", "PvUvIp");}