@using C8.Lottery.Portal.Models
@{
    Layout = null;
}
@model C8.Lottery.Portal.Models.CommentViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>发表评论</title>
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script src="@ViewBag.osshost/js/luo/jquery.mCustomScrollbar.min.js"></script>
    <script src="@ViewBag.osshost/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>
<body style="overflow: hidden">
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">发表评论</a>
        <a href="javascript:publish();" class="SX_A">发表</a>
    </header>
    <div class="Comment_Box">
        <div class="Comment_Btar">
            @if (Model.OperateType == 1)
            {
                <textarea id="editor" placeholder="发表你的评论"></textarea>
            }
            else if (Model.OperateType == 2)
            {
                <textarea id="editor" placeholder='@("回复 " + Model.RefCommentName + "：")'></textarea>
            }
        </div>
        @*<ul class="Comment_Ul">
                <li><img src="/images/53_4.png"><i class="Com_icon"></i></li>
                <li><img src="/images/53_5.png"><input type="file" class="Com_File"></li>
                <div style="clear:both;"></div>
            </ul>*@
    </div>
    <div class="Comment_footer">
        @*<button id="btnEmoji">aaaaa</button>*@
        <button id="btnEmoji" class="Com_FtA emoji-button"></button>
        @*<a href="javascript:;" id="btnEmojia" class="Com_FtA"><img src="/images/53_1.png"></a>*@
        @*<a href="javascript:;" class="Com_FtA"><img src="/images/53_2.png"></a>*@
    </div>
    <script type="text/javascript">
        var Id= @Model.Id;
        var OperateType=@Model.OperateType;
        var CommentType=@Model.CommentType;
        var RefUserId=@Model.RefUserId;
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/CommentIndex.js"></script>

</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>
