@using C8.Lottery.Model
@{
    Layout = null;
    List<LotteryType2> typeList = ViewBag.TypeList;
    IEnumerable<IGrouping<int, LotteryType2>> lotteryList = ViewBag.LotteryList;
}

@model LotteryType2

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>彩票高手榜_彩票大师_彩票预测_彩票计划</title>

    <link rel="stylesheet" type="text/css" href="/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Home/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">彩票高手榜</a>
        <a href="javascript::" class="ZX_Sidebar"></a>
    </header>

    <div class="hjc_hdNav">

        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                @if (typeList != null)
                {
                    foreach (var item in typeList)
                    {
                        if (item.Id == Model.PId)
                        {
                            <li data-id="@("group"+item.Id)" class="current"><a href="javascript:;">@item.Name</a></li>
                        }
                        else
                        {
                            <li data-id="@("group"+item.Id)"><a href="javascript:;">@item.Name</a></li>

                        }
                    }
                }
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
            @*<div class="hdNav_cai_title">
                    <span>切换分类</span>
                    <span class="collect"><img src="/images/icon-collect.png" alt="" /></span>
                </div>*@
            <ul class="hdNav_cai">
                @if (typeList != null)
                {
                    foreach (var item in typeList)
                    {
                        if (item.Id == Model.PId)
                        {
                            <li data-id="@("group"+item.Id)" class="current"><a href="javascript:;">@item.Name</a></li>
                        }
                        else
                        {
                            <li data-id="@("group"+item.Id)"><a href="javascript:;">@item.Name</a></li>

                        }
                    }
                }
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="gaoshou">
        <div class="GS_box" style="display: block;">

            @if (lotteryList.Any())
            {
                foreach (var goupList in lotteryList)
                {
                    string showMode = goupList.Key == Model.PId ? "display:block;" : "display:none;";
                    <ul id="@("group"+goupList.Key)" class="GS_nav" style="@showMode">

                        @foreach (var item in goupList)
                        {
                            if (item.Id == Model.Id)
                            {
                                <li class="current"><a href="/List/Expert/@item.Id">@item.Name</a></li>
                            }
                            else
                            {
                                <li><a href="/List/Expert/@item.Id">@item.Name</a></li>
                            }
                        }

                        <div style="clear: both;"></div>
                    </ul>
                }
            }
        </div>
        <a href="javascript:;" class="GS_btn"><img src="/images/50.png" /></a>
    </div>

    <ul class="C8_nav6 C8_bang">
        <li data-idx="day">
            <a href="javascript:;">
                <p>日榜</p><span></span>
            </a>
        </li>
        <li data-idx="week">
            <a href="javascript:;">
                <p>周榜</p><span></span>
            </a>
        </li>
        <li data-idx="month">
            <a href="javascript:;">
                <p>月榜</p><span></span>
            </a>
        </li>
        <li data-idx="all" class="current">
            <a href="javascript:;">
                <p>总榜</p><span></span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>

    @Html.Action("ExpertData", new { id = @Model.Id })


    <!--侧边栏-->
    <div class="ZX_CLBox">
        <div class="CLB_YY"></div>
        <div class="CLB_con">
            <ul class="CLB_cNav">
                <!--cNav_current-->
                <li>
                    <a href="/Home/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_1.png"></dt>
                            <dd>
                                <p>首页</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Open">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_2.png"></dt>
                            <dd>
                                <p>开奖</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="JavaScript:;">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_3.png"></dt>
                            <dd>
                                <p>走势</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Plan">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_4.png"></dt>
                            <dd>
                                <p>计划</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Talking/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="~/images/w6_5.png"></dt>
                            <dd>
                                <p>聊天</p>
                                <img src="~/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="mask" style="display: none;"></div>
    <script>
        $(function () {
            $(".C8_bang li").click(function () {
                var id = $(this).attr("data-idx");
                $(".Ranking_footer #" + id).show().siblings().hide();

            })
        });

    </script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
