
@using C8.Lottery.Model

@{
    ViewBag.Title = "Profit";
    var TypeList = ViewBag.TypeList as List<LotteryType2>;
    var LotteryList = ViewBag.LotteryList as IEnumerable<IGrouping<int, LotteryType2>>;

}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>盈利榜</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link href="@ViewBag.osshost/css/null.css" rel="stylesheet" />
    <link href="@ViewBag.osshost/css/dialog.css" rel="stylesheet" />
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/Profit.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/List/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">盈利榜</a>
    </header>

    <div class="hjc_hdNav">

        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="@ViewBag.osshost/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                @foreach (var item in TypeList)
                {
                    if (TypeList.IndexOf(item) == 0)
                    {
                        <li data-pid="@item.Id" class="current"><a href="javascript:;">@item.Name</a></li>
                    }
                    else
                    {
                        <li data-pid="@item.Id"><a href="javascript:;">@item.Name</a></li>
                    }
                }

                <div style="clear:both;"></div>

            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
           
            <ul class="hdNav_cai">
                @foreach (var item in TypeList)
                {
                    if (TypeList.IndexOf(item) == 0)
                    {
                        <li data-pid="@item.Id" class="current"><a href="javascript:;">@item.Name</a></li>
                    }
                    else
                    {
                        <li data-pid="@item.Id"><a href="javascript:;">@item.Name</a></li>
                    }
                }


                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>

   

    <div class="gaoshou">
        <div class="GS_box">

            @foreach (IGrouping<int, LotteryType2> item in LotteryList)
            {

                if (item.Key == 1)
                {

                    <ul id="group_@item.ElementAt(0).PId" class="GS_nav">
                        @foreach (var item1 in item.ToList())
                        {
                            if (item.ToList().IndexOf(item1) == 0)
                            {
                                <li data-ltype="@item1.lType" class="current"><a href="javascript:;">@item1.Name</a></li>
                            }
                            else
                            {
                                <li data-ltype="@item1.lType"><a href="javascript:;">@item1.Name</a></li>
                            }
                        }

                    </ul>
                }
                else
                {
                    <ul id="group_@item.ElementAt(0).PId" class="GS_nav" style="display: none;">
                        @foreach (var item1 in item.ToList())
                        {
                            if (item.ToList().IndexOf(item1) == 0)
                            {
                                <li data-ltype="@item1.lType" class="current"><a href="javascript:;">@item1.Name</a></li>
                            }
                            else
                            {
                                <li data-ltype="@item1.lType"><a href="javascript:;">@item1.Name</a></li>
                            }
                        }
                    </ul>
                }
            }

        </div>
        <a href="javascript:;" class="GS_btn"><img src="@ViewBag.osshost/images/50.png"></a>
    </div>



    <ul class="C8_nav6 C8_bang">
        <li data-idx="day">
            <a href="javascript:;">
                <p>日榜</p><span></span>
            </a>
        </li>
        <li data-idx="week">
            <a href="javascript:;">
                <p>周榜</p><span></span>
            </a>
        </li>
        <li data-idx="month">
            <a href="javascript:;">
                <p>月榜</p><span></span>
            </a>
        </li>
        <li class="current" data-idx="all">
            <a href="javascript:;">
                <p>总榜</p><span></span>
            </a>
        </li>
        <div style="clear:both;"></div>
    </ul>


    <div class="Ranking_content mt0">
        <div class="Ranking_Cinfo">
            
        </div>

    </div>
    <div class="Ranking_footer">
        <dl class="Rank_ftDL">


        </dl>
    </div>


    <div class="mask" style="display:none;"></div>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
