@using C8.Lottery.Model;
@using System.Configuration;
@{
    Layout = null;

    var CardList = ViewBag.CardList as List<BankInfo>;
    var userName = "";
    var bankAccount = "";
    if (CardList.Any())
    {
        userName = CardList.FirstOrDefault().TrueName;
        bankAccount = CardList.FirstOrDefault().BankAccount;
    }

    string webHost = ConfigurationManager.AppSettings["osshost"].ToString();
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>绑定银行卡</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css">
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery.js"></script>

    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>

<body style="background:#F4F4F5;">
    <header class="hjc_header">
        <a href="/Personal/MyCommission" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">绑定银行卡</a>
    </header>
    <div class="binding_box">
        <ul class="bind_Ul">
            <li>
                <p class="bind_pLeft f-l">姓　　名:</p>
                <div class="bind_Right"><input type="text" id="txtUserName" value="@userName" class="bind_RiptA" placeholder="请输入你的真实姓名"></div>
            </li>
            <li>
                <p class="bind_pLeft f-l">银行卡号:</p>
                <div class="bind_Right"><input type="text" id="txtBankAccount" class="bind_RiptA" value="@bankAccount" placeholder="请输入你的银行卡号码"></div>
            </li>
        </ul>
        <dl class="Withd_DL" style="display:none">
            <dt><img class="backImg" src=""></dt>
            <dd>
                <h3 class="backName">中国建设银行</h3>
                <p>尾号<span class="backAccount"></span>  储蓄卡</p>
            </dd>
        </dl>
        <button class="Set_btnMM" onclick="add()">确认</button>
        <p class="Success_tixing">*银行卡号必须与姓名保持一致</p>
        <p class="Success_tixing">*目前只支持 工商银行/中国银行/建设银行/农业银行/邮政储蓄银行/交通银行/光大银行/招商银行/民生银行/兴业银行/中信银行/广发银行/华夏银行/浦发银行/平安银行</p>
    </div>
    <script type="text/javascript">
        var webHost = "@webHost";
    </script>
    <script src="@ViewBag.osshost/js/ossjs/BindingBankCard.js"></script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
