@using C8.Lottery.Model;
@{
    Layout = null;
    var CardList = ViewBag.CardList as List<BankInfo>;
    var bankAccount = "";
    var bankName = "";
    var backId = 0;
    if (CardList.Any())
    {
        bankAccount = CardList.FirstOrDefault().BankAccount;
        bankName = CardList.FirstOrDefault().BankName;
        backId = CardList.FirstOrDefault().Id;
    }

}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-我的佣金-提现</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/MyCommission" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">提现</a>
    </header>

    @if (CardList == null || !CardList.Any())
    {
        <script type="text/javascript">
            alert("请先绑定一张银行卡");
            document.location.href = "/Amount/BindingBankCard";
        </script>
    }
    else
    {
        <div class="Withdrawals">
            <dl class="Withd_DL">
                <dt><img id="bankImg" src=""></dt>
                <dd>
                    <h3>@Html.Raw(bankName)</h3>
                    <p>@Html.Raw("尾号" + bankAccount.Substring(bankAccount.Length - 4, 4))  储蓄卡</p>
                </dd>
            </dl>
            <div class="Withd_Info">
                <h3 class="Withd_Iftit">提现金额</h3>
                <div class="Withd_Iftext">
                    <p class="Ift_font f-l">￥</p>
                    <div class="Ift_ipt"><input type="number" id="txtNumber" placeholder="@Html.Raw("最低提现金额"+ViewBag.MinExtractCash+"元")"></div>
                </div>
                <div class="Withd_Ifwz">
                    <p>可提现余额<span>@Html.Raw(ViewBag.MyCommission)</span>元</p>
                    <a href="javascript:all();">全部提现</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <button class="Set_btnMM" onclick="extractCash()">确认</button>
        </div>
    }

    <script type="text/javascript">
        var bankName="@bankName";
        var MyCommission=@ViewBag.MyCommission;
        var MinExtractCash=@ViewBag.MinExtractCash;
        var backId=@backId;

       
    </script>

    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/ExtractCash.js"></script>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
