@using C8.Lottery.Public
@using C8.Lottery.Model
@{
    Layout = null;
    UserInfo user = ViewBag.UserInfo;
    SiteSetting site = ViewBag.SiteSetting;

    List<News> newsList = ViewBag.NewsList as List<News>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@site.Name</title>
    <meta name="keywords" content="@site.KeyWord">
    <meta name="description" content="@site.Description">
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@ViewBag.osshost/css/c8-icon.css" rel="stylesheet" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/runTime3.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>
<body>
    <header class="hjc_header" style="text-align:left;">
        <a href="javascript:;" class="home_logo"><img src="@(string.IsNullOrEmpty(site.LogoPath)?ViewBag.osshost+"/images/03.png":site.LogoPath)"></a>
        <div class="hjc_hdDZ">
            @if (user == null)
            {
                <a href="/Home/Login">登录</a>
                <a href="/Home/Register">注册</a>
            }
            else
            {
                <a href="/Personal/Index">Hi,@user.Name</a>
                <a href="/Personal/logOut">退出</a>
            }
        </div>
    </header>
    <div class="" style="margin-top:50px;">
        <ul class="hdNav_ul">
            <li>
                <a href="/Home/Open">
                    <i><img src="@ViewBag.osshost/images/grids_icon_01.png"></i>
                    <p>开奖</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i><img src="@ViewBag.osshost/images/grids_icon_02.png"></i>
                    <p>走势</p>
                </a>
            </li>
            <li>
                <a href="/Home/Plan">
                    <i><img src="@ViewBag.osshost/images/grids_icon_03.png"></i>
                    <p>计划</p>
                </a>
            </li>
            <li>
                <a href="/List/Index">
                    <i><img src="@ViewBag.osshost/images/grids_icon_04.png"></i>
                    <p>排行</p>
                </a>
            </li>
            <li>
                <a href="/Talking/Index">
                    <i><img src="@ViewBag.osshost/images/grids_icon_05.png"></i>
                    <p>聊天</p>
                </a>
            </li>
            <li>
                <a href="/List/Expert">
                    <i><img src="@ViewBag.osshost/images/grids_icon_06.png"></i>
                    <p>高手</p>
                </a>
            </li>
            <li>
                <a href="/News/NewIndex/2">
                    <i><img src="@ViewBag.osshost/images/grids_icon_07.png"></i>
                    <p>资讯</p>
                </a>
            </li>
            <li>
                <a href="/Home/down">
                    <i><img src="@ViewBag.osshost/images/grids_icon_08.png"></i>
                    <p>App</p>
                </a>
            </li>
            <div style="clear:both;"></div>
        </ul>

    </div>
    <div class="hjc_CZQieBox">
        <div class="hdNav_cai_collect" style="display: block;">
            <div class="hdNav_cai_lhs_expand"><img src="@ViewBag.osshost/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="border-bottom: 1px solid rgb(238, 238, 238); display: none;">
            <ul class="hdNav_cai">
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>
    <div style="height:500px; display:none" id="kongbaiDiv"></div>
    <div class="hjc_indexmain">
    </div>
    <div class="hjc_news_lhs">
        <div class="hjc_news_title" style="text-align:left;">
            <span class="icon-fire hjc_news_title_info">精彩资讯</span>
            <a style="color:#f13131;float:right;" href="/News/NewIndex/2">更多</a>
        </div>
        @if (newsList != null)
        {
            foreach (var newse in newsList)
            {
                <div class="hjc_news_content">
                    @if (newse.ThumbListStr == "" || newse.ThumbStyle == 0)
                    {
                        //无图
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="newstime">
                                    <span>@site.WebName</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else if (newse.ThumbStyle == 1)
                    {
                        //一张小图
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news_left">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="newstime">
                                    <span>@site.WebName</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                            <div class="hjc_news_right">
                                @if (newse.ThumbListStr.Split('!').Length > 0)
                                {
                                    <img src="@newse.ThumbListStr.Split('!')[0]" alt="@newse.FullHead" />
                                }
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    }
                    else if (newse.ThumbStyle == 2)
                    {
                        //一张大图
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="hjc_news_thumb">
                                    <ul class="col_1">
                                        @foreach (var thumb in newse.ThumbListStr.Split('!'))
                                        {
                                            <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                        }
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="newstime">
                                    <span>@site.WebName</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else if (newse.ThumbStyle == 3)
                    {
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="hjc_news_thumb">
                                    <ul class="col_3">
                                        @foreach (var thumb in newse.ThumbListStr.Split('!'))
                                        {
                                            <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                        }
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="newstime">
                                    <span>@site.WebName</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="">
                                    <span>@site.WebName</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        }
    </div>
    @Html.Partial("Footer")
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/HomeIndex.js"></script>

</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>
