@using C8.Lottery.Model
@{
    Layout = null;
    UserInfo user = ViewBag.UserInfo;

    List<LotteryRecord> list = ViewBag.openList;
    LotteryRecord record = null;
    int lType = 0;
    SiteSetting site = ViewBag.SiteSetting;
    var newsList = ViewBag.NewsList as List<News>;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@site.Name</title>
    <meta name="keywords" content="@site.KeyWord">
    <meta name="description" content="@site.Description">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="~/css/c8-icon.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/runTime3.js"></script>
</head>
<body>
    <header class="hjc_header" style="text-align:left;">
        <a href="javascript:;" class="home_logo"><img src="/images/03.png"></a>
        <div class="hjc_hdDZ">
            @if (user == null)
            {
                <a href="/Home/Login">登录</a>
                <a href="/Home/Register">注册</a>
            }
            else
            {
                <a href="/Personal/Index">Hi,@user.Name</a>
                <a href="/Personal/logOut">退出</a>
            }

        </div>
    </header>


    <div class="hjc_hdNav">
        <ul class="hdNav_ul">
            <li>
                <a href="/Home/Open">
                    <i><img src="/images/grids_icon_01.png"></i>
                    <p>开奖</p>
                </a>
            </li>
            <li>
                <a href="c8_走势.html">
                    <i><img src="/images/grids_icon_02.png"></i>
                    <p>走势</p>
                </a>
            </li>
            <li>
                <a href="/Home/Plan">
                    <i><img src="/images/grids_icon_03.png"></i>
                    <p>计划</p>
                </a>
            </li>
            <li>
                <a href="/List/Index">
                    <i><img src="/images/grids_icon_04.png"></i>
                    <p>排行</p>
                </a>
            </li>
            <li>
                <a href="/Talking/Index">
                    <i><img src="/images/grids_icon_05.png"></i>
                    <p>聊天</p>
                </a>
            </li>
            <li>
                <a href="/List/Expert">
                    <i><img src="/images/grids_icon_06.png"></i>
                    <p>高手</p>
                </a>
            </li>
            <li>
                <a href="/News/Index/2">
                    <i><img src="/images/grids_icon_07.png"></i>
                    <p>资讯</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i><img src="/images/grids_icon_08.png"></i>
                    <p>App</p>
                </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div class="hdNav_cai_collect" style="display: block;">
            <div class="hdNav_cai_lhs_expand"><img src="/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
               
                @foreach (LotteryType2 lotteryType in ViewBag.list)
                {
                    <li><a href="javascript:;">@lotteryType.Name</a></li>
                }

                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display: none;">
            <div class="hdNav_cai_title">
                <span>切换分类</span>
                <span class="collect"><img src="/images/icon-collect.png" alt=""></span>
            </div>
            <ul class="hdNav_cai">
                
                @foreach (LotteryType2 lotteryType in ViewBag.list)
                {
                    <li><a href="javascript:;">@lotteryType.Name</a></li>
                }

                <div style="clear:both;"></div>
            </ul>
        </div>

    </div>


    <div class="hjc_indexmain" style="margin-top:265px;">
        
         @foreach (LotteryType2 lotteryType in ViewBag.list)
         {
             int[] lTypeArr = lotteryType.SonIdArr;

             <ul class="ind_mainUl2" style="display: none;">
          

                 @for (int j = 0; j < lTypeArr.Length; j++)
                 {
                     int i = lTypeArr[j];

                     lType = i;
                     record = list[i - 1];
                     string iconName = record.ShowIconName + ".png";
                     string[] numArr = record.Num.Split(',');

                     <li>
                         <div class="UL2_hd">
                             <a href="javascript:;">
                                 <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                 <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                 <span class="UL2_hdicon"></span>
                             </a>
                         </div>
                         <div class="UL2_bd">
                             <div class="UL3_bdinfo1">
                                 <p lType="@record.lType">
                                     <font>第<span>@record.Issue</span>期</font>
                                     <font>
                                         下期开奖：

                                         @if (record.ShowOpenTime == "正在开奖")
                                         {
                                             <span>正在开奖</span>
                                         }
                                         else
                                         {
                                             string openTime = record.ShowOpenTime;
                                             string[] timeArr = openTime.Split('&');

                                             string hour = timeArr[0];
                                             string min = timeArr[1];
                                             string sec = timeArr[2];

                                             <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                         }
                                     </font>
                                 </p>
                             </div>
                             <div class="UL3_bdinfo2">
                                 <div class="ball_wrap">


                                     @if (lType <= 62)
                                     {
                                         foreach (string s in numArr)
                                         {
                                             if (s == "19" || s == "20")
                                             {
                                                 <span class="ball_spB ball_red">@s</span>
                                             }
                                             else
                                             {
                                                 <span class="ball_spB ball_blue">@s</span>
                                             }

                                         }
                                     }
                                     else if (lType == 65)
                                     {
                                         int a = int.Parse(numArr[0]);
                                         int b = int.Parse(numArr[1]);
                                         int c = int.Parse(numArr[2]);
                                         int sum = a + b + c;

                                         <span class="ball_spB ball_blue">@numArr[0]</span>
                                         <span class="ball_spB ball_blue">+</span>
                                         <span class="ball_spB ball_blue">@numArr[1]</span>
                                         <span class="ball_spB ball_blue">+</span>
                                         <span class="ball_spB ball_blue">@numArr[2]</span>
                                         <span class="ball_spB ball_blue">=</span>
                                         <span class="ball_spB ball_blue">@sum</span>
                                     }
                                     else if (lType == 63 || lType == 64)
                                     {
                                         foreach (string s in numArr)
                                         {
                                             string clazz = "ball_spA No" + s;
                                             <span class="@clazz">@s</span>
                                         }
                                     }


                                 </div>
                                 <div class="UL3_ZZKJ">
                                     <p>正在开奖中...</p>
                                 </div>
                             </div>
                             <div class="UL3_bdinfo3">
                                 <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                 <a href="javascript:;" class="UL2_baif3a">双面</a>
                                 <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                 <a href="javascript:;" class="UL2_baif3a">走势</a>
                                 <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                 <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                 <a href="/Plan/Index/@record.lType?cur=2" class="UL2_baif3a">排行</a>
                                 <div style="clear: both;"></div>
                             </div>
                         </div>
                     </li>


                 }

                    
                         
                     
             </ul>
         }

        
        <script>
            $(function () {
                $('.hdNav_cai_lhs li').eq(0).addClass('current');
                $('.hdNav_cai li').eq(0).addClass('current');
                $('.ind_mainUl2').eq(0).show();
            });

        </script>


    </div>




<div class="mask" style="display: none;"></div>

    <div class="hjc_news_lhs">
        <div class="hjc_news_title" style="text-align:left;">
            <!-- <span class="icon-fire"></span> -->
            <span class="icon-fire hjc_news_title_info" >精彩资讯</span>
            <a style="color:#f13131;float:right;" href="/News/Index/2">更多</a>
        </div>
        @if (newsList != null)
        {
            foreach (var newse in newsList)
            {
                <div class="hjc_news_content">

                    @if (newse.ThumbList.Count < 1 || newse.ThumbStyle == 0)
                    {
                        //无图
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else if (newse.ThumbStyle == 1)
                    {
                        //一张小图
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news_left">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>

                            <div class="hjc_news_right">
                                @if (newse.ThumbList.Count > 0)
                        {
                                    <img src="@newse.ThumbList[0]" alt="@newse.FullHead" />
                                }
                            </div>

                        </a>
                        <div class="clearfix"></div>
                    }
                    else if (newse.ThumbStyle == 2)
                    {
                        //一张大图
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="hjc_news_thumb">
                                    <ul class="col_1">
                                        @foreach (var thumb in newse.ThumbList)
                                        {
                                            <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                        }
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else if (newse.ThumbStyle == 3)
                    {
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="hjc_news_thumb">
                                    <ul class="col_3">
                                        @foreach (var thumb in newse.ThumbList)
                                        {
                                            <li><img src="@thumb" alt="@newse.FullHead" /></li>
                                        }
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="newstime">
                                    <span>万彩吧</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="/News/NewsDetail/@newse.Id">
                            <div class="hjc_news">
                                <div class="hjc_news_subject">@newse.FullHead</div>
                                <div class="">
                                    <span>万彩吧</span>
                                    <span>@newse.ReleaseTimeStr</span>
                                    <span>@newse.CommentCount<i class="icon-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        }
     
    </div>

    @Html.Partial("Footer")
</body>
</html>
