@using C8.Lottery.Model
@{
    Layout = null;
    List<LotteryRecord> list = ViewBag.openList;
    LotteryRecord record = null;
    int lType = 0;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>开奖</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/runTime3.js"></script>
    <style>
        
        .ind_mainUl2{display: none;}

    </style>
</head>

<body>

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">开奖</a>
    </header>

    <div class="hjc_hdNav">
    

        <!-- 新增类型选择 By LHS 2018-3-2 -->
        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                <li class="current"><a href="javascript:;">热门</a></li>
                <li><a href="javascript:;">快三</a></li>
                <li><a href="javascript:;">11选5</a></li>
                <li><a href="javascript:;">时时彩</a></li>
                <li><a href="javascript:;">赛车</a></li>
                <li><a href="javascript:;">快乐十分</a></li>
                <li><a href="javascript:;">其他</a></li>
                <div style="clear:bothl;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
            <div class="hdNav_cai_title">
                <span>切换分类</span>
                <span class="collect"><img src="/images/icon-collect.png"  alt=""/></span>
            </div>
            <ul class="hdNav_cai">
                <li class="current"><a href="javascript:;">热门</a></li>
                <li><a href="javascript:;">快三</a></li>
                <li><a href="javascript:;">11选5</a></li>
                <li><a href="javascript:;">时时彩</a></li>
                <li><a href="javascript:;">赛车</a></li>
                <li><a href="javascript:;">快乐十分</a></li>
                <li><a href="javascript:;">其他</a></li>
                <div style="clear:bothl;"></div>
            </ul>
        </div>
    </div>


    <div class="hjc_indexmain" style="margin-top:106px;">
        
         @*热门*@
        <ul class="ind_mainUl2" style="display: block;">
                 
            @{
                int[] remen = { 1, 3, 5, 9, 18, 47, 52, 63, 64 };
            }

            @for (int j = 0; j < remen.Length; j++)
            {
                int i = remen[j];
                     
                    lType = i;
                    record = list[i-1];
                    string iconName = record.ShowIconName + ".png";
                    string[] numArr = record.Num.Split(',');  
                         
                    <li>
                        <div class="UL2_hd">
                            <a href="javascript:;">
                                <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                <span class="UL2_hdicon"></span>
                            </a>
                        </div>
                        <div class="UL2_bd">
                            <div class="UL3_bdinfo1">
                                <p lType="@record.lType">
                                    <font>第<span>@record.Issue</span>期</font>
                                    <font>
                                        下期开奖：

                                        @if (record.ShowOpenTime == "正在开奖")
                                        {
                                            <span>正在开奖</span>
                                        }
                                        else
                                        {
                                            string openTime = record.ShowOpenTime;
                                            string[] timeArr = openTime.Split('&');

                                            string hour = timeArr[0];
                                            string min = timeArr[1];
                                            string sec = timeArr[2];

                                            <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                        }
                                    </font>
                                </p>
                            </div>
                            <div class="UL3_bdinfo2">
                                <div class="ball_wrap">


                                    @if (lType <= 62)
                                    {
                                        foreach (string s in numArr)
                                        {
                                            if (s == "19" || s == "20")
                                            {
                                                <span class="ball_spB ball_red">@s</span>
                                            }
                                            else
                                            {
                                                <span class="ball_spB ball_blue">@s</span>
                                            }

                                        }
                                    }
                                    else if (lType == 65)
                                    {
                                        int a = int.Parse(numArr[0]);
                                        int b = int.Parse(numArr[1]);
                                        int c = int.Parse(numArr[2]);
                                        int sum = a + b + c;

                                        <span class="ball_spB ball_blue">@numArr[0]</span>
                                        <span class="ball_spB ball_blue">+</span>
                                        <span class="ball_spB ball_blue">@numArr[1]</span>
                                        <span class="ball_spB ball_blue">+</span>
                                        <span class="ball_spB ball_blue">@numArr[2]</span>
                                        <span class="ball_spB ball_blue">=</span>
                                        <span class="ball_spB ball_blue">@sum</span>
                                    }
                                    else if (lType == 63 || lType == 64)
                                    {
                                        foreach (string s in numArr)
                                        {
                                            string clazz = "ball_spA No" + s;
                                            <span class="@clazz">@s</span>
                                        }
                                    }


                                </div>
                                <div class="UL3_ZZKJ">
                                    <p>正在开奖中...</p>
                                </div>
                            </div>
                            <div class="UL3_bdinfo3">
                                <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                <a href="javascript:;" class="UL2_baif3a">双面</a>
                                <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                <a href="javascript:;" class="UL2_baif3a">走势</a>
                                <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                <a href="javascript:;" class="UL2_baif3a">排行</a>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </li>
                         
                         
                }

                    
                         
                     
                 </ul>                  
               
                 
        @*快三*@
        <ul class="ind_mainUl2">
                 
                     @for (int i = 38; i < 51; i++)
                     {
                         lType = i;
                         record = list[i-1];
                         string iconName = record.ShowIconName + ".png";
                         string[] numArr = record.Num.Split(',');  
                         
                         <li>
                             <div class="UL2_hd">
                                 <a href="javascript:;">
                                     <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                     <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                     <span class="UL2_hdicon"></span>
                                 </a>
                             </div>
                             <div class="UL2_bd">
                                 <div class="UL3_bdinfo1">
                                     <p lType="@record.lType">
                                         <font>第<span>@record.Issue</span>期</font>
                                         <font>
                                             下期开奖：

                                             @if (record.ShowOpenTime == "正在开奖")
                                             {
                                                 <span>正在开奖</span>
                                             }
                                             else
                                             {
                                                 string openTime = record.ShowOpenTime;
                                                 string[] timeArr = openTime.Split('&');

                                                 string hour = timeArr[0];
                                                 string min = timeArr[1];
                                                 string sec = timeArr[2];

                                                 <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                             }
                                         </font>
                                     </p>
                                 </div>
                                 <div class="UL3_bdinfo2">
                                     <div class="ball_wrap">


                                         @if (lType <= 62)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 if (s == "19" || s == "20")
                                                 {
                                                     <span class="ball_spB ball_red">@s</span>
                                                 }
                                                 else
                                                 {
                                                     <span class="ball_spB ball_blue">@s</span>
                                                 }

                                             }
                                         }
                                         else if (lType == 65)
                                         {
                                             int a = int.Parse(numArr[0]);
                                             int b = int.Parse(numArr[1]);
                                             int c = int.Parse(numArr[2]);
                                             int sum = a + b + c;

                                             <span class="ball_spB ball_blue">@numArr[0]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[1]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[2]</span>
                                             <span class="ball_spB ball_blue">=</span>
                                             <span class="ball_spB ball_blue">@sum</span>
                                         }
                                         else if (lType == 63 || lType == 64)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 string clazz = "ball_spA No" + s;
                                                 <span class="@clazz">@s</span>
                                             }
                                         }


                                     </div>
                                     <div class="UL3_ZZKJ">
                                         <p>正在开奖中...</p>
                                     </div>
                                 </div>
                                 <div class="UL3_bdinfo3">
                                     <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                     <a href="javascript:;" class="UL2_baif3a">双面</a>
                                     <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                     <a href="javascript:;" class="UL2_baif3a">走势</a>
                                     <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                     <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                     <a href="javascript:;" class="UL2_baif3a">排行</a>
                                     <div style="clear:both;"></div>
                                 </div>
                             </div>
                         </li>
                         
                         
                     }

                    
                         
                     
                 </ul>
                 
        @*11选5*@
        <ul class="ind_mainUl2">
                 
                     @for (int i = 15; i < 38; i++)
                     {
                         lType = i;
                         record = list[i-1];
                         string iconName = record.ShowIconName + ".png";
                         string[] numArr = record.Num.Split(',');  
                         
                         <li>
                             <div class="UL2_hd">
                                 <a href="javascript:;">
                                     <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                     <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                     <span class="UL2_hdicon"></span>
                                 </a>
                             </div>
                             <div class="UL2_bd">
                                 <div class="UL3_bdinfo1">
                                     <p lType="@record.lType">
                                         <font>第<span>@record.Issue</span>期</font>
                                         <font>
                                             下期开奖：

                                             @if (record.ShowOpenTime == "正在开奖")
                                             {
                                                 <span>正在开奖</span>
                                             }
                                             else
                                             {
                                                 string openTime = record.ShowOpenTime;
                                                 string[] timeArr = openTime.Split('&');

                                                 string hour = timeArr[0];
                                                 string min = timeArr[1];
                                                 string sec = timeArr[2];

                                                 <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                             }
                                         </font>
                                     </p>
                                 </div>
                                 <div class="UL3_bdinfo2">
                                     <div class="ball_wrap">


                                         @if (lType <= 62)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 if (s == "19" || s == "20")
                                                 {
                                                     <span class="ball_spB ball_red">@s</span>
                                                 }
                                                 else
                                                 {
                                                     <span class="ball_spB ball_blue">@s</span>
                                                 }

                                             }
                                         }
                                         else if (lType == 65)
                                         {
                                             int a = int.Parse(numArr[0]);
                                             int b = int.Parse(numArr[1]);
                                             int c = int.Parse(numArr[2]);
                                             int sum = a + b + c;

                                             <span class="ball_spB ball_blue">@numArr[0]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[1]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[2]</span>
                                             <span class="ball_spB ball_blue">=</span>
                                             <span class="ball_spB ball_blue">@sum</span>
                                         }
                                         else if (lType == 63 || lType == 64)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 string clazz = "ball_spA No" + s;
                                                 <span class="@clazz">@s</span>
                                             }
                                         }


                                     </div>
                                     <div class="UL3_ZZKJ">
                                         <p>正在开奖中...</p>
                                     </div>
                                 </div>
                                 <div class="UL3_bdinfo3">
                                     <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                     <a href="javascript:;" class="UL2_baif3a">双面</a>
                                     <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                     <a href="javascript:;" class="UL2_baif3a">走势</a>
                                     <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                     <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                     <a href="javascript:;" class="UL2_baif3a">排行</a>
                                     <div style="clear:both;"></div>
                                 </div>
                             </div>
                         </li>
                         
                         
                     }

                    
                         
                     
                 </ul>
                 
        @*时时彩*@
        <ul class="ind_mainUl2">
                 
                     @for (int i = 9; i < 15; i++)
                     {
                         lType = i;
                         record = list[i-1];
                         string iconName = record.ShowIconName + ".png";
                         string[] numArr = record.Num.Split(',');  
                         
                         <li>
                             <div class="UL2_hd">
                                 <a href="javascript:;">
                                     <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                     <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                     <span class="UL2_hdicon"></span>
                                 </a>
                             </div>
                             <div class="UL2_bd">
                                 <div class="UL3_bdinfo1">
                                     <p lType="@record.lType">
                                         <font>第<span>@record.Issue</span>期</font>
                                         <font>
                                             下期开奖：

                                             @if (record.ShowOpenTime == "正在开奖")
                                             {
                                                 <span>正在开奖</span>
                                             }
                                             else
                                             {
                                                 string openTime = record.ShowOpenTime;
                                                 string[] timeArr = openTime.Split('&');

                                                 string hour = timeArr[0];
                                                 string min = timeArr[1];
                                                 string sec = timeArr[2];

                                                 <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                             }
                                         </font>
                                     </p>
                                 </div>
                                 <div class="UL3_bdinfo2">
                                     <div class="ball_wrap">


                                         @if (lType <= 62)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 if (s == "19" || s == "20")
                                                 {
                                                     <span class="ball_spB ball_red">@s</span>
                                                 }
                                                 else
                                                 {
                                                     <span class="ball_spB ball_blue">@s</span>
                                                 }

                                             }
                                         }
                                         else if (lType == 65)
                                         {
                                             int a = int.Parse(numArr[0]);
                                             int b = int.Parse(numArr[1]);
                                             int c = int.Parse(numArr[2]);
                                             int sum = a + b + c;

                                             <span class="ball_spB ball_blue">@numArr[0]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[1]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[2]</span>
                                             <span class="ball_spB ball_blue">=</span>
                                             <span class="ball_spB ball_blue">@sum</span>
                                         }
                                         else if (lType == 63 || lType == 64)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 string clazz = "ball_spA No" + s;
                                                 <span class="@clazz">@s</span>
                                             }
                                         }


                                     </div>
                                     <div class="UL3_ZZKJ">
                                         <p>正在开奖中...</p>
                                     </div>
                                 </div>
                                 <div class="UL3_bdinfo3">
                                     <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                     <a href="javascript:;" class="UL2_baif3a">双面</a>
                                     <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                     <a href="javascript:;" class="UL2_baif3a">走势</a>
                                     <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                     <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                     <a href="javascript:;" class="UL2_baif3a">排行</a>
                                     <div style="clear:both;"></div>
                                 </div>
                             </div>
                         </li>
                         
                         
                     }

                    
                         
                     
                 </ul>
                 
        @*赛车*@
        <ul class="ind_mainUl2">
                 
                     @for (int i = 63; i < 66; i++)
                     {
                         lType = i;
                         record = list[i-1];
                         string iconName = record.ShowIconName + ".png";
                         string[] numArr = record.Num.Split(',');  
                         
                         <li>
                             <div class="UL2_hd">
                                 <a href="javascript:;">
                                     <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                     <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                     <span class="UL2_hdicon"></span>
                                 </a>
                             </div>
                             <div class="UL2_bd">
                                 <div class="UL3_bdinfo1">
                                     <p lType="@record.lType">
                                         <font>第<span>@record.Issue</span>期</font>
                                         <font>
                                             下期开奖：

                                             @if (record.ShowOpenTime == "正在开奖")
                                             {
                                                 <span>正在开奖</span>
                                             }
                                             else
                                             {
                                                 string openTime = record.ShowOpenTime;
                                                 string[] timeArr = openTime.Split('&');

                                                 string hour = timeArr[0];
                                                 string min = timeArr[1];
                                                 string sec = timeArr[2];

                                                 <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                             }
                                         </font>
                                     </p>
                                 </div>
                                 <div class="UL3_bdinfo2">
                                     <div class="ball_wrap">


                                         @if (lType <= 62)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 if (s == "19" || s == "20")
                                                 {
                                                     <span class="ball_spB ball_red">@s</span>
                                                 }
                                                 else
                                                 {
                                                     <span class="ball_spB ball_blue">@s</span>
                                                 }

                                             }
                                         }
                                         else if (lType == 65)
                                         {
                                             int a = int.Parse(numArr[0]);
                                             int b = int.Parse(numArr[1]);
                                             int c = int.Parse(numArr[2]);
                                             int sum = a + b + c;

                                             <span class="ball_spB ball_blue">@numArr[0]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[1]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[2]</span>
                                             <span class="ball_spB ball_blue">=</span>
                                             <span class="ball_spB ball_blue">@sum</span>
                                         }
                                         else if (lType == 63 || lType == 64)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 string clazz = "ball_spA No" + s;
                                                 <span class="@clazz">@s</span>
                                             }
                                         }


                                     </div>
                                     <div class="UL3_ZZKJ">
                                         <p>正在开奖中...</p>
                                     </div>
                                 </div>
                                 <div class="UL3_bdinfo3">
                                     <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                     <a href="javascript:;" class="UL2_baif3a">双面</a>
                                     <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                     <a href="javascript:;" class="UL2_baif3a">走势</a>
                                     <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                     <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                     <a href="javascript:;" class="UL2_baif3a">排行</a>
                                     <div style="clear:both;"></div>
                                 </div>
                             </div>
                         </li>
                         
                         
                     }

                    
                         
                     
                 </ul>

        @*快乐十分*@
        <ul class="ind_mainUl2">
                 
                     @for (int i = 51; i < 60; i++)
                     {
                         lType = i;
                         record = list[i-1];
                         string iconName = record.ShowIconName + ".png";
                         string[] numArr = record.Num.Split(',');  
                         
                         <li>
                             <div class="UL2_hd">
                                 <a href="javascript:;">
                                     <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                     <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                     <span class="UL2_hdicon"></span>
                                 </a>
                             </div>
                             <div class="UL2_bd">
                                 <div class="UL3_bdinfo1">
                                     <p lType="@record.lType">
                                         <font>第<span>@record.Issue</span>期</font>
                                         <font>
                                             下期开奖：

                                             @if (record.ShowOpenTime == "正在开奖")
                                             {
                                                 <span>正在开奖</span>
                                             }
                                             else
                                             {
                                                 string openTime = record.ShowOpenTime;
                                                 string[] timeArr = openTime.Split('&');

                                                 string hour = timeArr[0];
                                                 string min = timeArr[1];
                                                 string sec = timeArr[2];

                                                 <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                             }
                                         </font>
                                     </p>
                                 </div>
                                 <div class="UL3_bdinfo2">
                                     <div class="ball_wrap">


                                         @if (lType <= 62)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 if (s == "19" || s == "20")
                                                 {
                                                     <span class="ball_spB ball_red">@s</span>
                                                 }
                                                 else
                                                 {
                                                     <span class="ball_spB ball_blue">@s</span>
                                                 }

                                             }
                                         }
                                         else if (lType == 65)
                                         {
                                             int a = int.Parse(numArr[0]);
                                             int b = int.Parse(numArr[1]);
                                             int c = int.Parse(numArr[2]);
                                             int sum = a + b + c;

                                             <span class="ball_spB ball_blue">@numArr[0]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[1]</span>
                                             <span class="ball_spB ball_blue">+</span>
                                             <span class="ball_spB ball_blue">@numArr[2]</span>
                                             <span class="ball_spB ball_blue">=</span>
                                             <span class="ball_spB ball_blue">@sum</span>
                                         }
                                         else if (lType == 63 || lType == 64)
                                         {
                                             foreach (string s in numArr)
                                             {
                                                 string clazz = "ball_spA No" + s;
                                                 <span class="@clazz">@s</span>
                                             }
                                         }


                                     </div>
                                     <div class="UL3_ZZKJ">
                                         <p>正在开奖中...</p>
                                     </div>
                                 </div>
                                 <div class="UL3_bdinfo3">
                                     <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                     <a href="javascript:;" class="UL2_baif3a">双面</a>
                                     <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                     <a href="javascript:;" class="UL2_baif3a">走势</a>
                                     <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                     <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                     <a href="javascript:;" class="UL2_baif3a">排行</a>
                                     <div style="clear:both;"></div>
                                 </div>
                             </div>
                         </li>
                         
                         
                     }

                    
                         
                     
                 </ul>
                 
                 
        @*其他*@
        <ul class="ind_mainUl2">
            
            @for (int i = 1; i < 9; i++)
            {
                lType = i;
                record = list[i-1];
                string iconName = record.ShowIconName + ".png";
                string[] numArr = record.Num.Split(',');  
                         
                <li>
                    <div class="UL2_hd">
                        <a href="javascript:;">
                            <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                            <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                            <span class="UL2_hdicon"></span>
                        </a>
                    </div>
                    <div class="UL2_bd">
                        <div class="UL3_bdinfo1">
                            <p lType="@record.lType">
                                <font>第<span>@record.Issue</span>期</font>
                                <font>
                                    下期开奖：

                                    @if (record.ShowOpenTime == "正在开奖")
                                    {
                                        <span>正在开奖</span>
                                    }
                                    else
                                    {
                                        string openTime = record.ShowOpenTime;
                                        string[] timeArr = openTime.Split('&');

                                        string hour = timeArr[0];
                                        string min = timeArr[1];
                                        string sec = timeArr[2];

                                        <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                    }
                                </font>
                            </p>
                        </div>
                        <div class="UL3_bdinfo2">
                            <div class="ball_wrap">


                                @if (lType <= 62)
                                {
                                    foreach (string s in numArr)
                                    {
                                        if (s == "19" || s == "20")
                                        {
                                            <span class="ball_spB ball_red">@s</span>
                                        }
                                        else
                                        {
                                            <span class="ball_spB ball_blue">@s</span>
                                        }

                                    }
                                }
                                else if (lType == 65)
                                {
                                    int a = int.Parse(numArr[0]);
                                    int b = int.Parse(numArr[1]);
                                    int c = int.Parse(numArr[2]);
                                    int sum = a + b + c;

                                    <span class="ball_spB ball_blue">@numArr[0]</span>
                                    <span class="ball_spB ball_blue">+</span>
                                    <span class="ball_spB ball_blue">@numArr[1]</span>
                                    <span class="ball_spB ball_blue">+</span>
                                    <span class="ball_spB ball_blue">@numArr[2]</span>
                                    <span class="ball_spB ball_blue">=</span>
                                    <span class="ball_spB ball_blue">@sum</span>
                                }
                                else if (lType == 63 || lType == 64)
                                {
                                    foreach (string s in numArr)
                                    {
                                        string clazz = "ball_spA No" + s;
                                        <span class="@clazz">@s</span>
                                    }
                                }


                            </div>
                            <div class="UL3_ZZKJ">
                                <p>正在开奖中...</p>
                            </div>
                        </div>
                        <div class="UL3_bdinfo3">
                            <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                            <a href="javascript:;" class="UL2_baif3a">双面</a>
                            <a href="javascript:;" class="UL2_baif3a">长龙</a>
                            <a href="javascript:;" class="UL2_baif3a">走势</a>
                            <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                            <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                            <a href="javascript:;" class="UL2_baif3a">排行</a>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </li>
                         
                         
            }
                 
            @for (int i = 60; i < 63; i++)
            {
                lType = i;
                record = list[i-1];
                string iconName = record.ShowIconName + ".png";
                string[] numArr = record.Num.Split(',');  
                         
                <li>
                    <div class="UL2_hd">
                        <a href="javascript:;">
                            <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                            <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                            <span class="UL2_hdicon"></span>
                        </a>
                    </div>
                    <div class="UL2_bd">
                        <div class="UL3_bdinfo1">
                            <p lType="@record.lType">
                                <font>第<span>@record.Issue</span>期</font>
                                <font>
                                    下期开奖：

                                    @if (record.ShowOpenTime == "正在开奖")
                                    {
                                        <span>正在开奖</span>
                                    }
                                    else
                                    {
                                        string openTime = record.ShowOpenTime;
                                        string[] timeArr = openTime.Split('&');

                                        string hour = timeArr[0];
                                        string min = timeArr[1];
                                        string sec = timeArr[2];

                                        <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                    }
                                </font>
                            </p>
                        </div>
                        <div class="UL3_bdinfo2">
                            <div class="ball_wrap">


                                @if (lType <= 62)
                                {
                                    foreach (string s in numArr)
                                    {
                                        if (s == "19" || s == "20")
                                        {
                                            <span class="ball_spB ball_red">@s</span>
                                        }
                                        else
                                        {
                                            <span class="ball_spB ball_blue">@s</span>
                                        }

                                    }
                                }
                                else if (lType == 65)
                                {
                                    int a = int.Parse(numArr[0]);
                                    int b = int.Parse(numArr[1]);
                                    int c = int.Parse(numArr[2]);
                                    int sum = a + b + c;

                                    <span class="ball_spB ball_blue">@numArr[0]</span>
                                    <span class="ball_spB ball_blue">+</span>
                                    <span class="ball_spB ball_blue">@numArr[1]</span>
                                    <span class="ball_spB ball_blue">+</span>
                                    <span class="ball_spB ball_blue">@numArr[2]</span>
                                    <span class="ball_spB ball_blue">=</span>
                                    <span class="ball_spB ball_blue">@sum</span>
                                }
                                else if (lType == 63 || lType == 64)
                                {
                                    foreach (string s in numArr)
                                    {
                                        string clazz = "ball_spA No" + s;
                                        <span class="@clazz">@s</span>
                                    }
                                }


                            </div>
                            <div class="UL3_ZZKJ">
                                <p>正在开奖中...</p>
                            </div>
                        </div>
                        <div class="UL3_bdinfo3">
                            <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                            <a href="javascript:;" class="UL2_baif3a">双面</a>
                            <a href="javascript:;" class="UL2_baif3a">长龙</a>
                            <a href="javascript:;" class="UL2_baif3a">走势</a>
                            <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                            <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                            <a href="javascript:;" class="UL2_baif3a">排行</a>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </li>
                         
                         
            }

                    
                         
                     
        </ul>
                 
                 

        
    </div>

    <footer class="hjc_footer">
        <div class="hjc_ftNav">
            <span>触屏版</span>|<a href="javascript:;">电脑版</a>
        </div>
        <div class="hjc_ftphone">永久域名：m.1369p.com</div>
        <p class="hjc_ftcopy">© 2016 皇家直播1369p.me 版权所有</p>
    </footer>

</body>

</html>