@using C8.Lottery.Model
@{
    Layout = null;
    List<LotteryRecord> list = ViewBag.openList;
    LotteryRecord record = null;
    int lType = 0;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>开奖</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/runTime3.js"></script>
    <style>
        
        .ind_mainUl2{display: none;}

    </style>
</head>

<body>

    <header class="hjc_header">
        <a href="/Home/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">开奖</a>
    </header>

    <div class="hjc_hdNav">
    

        <!-- 新增类型选择 By LHS 2018-3-2 -->
        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">
                
                @foreach (LotteryType2 lotteryType in ViewBag.list)
                {
                    <li><a href="javascript:;">@lotteryType.Name</a></li>
                }

                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
            <div class="hdNav_cai_title">
                <span>切换分类</span>
                <span class="collect"><img src="/images/icon-collect.png"  alt=""/></span>
            </div>
            <ul class="hdNav_cai">
                
                @foreach (LotteryType2 lotteryType in ViewBag.list)
                {
                    <li><a href="javascript:;">@lotteryType.Name</a></li>
                }

                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>


    <div class="hjc_indexmain" style="margin-top:106px;">
        
        @foreach (LotteryType2 lotteryType in ViewBag.list)
        {
            int[] lTypeArr = lotteryType.SonIdArr;
            
            <ul class="ind_mainUl2">
          

                @for (int j = 0; j < lTypeArr.Length; j++)
                {
                    int i = lTypeArr[j];

                    lType = i;
                    record = list[i - 1];
                    string iconName = record.ShowIconName + ".png";
                    string[] numArr = record.Num.Split(',');  
                         
                    <li>
                        <div class="UL2_hd">
                            <a href="javascript:;">
                                <div class="UL2_hdtu f-l"><img src="/images/@iconName"></div>
                                <div class="UL2_hdtit"><h3>@record.ShowTypeName</h3></div>
                                <span class="UL2_hdicon"></span>
                            </a>
                        </div>
                        <div class="UL2_bd">
                            <div class="UL3_bdinfo1">
                                <p lType="@record.lType">
                                    <font>第<span>@record.Issue</span>期</font>
                                    <font>
                                        下期开奖：

                                        @if (record.ShowOpenTime == "正在开奖")
                                        {
                                            <span>正在开奖</span>
                                        }
                                        else
                                        {
                                            string openTime = record.ShowOpenTime;
                                            string[] timeArr = openTime.Split('&');

                                            string hour = timeArr[0];
                                            string min = timeArr[1];
                                            string sec = timeArr[2];

                                            <span><t class="hour">@hour</t>:<t class="minute">@min</t>:<t class="second">@sec</t></span>
                                        }
                                    </font>
                                </p>
                            </div>
                            <div class="UL3_bdinfo2">
                                <div class="ball_wrap">


                                    @if (lType <= 62)
                                    {
                                        foreach (string s in numArr)
                                        {
                                            if (s == "19" || s == "20")
                                            {
                                                <span class="ball_spB ball_red">@s</span>
                                            }
                                            else
                                            {
                                                <span class="ball_spB ball_blue">@s</span>
                                            }

                                        }
                                    }
                                    else if (lType == 65)
                                    {
                                        int a = int.Parse(numArr[0]);
                                        int b = int.Parse(numArr[1]);
                                        int c = int.Parse(numArr[2]);
                                        int sum = a + b + c;

                                        <span class="ball_spB ball_blue">@numArr[0]</span>
                                        <span class="ball_spB ball_blue">+</span>
                                        <span class="ball_spB ball_blue">@numArr[1]</span>
                                        <span class="ball_spB ball_blue">+</span>
                                        <span class="ball_spB ball_blue">@numArr[2]</span>
                                        <span class="ball_spB ball_blue">=</span>
                                        <span class="ball_spB ball_blue">@sum</span>
                                    }
                                    else if (lType == 63 || lType == 64)
                                    {
                                        foreach (string s in numArr)
                                        {
                                            string clazz = "ball_spA No" + s;
                                            <span class="@clazz">@s</span>
                                        }
                                    }


                                </div>
                                <div class="UL3_ZZKJ">
                                    <p>正在开奖中...</p>
                                </div>
                            </div>
                            <div class="UL3_bdinfo3">
                                <a href="/Plan/Index/@record.lType" class="UL2_baif3a">计划</a>
                                <a href="javascript:;" class="UL2_baif3a">双面</a>
                                <a href="javascript:;" class="UL2_baif3a">长龙</a>
                                <a href="javascript:;" class="UL2_baif3a">走势</a>
                                <a href="/Record/OpenRecord/?lType=@record.lType" class="UL2_baif3a">历史</a>
                                <a href="/Plan/Post/@record.lType" class="UL2_baif3a">发帖</a>
                                <a href="javascript:;" class="UL2_baif3a">排行</a>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </li>
                         
                         
                }

                    
                         
                     
            </ul>        
            
        }

                 
                 
        <script>
            $(function() {
                $('.hdNav_cai_lhs li').eq(0).addClass('current');
                $('.hdNav_cai li').eq(0).addClass('current');
                $('.ind_mainUl2').eq(0).show();
            });

        </script>
        
    </div>


    @Html.Partial("Footer")

</body>

</html>