@using C8.Lottery.Model
@using C8.Lottery.Public
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>彩票计划_彩票开奖计划_彩票预测最准确</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <style>

        .list_mainUl2 {
            display: none;
        }
    </style>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Home/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">彩票计划</a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>

    <div class="hjc_hdNav">

        <div class="hdNav_cai_collect">
            <div class="hdNav_cai_lhs_expand"><img src="@ViewBag.osshost/images/icon-expand.png"></div>
            <ul class="hdNav_cai_lhs">

                @foreach (LotteryType2 lotteryType in ViewBag.list)
                {
                    <li><a href="javascript:;">@lotteryType.Name</a></li>
                }

                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="hdNav_cai_expand" style="display:none">
            @*<div class="hdNav_cai_title">
                    <span>切换分类</span>
                    <span class="collect"><img src="/images/icon-collect.png"  alt=""/></span>
                </div>*@
            <ul class="hdNav_cai">

                @foreach (LotteryType2 lotteryType in ViewBag.list)
                {
                    <li><a href="javascript:;">@lotteryType.Name</a></li>
                }


                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>


    <div class="hjc_indexmain" style="margin-top:90px;">


        @foreach (LotteryType2 lotteryType in ViewBag.list)
        {

            int[] lTypeArr = lotteryType.SonIdArr;

            @*热门*@
            <ul class="list_mainUl2">

                @for (int i = 0; i < lTypeArr.Length; i++)
                {
                    int j = lTypeArr[i];
                    string logo = Util.GetLotteryIcon(j);

                    <li>
                        <div class="UL2_hd">
                            <a href="/Plan/Index/@j">
                                <div class="UL2_hdtu f-l"><img src="@logo"></div>
                                <div class="UL2_hdtit">
                                    <h3>@Util.GetLotteryTypeName(j)</h3>
                                </div>
                                <span class="UL2_hdicon"></span>
                            </a>
                        </div>
                    </li>
                }

            </ul>
        }



        <script>
            $(function () {
                $('.hdNav_cai_lhs li').eq(0).addClass('current');
                $('.hdNav_cai li').eq(0).addClass('current');
                $('.list_mainUl2').eq(0).show();
            });

        </script>


    </div>


    <!--侧边栏-->
    @Html.Partial("Sidebar")
    <div class="mask" style="display:none;"></div>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
