@using C8.Lottery.Portal.Models;
@{
    ViewBag.Title = "ExpertSearch";
    var lType = ViewBag.lType;
    List<ExpertSearchModel> HotList =ViewBag.HotList;
    List<ExpertSearchModel> historyList = ViewBag.historyList;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>排行榜-搜索专家</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <link href="@ViewBag.osshost/css/dialog.css" rel="stylesheet" />
    <link href="@ViewBag.osshost/css/mescroll.min.css" rel="stylesheet" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery.js"></script>
    <script src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script>
        var lType=@lType;  
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/ExpertSearch.js"></script>

</head>
<body style="background:#F4F4F5;">
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>

        <div class="Search_Box">
            <a href="javascript:;" onclick="Search(@lType)" class="Search_Bqx f-r">查询</a>
            <div class="Search_BL">
                <div class="Search_BLsearch f-l" onclick="Search(@lType);"><img src="@ViewBag.osshost/images/59_1.png"></div>
                <a href="javascript:;" class="Search_BLdel f-r"><img src="@ViewBag.osshost/images/42.png"></a>
                <div class="Search_BLtext"><input id="NickName" type="text" placeholder="请输入专家名称"></div>
            </div>
        </div>
    </header>
    <div class="Search_text">
        <div class="Search_ttInfo1">
            <h3 class="ttIf1_tit"><span>专家热搜版</span><font>实时更新</font></h3>
            <ul class="ttIf1_con">
                @if (HotList.Count > 0)
                {
                    foreach (var item in HotList)
                    {
                        <li data-uid="@item.UserId">
                            <div class="ttIf1_cL f-l">
                                <a href="javascript:;" onclick="InsertHotSearch('@item.PlayName',@item.UserId,@lType)">
                                    @if (string.IsNullOrEmpty(item.Avater))
                                    {
                                        <img src="/images/default_avater.png" alt="" />
                                    }
                                    else
                                    {
                                        <img src="@item.Avater" alt="" />
                                    }
                                </a>
                            </div>

                            @if (item.isFollow > 0)
                            {
                                <a href="javascript:;" onclick="javascript:unorfollow(this,@item.UserId);" class="ttIf1_cGz f-r">已关注</a>
                            }
                            else
                            {
                                <a href="javascript:;" onclick="javascript:unorfollow(this,@item.UserId);" class="ttIf1_cGz f-r">关注</a>
                            }

                            <div class="ttIf1_cR" onclick="InsertHotSearch('@item.PlayName',@item.UserId,@lType)" data-uid="@item.UserId"><a href="javascript:;">@item.Name</a></div>
                        </li>
                    }
                }
                else
                {
                    <div class="mescroll-empty"><img class="empty-icon" src="/images/null.png"><p class="empty-tip">暂无相关数据~</p></div>
                }
                

                <div style="clear:both;"></div>
            </ul>
        </div>
        <h3 class="ttIf1_tit2">历史记录</h3>
        <div class="Search_ttInfo2">

            @if (historyList.Count > 0)
            {
                foreach (var item in historyList)
                {
                    <dl id="d_@item.UserId" class="ttIf2_Dl">
                        <dt>
                            <a href="javascript:;">

                                @if (string.IsNullOrEmpty(item.Avater))
                                {
                                    <img src="/images/default_avater.png" alt="" />
                                }
                                else
                                {
                                    <img src="@item.Avater" alt="" />
                                }

                            </a>
                        </dt>
                        <dd><i data-uid="@item.UserId" class="ttIf2_Dlicon f-r"><img src="@ViewBag.osshost/images/60.png"></i><a href="javascript:;">@item.Name</a></dd>
                    </dl>
                }
            }


            <a href="javascript:;" class="ttIf2_QK">清空历史记录</a>
        </div>
    </div>

</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>

