@using C8.Lottery.Model
@using C8.Lottery.Public
@{
    Layout = null;

    int lType = ViewBag.lType;

    List<Plan> list = ViewBag.list2;

    string title = "计划-" + ViewBag.lotteryName;

    List<Play> playList = ViewBag.PlayList;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@title</title>
    <link rel="stylesheet" type="text/css" href="/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />


    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="/js/dialog.min.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/runTime2.js"></script>
    
    <script type="text/javascript" src="/js/plan_scroll1.js">

    </script>

    <script>
        $(function ()
        {
            var cur = GetQueryString("cur");
            if (cur != null)
            {
                $(".C8_nav5 #g2").first().addClass("current").siblings().removeClass("current");
                $(".C8_nav5 #g2").click();

            }

            $(".hjc_back").click(function ()
            {
                var ref = document.referrer;
                if (ref.length == 0)
                {
                    $(this).attr('href', '/Home/Index');
                } else
                {
                    $(this).attr('href', ref);
                }
             
            })
            
      

        });

        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
    
    <style>
        .mscroll {
            top: 200px; bottom: 0; background: #fff;
        }

    </style>

</head>
<body style="background:#F4F4F5; overflow-y: hidden;">


    <input type="hidden" id="lType" value="@lType" />
    <header class="hjc_header">
        <a href="javascript:;" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@title</a>
        <div class="Plan_QiHao">
            <p class="QiHao_tit">近10期</p>
            <div class="QiHao_text">
                <i class="QiHao_Ticon"></i>
                <ul class="QiHao_Nav">
                    <li v="10">近10期</li>
                    <li v="20">近20期</li>
                    <li v="30">近30期</li>
                    <li v="50">近50期</li>
                    <li v="100">近100期</li>
                </ul>
            </div>
        </div>
    </header>
    <div class="guessing_header">
        <ul class="C8_nav5">
            <li id="g1" class="current"><a href="javascript:;">官方推荐</a></li>
            <li  id="g2"><a href="javascript:;">高手推荐</a></li>
            <li id="g3"><a href="javascript:;">免费专家</a></li>
        </ul>
        <input type="hidden" id="curNavIndex" value="0" />
        <div style="clear:both;"></div>
    </div>
    <div class="gaoshou">
        <div class="GS_box" style="display: none;">
            @if (playList != null && playList.Any())
            {
                int i = 0;
                <ul id="gsnav" class="GS_nav">
                    @foreach (var play in playList)
                    {
                        if (i == 0)
                        {
                            <li class="current" data-index="@i" data-title="@play.PlayName"><a href="javascript:;">@play.PlayName</a></li>
                        }
                        else
                        {

                            <li data-index="@i" data-title="@play.PlayName"><a href="javascript:;">@play.PlayName</a></li>
                        }
                        i++;
                    }
                </ul>
                <div style="clear: both;"></div>
            }
        </div>
        <a href="javascript:;" class="GS_btn" style="display: none;"><img src="/images/50.png"></a>
    </div>
    <div class="Plan_content" style="position: fixed; width: 100%;">
        @*官方推荐*@
        <div class="Plan_CInfo mescroll">
            
            <div class="Plan_CIfBox">
                <div class="CZ_hdtit">
                    <dl class="CZ_hdMain">
                        <dt><a href="javascript:;"><img src="/images/@ViewBag.icon"></a></dt>
                        <dd>
                            <div class="hdM_ddtit">
                                <h3 class="hdM_ddtqi f-l">
                                    第<span>@ViewBag.lastIssue</span>期
                                </h3>
                                <p class="hdM_ddtime f-r">
                                    下期开奖：

                                    @if (ViewBag.time == "正在开奖")
                                    {
                                        <span id="openTime">正在开奖</span>
                                    }
                                    else
                                    {
                                        if (lType < 9)
                                        {
                                            <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                        }
                                        else
                                        {
                                            <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                        }

                                    }
                                </p>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="hdM_ddcon">

                                @{
                                    int countFor6 = 0;


                                    string num = ViewBag.lastNum;
                                    string[] numArr = num.Split(',');


                                    if (lType == 5)
                                    {
                                        foreach (string s in numArr)
                                        {
                                            countFor6++;

                                            string color = Util.GetColor(s);
                                            string cl = "";
                                            if (color == "red")
                                            {
                                                cl = "hdM_spliu hdM_spliured";
                                            }
                                            else if (color == "green")
                                            {
                                                cl = "hdM_spliu hdM_spliugreen";
                                            }
                                            else
                                            {
                                                cl = "hdM_spliu hdM_spliublue";
                                            }

                                            <span class="@cl">@s</span>

                                            if (countFor6 == 6)
                                            {
                                                <span class="Mif_jgC">+</span>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        foreach (string s in numArr)
                                        {
                                            if (lType == 63 || lType == 64)
                                            {
                                                string clazz = "hdM_spPK hdM_spPK" + s;
                                                <span class="@clazz">@s</span>
                                            }

                                            else
                                            {
                                                <span class="hdM_spssc">@s</span>
                                            }

                                        }
                                    }


                                }
                            </div>
                            <div class="hdM_ddZZKJ" style="display: none;">
                                <p>正在开奖中...</p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="CZ_hdnav" style="display: none;">
                    <ul class="CZ_hdNL f-l">
                        <li class="current"><a href="javascript:;">计划</a></li>
                        <li><a href="javascript:;">双面</a></li>
                        <li><a href="javascript:;">长龙</a></li>
                        <li><a href="javascript:;">走势</a></li>
                        <li><a href="javascript:;">技巧</a></li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>

                <div class="CZ_main mt0">
                    <!--计划列表-->
                    <div class="CZ_Minfo">
                        <div class="Mif_sy">
                            

                            <div class="Mif_sykuai">
                                <table class="Mif_syTable" width="100%" bordercolor="#d9d9d9" border="1">
                                    @*查看计划*@
                                    <thead>
                                        <tr>
                                            <th colspan="4" scope="col"><a href="/Plan/Look/@lType" class="Mif_titred">@ViewBag.msg</a></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            
                            <div id="mescroll5" class="mescroll mscroll">
                                
                                <div id="planList">
                                    

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*高手推荐*@
        <div id="mescroll0" class="Plan_CInfo mescroll" style=" display: none;">

            <div id="datalist0" class="Plan_CIfBox data-list">

            </div>
        </div>


        @*免费专家*@
        <div id="mescroll1" class="Plan_CInfo mescroll" style="display: none;">
            <div id="datalist1" class="Plan_CIfBox data-list">

            </div>
        </div>
    </div>
    <!--搜索-->
    <div class="Plan_search"><a href="/Plan/ExpertSearch/@lType"></a></div>

    <script type="text/javascript" src="/js/luo/plan.index.expert.js"></script>
</body>
</html>
