@using C8.Lottery.Model
@using C8.Lottery.Public
@{
    Layout = null;

    int lType = ViewBag.lType;

    List<Plan> list = ViewBag.list2;

    string title = "计划-" + ViewBag.lotteryName;
    
}

<!DOCTYPE html>


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>@title</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/runTime2.js"></script>
</head>

    <body style="background:#F4F4F5;">
        
        
        <input type="hidden" id="lType" value="@ViewBag.lType" />

        <header class="hjc_header">
            <a href="javascript:;" class="hjc_back"></a>
            <a href="javascript:;" class="hjc_logo">@title</a>
            <div class="Plan_QiHao">
                <p class="QiHao_tit">近10期</p>
                <div class="QiHao_text">
                    <i class="QiHao_Ticon"></i>
                    <ul class="QiHao_Nav">
                        <li>近10期</li>
                        <li>近20期</li>
                        <li>近30期</li>
                        <li>近50期</li>
                        <li>近100期</li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="guessing_header">
            <ul class="C8_nav5">
                <li class="current"><a href="javascript:;">官方推荐</a></li>
                <li><a href="javascript:;">高手推荐</a></li>
                <li><a href="javascript:;">免费专家</a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>

        <div class="gaoshou">
            <div class="GS_box">
                <ul class="GS_nav">
                    <li class="current"><a href="javascript:;">第一球大小</a></li>
                    <li><a href="javascript:;">第一球单双</a></li>
                    <li><a href="javascript:;">第一球总和大小</a></li>
                    <li><a href="javascript:;">第一球龙虎</a></li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
            <a href="javascript:;" class="GS_btn" style="display: none;"><img src="/images/50.png"></a>
        </div>

        <div class="Plan_content">

            @*官方推荐*@
            <div class="Plan_CInfo">
                <div class="CZ_hdtit">
                    <dl class="CZ_hdMain">
                        <dt><a href="javascript:;"><img src="/images/@ViewBag.icon"></a></dt>
                        <dd>
                            <div class="hdM_ddtit">
                                <h3 class="hdM_ddtqi f-l">第<span>@ViewBag.lastIssue</span>期
                                </h3>
                                <p class="hdM_ddtime f-r">下期开奖：
                            
                                    @if (ViewBag.time == "正在开奖")
                                    {
                                        <span id="openTime">正在开奖</span>
                                    }
                                    else
                                    {
                                        <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                                    }

                                </p>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="hdM_ddcon">
                        
                                @{
                                    string num = ViewBag.lastNum;
                                    string[] numArr = num.Split(',');

                                    foreach (string s in numArr)
                                    {
                                        <span class="hdM_spssc">@s</span>
                                    }
                                }

                            </div>
                            <div class="hdM_ddZZKJ" style="display: none;">
                                <p>正在开奖中...</p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="CZ_hdnav" style="display: none;">
                    <ul class="CZ_hdNL f-l">
                        <li class="current"><a href="javascript:;">计划</a></li>
                        <li><a href="javascript:;">双面</a></li>
                        <li><a href="javascript:;">长龙</a></li>
                        <li><a href="javascript:;">走势</a></li>
                        <li><a href="javascript:;">技巧</a></li>
                        <div style="clear: both;"></div>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
                <div class="CZ_main mt0">
                    <!--首页-->
                    <div class="CZ_Minfo">
                        <div class="Mif_sy">
                    
                            <div class="Mif_sykuai">
                                <table class="Mif_syTable" width="100%" bordercolor="#d9d9d9" border="1">

                                    @*开奖信息*@
                                    <thead>

                                        <tr>
                                            <th colspan="4" scope="col"><a href="#" class="Mif_titred">@ViewBag.msg</a></th>
                                        </tr>

                                    </thead>

                                </table>

                            </div>
                    
                    
                            @foreach (LotteryRecord record in ViewBag.list)
                            {
                                var data = list.Where(p => p.Issue == record.Issue).OrderBy(p => p.Sort);
                                int count2 = -1;   //标志时时彩Sort

                                <div class="Mif_sykuai">
                            
                                    <table width="100%" border="1" bordercolor="#d9d9d9" class="Mif_syTable">

                                        @*开奖信息*@
                                        <thead>

                                            <tr>
                                                <th scope="col" width="20%">
                                                    <div>
                                                        <span class="Mif_titred"><font>@record.Issue.Substring(4)</font>期</span>
                                                    </div>
                                                    <div>
                                                        <font>@record.SubTime.ToString("HH:mm")</font>
                                                    </div>
                                                </th>
                                                <th colspan="3" scope="col" align="left">
                                                    <div class="Mif_Hao">

                                                        @foreach (string s in record.Num.Split(','))
                                                        {
                                                            <span class="Mif_jgB">@s</span>
                                                        }

                                                    </div>
                                        
                                        
                                                    @if (lType >= 9 && lType < 38)
                                                    {
                                                        <div class="Mif_Hao" style="margin-top: 5px;">

                                                            @foreach (string s in record.ShowInfo.Split(','))
                                                            {
                                                                <span class="Mif_sp">@s</span>
                                                            }
                                                        </div>
                                            
                                                    }
                                        

                                        
                                                </th>
                                            </tr>

                                        </thead>


                                        @*预测号码*@
                                        <tbody>
                                

                                            @foreach (Plan plan in data)
                                            {
                                                count2++;


                                                if (count2 < 5)
                                                {
                                                    numArr = plan.Num.Split('|');
                                                    string result = plan.Result;
                                                    if (!string.IsNullOrEmpty(result))
                                                    {
                                                        string[] resultArr = result.Split('|');

                                                        <tr>
                                                            <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                                            <td width="40%" align="left">

                                                                @if (resultArr[0] == "中")
                                                                {
                                                                    @Html.Raw(Util.HandWinNumColor(numArr[0], record.Num, count2))
                                                                    <font class="Mif_red">(中)</font>
                                                                }
                                                                else
                                                                {
                                                                    <font>@numArr[0]</font>
                                                                }
                                                            </td>
                                                            <td width="20%" align="left">

                                                                <font>@numArr[1]</font>

                                                                @if (resultArr[1] == "中")
                                                                {
                                                                    <font class="Mif_red">(中)</font>
                                                                }
                                                            </td>
                                                            <td width="20%" align="left">

                                                                <font>@numArr[2]</font>
                                                                @if (resultArr[2] == "中")
                                                                {
                                                                    <font class="Mif_red">(中)</font>
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                                            <td width="40%" align="left"><font>@numArr[0]</font></td>
                                                            <td width="20%" align="left"><font>@numArr[1]</font></td>
                                                            <td width="20%" align="left"><font>@numArr[2]</font></td>
                                                        </tr>
                                                    }

                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td align="center"><font>@plan.ShowSort</font></td>

                                                        <td colspan="3" align="center">
                                                            <font>@plan.Num</font>

                                                            @if (plan.Result == "中")
                                                            {
                                                                <font class="Mif_red">(中)</font>
                                                            }

                                                        </td>

                                                    </tr>
                                                }


                                            }



                                        </tbody>
                              
                                    </table>
                                </div>
                        
                            }


                        </div>
                    </div>
                </div>
            </div>

            <div class="Plan_CInfo" style="display: none;">
                <div class="Plan_CIfBox">
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <div class="KL_nbqs"><img src="/images/44_1.png">
                                </div>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                                <i class="port_sf"><img src="/images/66.png"></i>
                            </div>
                            <div class="KL_font">
                                <h3 class="KL_fh3On"><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>升10</span><i class="SZJ_icon SZJ_iconS"></i>
                                </h3>
                                <p>上期中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <div class="KL_nbqs"><img src="/images/44_2.png">
                                </div>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                                <i class="port_sf"><img src="/images/66.png"></i>
                            </div>
                            <div class="KL_font">
                                <h3 class="KL_fh3On"><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>不变</span><i class="SZJ_icon SZJ_iconZ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <div class="KL_nbqs"><img src="/images/44_3.png">
                                </div>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                                <i class="port_sf"><img src="/images/66.png"></i>
                            </div>
                            <div class="KL_font">
                                <h3 class="KL_fh3On"><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">4</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">5</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">6</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">7</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">8</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/30.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Plan_CInfo" style="display: none;">
                <div class="Plan_CIfBox">
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <div class="KL_nbqs"><img src="/images/44_1.png">
                                </div>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3 class="KL_fh3On"><a href="javascript:;">茶之轨迹</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>升10</span><i class="SZJ_icon SZJ_iconS"></i>
                                </h3>
                                <p>上期中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <div class="KL_nbqs"><img src="/images/44_2.png">
                                </div>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_6.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3 class="KL_fh3On"><a href="javascript:;">linyuelong</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>不变</span><i class="SZJ_icon SZJ_iconZ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <div class="KL_nbqs"><img src="/images/44_3.png">
                                </div>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_7.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3 class="KL_fh3On"><a href="javascript:;">水晶叶子</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">4</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">我很好那么你呢</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">5</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">我很好那么你呢</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">6</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">我很好那么你呢</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">7</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">我很好那么你呢</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">8</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">我很好那么你呢</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                    <div class="CIFB_K">
                        <div class="CIFB_KL f-l">
                            <div class="KL_number f-l">
                                <span class="KL_nbsp">9</span>
                            </div>
                            <div class="KL_port f-l">
                                <div class="port_tu"><a href="javascript:;"><img src="/images/44_5.png"></a>
                                </div>
                            </div>
                            <div class="KL_font">
                                <h3><a href="javascript:;">我很好那么你呢</a>
                                </h3>
                                <p>1000次查看</p>
                            </div>
                        </div>
                        <div class="CIFB_KR">
                            <div class="KR_L f-l">
                                <h3>7中6</h3>
                                <p>最大连中11期</p>
                            </div>
                            <div class="KR_R">
                                <h3><span>降10</span><i class="SZJ_icon SZJ_iconJ"></i>
                                </h3>
                                <p>上期未中</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--搜索-->
        <div class="Plan_search"><a href="javascript:;"></a></div>


    </body>
</html>

