
@using C8.Lottery.Model
@using C8.Lottery.Public
@{
    Layout = null;

    int count = 0;
    int count2 = -1;
    int lType = ViewBag.lType;
    string title = "计划-" + ViewBag.lotteryName;
    List<Plan> data = ViewBag.list;

}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>查看计划-@ViewBag.msg</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css">
    <script src="@ViewBag.osshost/js/jquery-1.8.3.min.js"></script>
    <script src="@ViewBag.osshost/js/function.js"></script>
    <script src="@ViewBag.osshost/js/runTime2.js"></script>

    <script src="~/js/yjp.js"></script>
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
</head>

<body style="background:#fff;">
    <input type="hidden" id="lType" value="@lType" />

    <header class="hjc_header">
        <h3 class="hjc_logo">@title</h3>
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>

    <div class="Plan_header" style="margin-top: 50px;">

        <dl class="Plan_hdCZ">
            <dt><img src="@ViewBag.icon"></dt>
            <dd>
                <div class="hdM_ddtit">
                    <h3 class="hdM_ddtqi f-l">
                        第<span>@ViewBag.lastIssue</span>期
                    </h3>
                    <p class="hdM_ddtime f-r">
                        下期开奖：

                        @*<span id="openTime">@ViewBag.time</span>*@

                        @if (ViewBag.time == "正在开奖")
                        {
                            <span id="openTime">正在开奖</span>
                        }
                        else
                        {
                            <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                        }

                    </p>
                    <div style="clear: both;"></div>
                </div>
                <div class="hdM_ddcon">

                    @{
                        string num = ViewBag.lastNum;
                        string[] numArr = num.Split(',');

                        int i = -1;
                        foreach (string s in numArr)
                        {
                            i++;

                            if (lType == 63 || lType == 64)
                            {
                                string clazz = "hdM_spPK hdM_spPK" + s;
                                <span class="@clazz">@s</span>
                            }
                            else if (lType == 2)
                            {
                                if (i == 6)
                                {
                                    <span class="hdM_spssc HYJP_Blue">@s</span>
                                }
                                else
                                {
                                    <span class="hdM_spssc HYJP_Red">@s</span>
                                }
                            }
                            else if (lType == 5)
                            {
                                string Color = Util.GetColor(s);
                                string ys = string.Empty;
                                switch (Color)
                                {
                                    case "red":
                                        ys = "HYJP_LhRed";
                                        break;
                                    case "blue":
                                        ys = "HYJP_LhBlue";
                                        break;
                                    case "green":
                                        ys = "HYJP_LhGreen";
                                        break;
                                }
                                if (i == 6)
                                {
                                    <span class="hdM_spssc HYJP_PcHao">+</span>

                                }
                                <span class="hdM_spssc  @ys">@s</span>
                            }
                            else if (lType == 8)
                            {
                                if (i == 7)
                                {
                                    <span class="hdM_spssc HYJP_Blue">@s</span>
                                }
                                else
                                {
                                    <span class="hdM_spssc HYJP_Red">@s</span>
                                }
                            }
                            else if (lType == 4)
                            {
                                if (i == 5 || i == 6)
                                {
                                    <span class="hdM_spssc HYJP_Blue">@s</span>
                                }
                                else
                                {
                                    <span class="hdM_spssc HYJP_Red">@s</span>
                                }
                            }
                            else
                            {
                                <span class="hdM_spssc HYJP_Red">@s</span>
                            }


                        }
                    }

                </div>
                <div class="hdM_ddZZKJ" style="display: none;">
                    <p>正在开奖中...</p>
                </div>
            </dd>
        </dl>
        <div class="clearfix"></div>
    </div>

    <div class="Plan_main">
        <div class="Mif_sy" id="mainContent">


            <div class="Mif_sykuai">


                <table class="Mif_syTable" width="100%" bordercolor="#d9d9d9" border="1">
                    <thead>
                        <tr>
                            <th colspan="4" scope="col"><a href="javascript:;" class="Mif_login">@ViewBag.msg</a></th>
                        </tr>
                    </thead>
                </table>
            </div>


            <div class="Mif_sykuai">

                <table class="Mif_syTable" width="100%" bordercolor="#d9d9d9" border="1">

                    @*开奖信息*@
                    <thead>
                        <tr>
                            @*<th scope="col" width="20%">
                                    <div>
                                        <span class="Mif_titred"><font>@ViewBag.currentIssue.Substring(4)</font>期</span>
                                    </div>
                                    <div>

                                    </div>
                                </th>
                                <th colspan="3" scope="col" align="left">
                                    <div class="Mif_Hao">



                                    </div>
                                    <div class="Mif_Hao" style="margin-top: 5px;">


                                    </div>
                                </th>*@
                        </tr>
                    </thead>


                    @*预测号码*@
       

                    <tbody>
                          
                        @if (lType == 1 || lType == 6)//福彩3D 排列3
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();

                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string FCwitdh = Tool.GetWidth(j, numArrCount);
                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }
                                            <td colspan="@hebing" width="@FCwitdh" align="left">  
                                          
                                                <font>@numArr[j]</font>
                                              
                                                                                       
                                            </td>
                                        }
                                    </tr>
                            }
                        }
                        else if (lType == 2)//双色球
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();



                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string FCwitdh = "80%";
                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }

                                            <td colspan="@hebing" width="@FCwitdh" align="left">
   
                                             
                                                    <font>@numArr[j]</font>
                                                
                                                
                                            </td>
                                        }
                                    </tr>

                            }
                        }
                        else if (lType == 3)//七星彩
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string witdh = Tool.GetWidth(j, numArrCount);

                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }

                                            <td colspan="@hebing" width="@witdh" align="left">  
                                          
                                                    <font>@numArr[j]</font>
                                                
                                                
                                            </td>
                                        }
                                    </tr>

                            }
                        }
                        else if (lType == 5)//6合彩
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();



                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string FCwitdh = "80%";
                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }

                                            <td colspan="@hebing" width="@FCwitdh" align="left">

                                             
                                                    <font>@numArr[j]</font>
                                                
                                                
                                            </td>
                                        }
                                    </tr>

                            }
                        }
                        else if (lType == 7)//排列5
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string witdh = Tool.GetWidth(j, numArrCount);

                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }

                                            <td colspan="@hebing" width="@witdh" align="left">

                                               
                                            
                                                    <font>@numArr[j]</font>
                                                

                                            </td>
                                        }
                                    </tr>


                            }
                        }
                        else if (lType == 8)//七乐彩
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string witdh = Tool.GetWidth(j, numArrCount);

                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }

                                            <td colspan="@hebing" width="@witdh" align="left">

                                              
                                          
                                                    <font>@numArr[j]</font>
                                                
                                                
                                            </td>
                                        }
                                    </tr>                               
                            }
                        }
                        else if (lType == 4)//大乐透
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                    <tr>
                                        <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                        @for (int j = 0; j < numArrCount; j++)
                                        {
                                            string witdh = Tool.GetWidth(j, numArrCount);

                                            int hebing = 0;
                                            if (numArrCount == 1)
                                            {
                                                hebing = 3;
                                            }

                                            <td colspan="@hebing" width="@witdh" align="left">

                                             
                                            
                                                    <font>@numArr[j]</font>
                                                
                                                
                                            </td>
                                        }
                                    </tr>

                            }
                        }
                        else if (lType >= 38 && lType <= 50)//快三
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();



                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int j = 0; j < numArrCount; j++)
                                    {
                                        string witdh = Tool.GetWidth(j, numArrCount);

                                        int hebing = 0;
                                        if (numArrCount == 1)
                                        {
                                            hebing = 3;
                                        }

                                        <td colspan="@hebing" width="@witdh" align="left">

                                         
                                                <font>@numArr[j]</font>
                                            

                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else if (lType >= 15 && lType <= 37)//11选5
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int j = 0; j < numArrCount; j++)
                                    {
                                        string witdh = Tool.GetWidth(j, numArrCount);

                                        int hebing = 0;
                                        if (numArrCount == 1)
                                        {
                                            hebing = 3;
                                        }
                                        else if (numArrCount == 2)
                                        {
                                            if (j == 1)
                                            {
                                                hebing = 2;
                                            }

                                        }

                                        <td colspan="@hebing" width="@witdh" align="left">


                                       
                                                <font>@numArr[j]</font>
                                            


                                        </td>
                                    }
                                </tr>

                            }
                        }
                        else if (lType >= 9 && lType <= 14)//时时彩
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int j = 0; j < numArrCount; j++)
                                    {
                                        string witdh = Tool.GetWidth(j, numArrCount);

                                        int hebing = 0;
                                        if (numArrCount == 1)
                                        {
                                            hebing = 3;
                                        }
                                        else if (numArrCount == 2)
                                        {
                                            if (j == 1)
                                            {
                                                hebing = 2;
                                            }
                                        }

                                        <td colspan="@hebing" width="@witdh" align="left">

                                       
                                                <font>@numArr[j]</font>
                                            
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else if (lType >= 63 && lType <= 64)//PK10
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();

                                int trhebing = -1;
                                int nA = numArrCount;
                                if (numArrCount > 3)
                                {
                                    nA = numArrCount - 3;
                                    trhebing = 2;
                                }
                                <tr>
                                    <td rowspan="@trhebing" width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int j = 0; j < nA; j++)
                                    {
                                        string witdh = Tool.GetWidth(j, numArrCount);

                                        int hebing = 0;
                                        if (nA == 1)
                                        {
                                            hebing = 3;
                                        }


                                        <td colspan="@hebing" width="@witdh" align="left">
                                       
                                                <font>@numArr[j]</font>
                                            

                                        </td>
                                    }
                                </tr>
                                if (numArrCount > 3)
                                {
                                    <tr>
                                        @for (int j = 1; j < numArrCount; j++)
                                        {
                                            <td>

                                           
                                                    <font>@numArr[j]</font>
                                                

                                            </td>
                                        }


                                    </tr>
                                }
                            }
                        }
                        else if (lType >= 60 && lType <= 62)//其他
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();


                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int j = 0; j < numArrCount; j++)
                                    {
                                        string witdh = Tool.GetWidth(j, numArrCount);

                                        int hebing = 0;
                                        if (numArrCount == 1)
                                        {
                                            hebing = 3;
                                        }
                                        else if (numArrCount == 2)
                                        {
                                            if (j == 1)
                                            {
                                                hebing = 2;
                                            }
                                        }

                                        <td colspan="@hebing" width="@witdh" align="left">
                                        
                                                <font>@numArr[j]</font>
                                            

                                        </td>
                                    }
                                </tr>

                            }
                        }
                        else if (lType >= 51 && lType <= 59)//快乐10分
                        {
                            foreach (Plan plan in data)
                            {
                                count2++;
                                numArr = plan.Num.Split('|');

                                int numArrCount = numArr.Count();
                                int trhebing = -1;
                                int nA = numArrCount;
                                int idx = numArrCount;
                                if (numArrCount > 6)
                                {
                                    nA = numArrCount - 4;
                                    trhebing = 3;
                                    idx = idx - 1;
                                }
                                else
                                {
                                    nA = numArrCount - 3;
                                    trhebing = 2;
                                }
                                <tr>
                                    <td rowspan="@trhebing" width="20%" align="center"><font>@plan.ShowSort</font></td>
                                @for (int j = 0; j < nA; j++)
                                {
                                    string witdh = Tool.GetWidth(j, nA);

                                    int hebing = 0;
                                    if (nA == 1)
                                    {
                                        hebing = 3;
                                    }
                                    string prefix = "";
                                    if (j == 2)
                                    {
                                        prefix = "合";
                                    }
                                    <td colspan="@hebing" width="@witdh" align="left">

                                   
                                            <font>@prefix@numArr[j]</font>
                                        


                                    </td>
                                }

                                </tr>
                                <tr>
                                @for (int j = 3; j < idx; j++)
                                {
                                    string prefix = "";

                                    if (j == 3)
                                    {
                                        prefix = "尾";
                                    }
                                    <td>
                                   
                                            <font>@prefix@numArr[j]</font>
                                        

                                    </td>
                                }
                                </tr>
                                if (numArrCount > 6)
                                {
                                    <tr>
                                        <td colspan="3">


                                            <font>@numArr[6] </font>

                                        </td>

                                    </tr>
                                }
                            }
                        }

</tbody>           
                </table>
            </div>
        </div>
    </div>


    <!--侧边栏-->
    @Html.Partial("Sidebar")

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
