@using C8.Lottery.Model
@using C8.Lottery.Public
@{
    Layout = null;

    int lType = ViewBag.lType;

    List<Plan> list = ViewBag.list2;

    string title = "计划-" + ViewBag.lotteryName;

    List<Play> playList = ViewBag.PlayList;

    string[] numArr = null;

}

@{
    Layout = null;
}

@foreach (LotteryRecord record in ViewBag.list)
{
    var data = list.Where(p => p.Issue == record.Issue).OrderBy(p => p.Sort);
    int count2 = -1;   //标志时时彩Sort

    <div class="Mif_sykuai">

        <table width="100%" border="1" bordercolor="#d9d9d9" class="Mif_syTable">
            @*开奖信息*@
            <thead>
                <tr>
                    <th scope="col" width="20%">
                        <div>
                            @if (lType == 63 || lType == 65 || lType < 9)
                            {
                                <span class="Mif_titred"><font>@record.Issue</font>期</span>
                            }
                            else
                            {
                                <span class="Mif_titred"><font>@record.Issue.Substring(4)</font>期</span>
                            }

                        </div>
                        <div>
                            <font>@record.SubTime.ToString("MM-dd HH:mm")</font>
                        </div>
                    </th>
                    <th colspan="3" scope="col" align="left">
                        <div class="Mif_Hao" idx="@lType">


                            @if (lType == 5)
                            {
                                int countFor62 = 0;

                                foreach (string s in record.Num.Split(','))
                                {
                                    countFor62++;


                                    string color = Util.GetColor(s);
                                    string cl = "";
                                    if (color == "red")
                                    {
                                        cl = "Mif_jgC Mif_jgCred";
                                    }
                                    else if (color == "green")
                                    {
                                        cl = "Mif_jgC Mif_jgCgreen";
                                    }
                                    else
                                    {
                                        cl = "Mif_jgC Mif_jgCblue";
                                    }

                                    <span class="@cl">@s</span>

                                    if (countFor62 == 6)
                                    {
                                        <span class="Mif_jgC">+</span>
                                    }
                                }
                            }
                            else if (lType == 65)
                            {
                                numArr = record.Num.Split(',');
                                int a = int.Parse(numArr[0]);
                                int b = int.Parse(numArr[1]);
                                int c = int.Parse(numArr[2]);
                                int sum = a + b + c;


                                <span class="Mif_jgB HYJP_Red">@numArr[0]</span>
                                <span class="Mif_jgB HYJP_PcHao">+</span>
                                <span class="Mif_jgB HYJP_Red">@numArr[1]</span>
                                <span class="Mif_jgB HYJP_PcHao">+</span>
                                <span class="Mif_jgB HYJP_Red">@numArr[2]</span>
                                <span class="Mif_jgB HYJP_PcHao">=</span>
                                <span class="Mif_jgB HYJP_Red">@sum</span>
                            }
                            else
                            {
                                int i = -1;
                                foreach (string s in record.Num.Split(','))
                                {
                                    i++;
                                    if (lType == 63 || lType == 64)
                                    {
                                        string clazz = "Mif_jgA Mif_jgA" + s;
                                        <span class="@clazz">@s</span>
                                    }
                                    else if (lType == 2)
                                    {


                                        if (i == 6)
                                        {
                                            <span class="Mif_jgB HYJP_Blue">@s</span>
                                        }
                                        else
                                        {
                                            <span class="Mif_jgB HYJP_Red">@s</span>
                                        }

                                    }
                                    else if (lType == 4)
                                    {



                                        if (i == 5 || i == 6)
                                        {
                                            <span class="Mif_jgB HYJP_Blue">@s</span>
                                        }
                                        else
                                        {
                                            <span class="Mif_jgB HYJP_Red">@s</span>
                                        }

                                    }
                                    else if (lType == 8)
                                    {
                                        if (i == 7)
                                        {
                                            <span class="Mif_jgB HYJP_Blue">@s</span>
                                        }
                                        else
                                        {
                                            <span class="Mif_jgB HYJP_Red">@s</span>
                                        }

                                    }
                                    else
                                    {
                                        <span class="Mif_jgB HYJP_Red">@s</span>

                                    }
                                }
                            }


                        </div>


                        @if ((lType >= 9 && lType < 38) || (lType >= 51 && lType < 60) || (lType >= 63 && lType < 65))
                        {
                            <div class="Mif_Hao" style="margin-top: 5px;">
                                @foreach (string s in record.ShowInfo.Split(','))
                                {
                                    <span class="Mif_sp">@s</span>
                                }
                            </div>

                        }
                        else if (lType == 5)
                        {
                            int countFor63 = 0;

                            <div class="Mif_Hao" style="margin-top: 5px;">
                                @foreach (string s in record.ShowInfo.Split(','))
                                {
                                    countFor63++;
                                    <span class="Mif_jgC">@s</span>
                                    if (countFor63 == 6)
                                    {
                                        <span class="Mif_jgC">+</span>
                                    }
                                }
                            </div>
                        }

                    </th>
                </tr>
            </thead>

            @*预测号码*@
          
                <tbody>

                    @if (lType == 1 || lType == 6)//福彩3D 排列3
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string FCwitdh = Tool.GetWidth(i, numArrCount);


                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@FCwitdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }


                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }
                        }
                    }
                    else if (lType == 2)//双色球
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string FCwitdh = "80%";
                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@FCwitdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }

                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }


                        }
                    }
                    else if (lType == 3)//七星彩
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }

                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }


                        }
                    }
                    else if (lType == 5)//6合彩
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string FCwitdh = "80%";
                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@FCwitdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }

                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }
                        }
                    }
                    else if (lType == 7)//排列5
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }

                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }

                        }
                    }
                    else if (lType == 8)//七乐彩
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }

                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }


                        }
                    }
                    else if (lType == 4)//大乐透
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {
                                            int numcount = numArr[i].Split(' ').Count();
                                            if (numcount > 1)
                                            {
                                                @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            }
                                            else
                                            {
                                                <font>@numArr[i]</font>
                                            }

                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }

                        }
                    }
                    else if (lType >= 38 && lType <= 50)//快三
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {

                                            @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }


                        }
                    }
                    else if (lType >= 15 && lType <= 37)//11选5
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }
                                    else if (numArrCount == 2)
                                    {
                                        hebing = 2;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {

                                            @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }
                        }
                    }
                    else if (lType >= 9 && lType <= 14)//时时彩
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }
                                    else if (numArrCount == 2)
                                    {
                                        hebing = 2;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {

                                            @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }

                        }
                    }
                    else if (lType >= 63 && lType <= 64)//PK10
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');
                                int trhebing = -1;
                                int nA = numArrCount;
                                if (numArrCount > 3)
                                {
                                    nA = numArrCount - 3;
                                    trhebing = 2;
                                }
                                <tr>
                                    <td rowspan="@trhebing" width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < nA; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (nA == 1)
                                    {
                                        hebing = 3;
                                    }


                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {

                                            @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                                if (numArrCount > 3)
                                {
                                    <tr>
                                        @for (int i = 1; i < numArrCount; i++)
                                    {
                                            <td>

                                                @if (resultArr[i] == "中")
                                                {

                                                    @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                                    <font class="Mif_red">(中)</font>
                                                }
                                                else
                                                {
                                                    <font>@numArr[i]</font>
                                                }

                                            </td>
                                        }


                                    </tr>
                                }
                            }

                        }
                    }
                    else if (lType >= 60 && lType <= 62)
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();
                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');

                                <tr>
                                    <td width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < numArrCount; i++)
                                {
                                    string witdh = Tool.GetWidth(i, numArrCount);

                                    int hebing = 0;
                                    if (numArrCount == 1)
                                    {
                                        hebing = 3;
                                    }
                                    else if (numArrCount == 2)
                                    {
                                        hebing = 2;
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {

                                            @Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))
                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>
                            }

                        }
                    }
                    else if (lType >= 51 && lType <= 59)//快乐10分
                    {
                        foreach (Plan plan in data)
                        {
                            count2++;
                            numArr = plan.Num.Split('|');
                            string result = plan.Result;
                            int numArrCount = numArr.Count();

                            if (!string.IsNullOrEmpty(result))
                            {
                                string[] resultArr = result.Split('|');
                                int trhebing = -1;
                                int nA = numArrCount;
                                int idx = numArrCount;
                                if (numArrCount > 6)
                                {
                                    nA = numArrCount - 4;
                                    trhebing = 3;
                                    idx = idx - 1;
                                }
                                else
                                {
                                    nA = numArrCount - 3;
                                    trhebing = 2;
                                }
                                <tr>
                                    <td rowspan="@trhebing" width="20%" align="center"><font>@plan.ShowSort</font></td>
                                    @for (int i = 0; i < nA; i++)
                                {
                                    string witdh = Tool.GetWidth(i, nA);

                                    int hebing = 0;
                                    if (nA == 1)
                                    {
                                        hebing = 3;
                                    }
                                    string prefix = "";
                                    if (i == 2)
                                    {
                                        prefix = "合";
                                    }

                                    <td colspan="@hebing" width="@witdh" align="left">

                                        @if (resultArr[i] == "中")
                                        {

                                            @*@Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))*@
                                            <font>@prefix@numArr[i]</font>
                                            <font class="Mif_red">(中)</font>
                                        }
                                        else
                                        {
                                            <font>@prefix@numArr[i]</font>
                                        }
                                    </td>
                                    }
                                </tr>

                                <tr>

                                    @for (int i = 3; i < idx; i++)
                                    {
                                        string prefix = "";

                                        if (i == 3)
                                        {
                                            prefix = "尾";
                                        }
                                        <td>

                                            @if (resultArr[i] == "中")
                                            {

                                                @*@Html.Raw(Util.HandWinNumColorS(lType, numArr[i], record.Num, count2, record.SubTime))*@
                                                <font>@prefix@numArr[i]</font>
                                                <font class="Mif_red">(中)</font>
                                            }
                                            else
                                            {
                                                <font>@prefix@numArr[i]</font>
                                            }
                                        </td>
                                    }
                                </tr>
                                if (numArrCount > 6)
                                {
                                    <tr>
                                        <td colspan="3">


                                            <font>@numArr[6] </font>
                                            @if (resultArr[6] == "中")
                                            {
                                                <font class="Mif_red">(中)</font>
                                            }
                                        </td>

                                    </tr>
                                }




                            }


                        }
                    }

                </tbody>
            
       

        </table>
    </div>

}