@using C8.Lottery.Model
@model UserInfo

@{
    Layout = null;
    bool followed = ViewBag.Followed;
    bool isSub = ViewBag.IsSub;
    int lType = ViewBag.lType;
    List<Play> playList = ViewBag.PlayList;
    int type = ViewBag.Type;
    int MyUid =Convert.ToInt32(ViewBag.MyUid);
    int readCoin = ViewBag.ReadCoin ?? 0;
    int Coin = ViewBag.Coin ?? 0;
    int Coupon = ViewBag.Coupon ?? 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>近期竞猜-@ViewBag.LTypeName</title>
    <link rel="stylesheet" type="text/css" href="~/css/mescroll.min.css" />
    <link href="~/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script src="~/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="~/js/runTime2.js"></script>
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
    <script src="~/js/6caiSX.js"></script>
    <script>
        function unorfollow(obj, follow_uid) {

            var text = $(obj).text();

            if (text == "关注") {
                $.post('/Personal/IFollow', { followed_userId: follow_uid }, function (data) {

                    if (data.Success != true) {
                        alertmsg(data.Msg);
                    } else {

                        $(obj).text("已关注");


                    }
                });

            } else {

                $(document).dialog({
                    type: 'confirm',
                    closeBtnShow: true,
                    style:"ios",
                    content: '确定不再关注此人?',
                    onClickConfirmBtn: function () {
                        $.post('/Personal/UnFollow', { followed_userId: follow_uid }, function (data) {

                            if (data.Success != true) {
                                alertmsg(data.Msg);
                            } else {



                                $(obj).text("关注");


                            }
                        });
                    }
                });
            }
        }

    </script>


</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@(ViewBag.LTypeName)近期竞猜</a>
    </header>

    <div class="Forecast_Top">
        <div class="Forecast_Theader">
            <dl class="Forecast_ThdDl">
                <dt>
                    <a href="/Personal/UserCenter/@Model.Id">
                        @if (string.IsNullOrEmpty(Model.Headpath))
                        {
                            <img src="/images/default_avater.png" alt="" />
                        }
                        else
                        {
                            <img src="@Model.Headpath" alt="@Model.Headpath" />
                        }
                    </a>
                </dt>
                <dd>
                    <div class="ThdDl_Top">
                        <h3 class="ThdDl_name f-l"><a href="/Personal/UserCenter/@Model.Id">@Model.Name</a></h3>
                        <a href="javascript:playUtil.giftCoin();" class="ThdDl_ds f-r">打赏</a>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="ThdDl_Bt">
                        <div class="ThdDl_BtLeft f-l">
                            <span>粉丝：</span><span>@Model.Fans</span>
                            <a onclick="unorfollow(this,@Model.Id)" href="javascript:;">@(followed ? "已关注" : "关注")</a>
                        </div>
                        @if (type == 0)
                        {
                            <a href="/Plan/PlayRecord/@lType?uid=@Model.Id&type=1" class="ThdDl_BtRight f-r">查看总成绩</a>
                        }
                        <div style="clear:both;"></div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="Gues_Thd">
            <input type="hidden" id="lType" value="@lType">
            <div class="Gues_ThdLeft f-l">
                <h3>
                    距离下期开奖
                    @if (ViewBag.time == "正在开奖")
                    {
                        <span id="openTime">正在开奖</span>
                    }
                    else
                    {
                        if (lType < 9)
                        {
                            <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                        }
                        else
                        {
                            <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                        }
                    }
                </h3>
            </div>
            <div id="visitPlanContainer" class="Gues_ThdRight f-r">
                @if (isSub)
                {
                    <span>已更新</span>
                    if (type == 0)
                    {
                        <a id="viewBetting" href="javascript:playUtil.view();">查看预测号码</a>
                    }
                }
                else
                {
                    <span>未更新</span>
                }
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="Gues_content">
        @if (type == 0)
        {
            <div class="Gues_Cnav">
                @if (playList != null)
                {
                    int i = 0;
                    <ul class="SX_Ul">
                        @foreach (var play in playList)
                        {
                            <li id="p_@i" data-title="@play.PlayName"><a href="javascript:;">@play.PlayName</a></li>
                            i++;
                        }
                    </ul>
                    <div style="clear: both;"></div>
                }
            </div>
        }
        <div class="Gues_Ctext">

        </div>
    </div>


    @Html.Action("WonderfulComment", "News", new { id = @lType, type = 1, refUid = @Model.Id })

    @*<div class="Gues_expert">
            <h3 class="Expert_title">已有<font>10025</font>人分享该专家</h3>
            <ul class="Expert_nav">
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>*@

    <!--分享-->
    <div class="Gues_share">
        <div class="Share_info">
            <div class="Share_ifTitle">
                <h3>分享至</h3>
            </div>
            <ul class="Share_ifNav">
                <li>
                    <a href="javascript:call('wechatFriend');">
                        <div class="Share_iNtu">
                            <img src="/images/63_1.png">
                        </div>
                        <p>微信好友</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:call('wechatTimeline');">
                        <div class="Share_iNtu">
                            <img src="/images/63_2.png">
                        </div>
                        <p>朋友圈</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:call('qqFriend');">
                        <div class="Share_iNtu">
                            <img src="/images/63_3.png">
                        </div>
                        <p>QQ好友</p>
                    </a>
                </li>
                <div style="clear: both;"></div>
            </ul>
            <a href="javascript:hideShare();" class="Del_Share">取消分享</a>
        </div>
    </div>

    @*<div class="C8_TCpopupA" style="margin-top: -80px; display: none;">
        <div class="C8_Tcontent">
            <p class="C8_Tcfont">@("查看此专家预测号码需要支付" + readCoin + "金币")</p>
            <p class="C8_Tcfont">是否支付金币查看？</p>
        </div>
        <ul class="C8_Tbtn">
            <li>
                <a href="javascript:playUtil.cancel();">
                    <img src="/images/69_1.png">
                    <span>取消</span>
                </a>
            </li>
            <li>
                <a href="javascript:playUtil.confirm();">
                    <img src="/images/69_2.png">
                    <span>确认</span>
                </a>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>*@
   
    <div class="mask" style="display: none;"></div>

    <!--支付  弹窗-->
    <div class="c8_TCpopupZf" style="display: none;">
        <div class="C8_ZfContent">
            <div class="zfC_header">
                <a href="JavaScript:;" class="zfC_del"></a>
                <h3>支付</h3>
            </div>
            <div class="zfC_Font">
                <p>支付金币或使用查看券查看号码</p>
            </div>
            <ul class="zfC_XZ">
                <li data-idx="1" class="current">
                    <dl class="XZ_Dl">
                        <dt><img src="~/images/w9_1.png"></dt>
                        <dd>
                            <p><span>X @readCoin</span>(@("可用金币" + Coin + "个"))</p>
                            <div class="XZ_Qtu">
                                <img src="~/images/w10_1.png" class="Qtu_A">
                                <img src="~/images/w10_2.png" class="Qtu_B">
                            </div>
                            <div style="clear:both;"></div>
                        </dd>
                    </dl>
                </li>
                @if (Coupon > 0)
                {
                    <li data-idx="2">
                        <dl class="XZ_Dl">
                            <dt><img src="~/images/w9_2.png"></dt>
                            <dd>
                                <p><span>X 1</span>(@("可用查看券"+ Coupon + "张"))</p>
                                <div class="XZ_Qtu">
                                    <img src="~/images/w10_1.png" class="Qtu_A">
                                    <img src="~/images/w10_2.png" class="Qtu_B">
                                </div>
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </li>
                }
              
            </ul>
            <div class="zfC_Que">
                <a href="javascript:playUtil.confirm();">确认支付</a>
            </div>
        </div>
    </div>

    
    
   

    <script src="~/js/kcp/NativeShare.js"></script>
    <script type="text/javascript">
        var recordId = 0;
        var readCoin=@readCoin;
        var ltype=@lType;
        var uid=@Model.Id;
        var MyUid=@MyUid;

        var isRead = false;
        $(function() {

            $(".zfC_del").click(function()
            {
                $(".c8_TCpopupZf").hide();
                $(".mask").hide();
            });


            var p=GetQueryString("p");

            if(p.p!=null)
            {
                var $curDd = $('.SX_Ul').find('li[data-title="'+p.p+'"]');
                $curDd.addClass("current").siblings().removeClass("current");

                getData(p.p);

            }

            $(".Gues_ul").parseEmoji();

            if (@type == 0)
            {
                $(".SX_Ul li").click(function()
                {
                    var _this = $(this),
                        playName = _this.attr("data-title") || "全部";
                    getData(playName);

                });
                if(p.p==null)
                {
                    $(".SX_Ul li:eq(0)").trigger("click");
                }

                //查看预测号码
                $("#viewBetting").click(function()
                {

                });
            } else {
                getData("全部");
            }
        });

        function GetQueryString(name) {
            var url = window.location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for(var i = 0; i < strs.length; i ++) {
                    //就是这句的问题
                    theRequest[strs[i].split("=")[0]]=decodeURI(strs[i].split("=")[1]);
                    //之前用了unescape()
                    //才会出现乱码
                }
            }
            return theRequest;
        }

        function getData(playName) {
            var uid = @Model.Id;
            $.ajax({
                type: 'GET',
                data: {
                    lType: @lType,
                    playName: playName,
                    uid:uid
                },
                url: '/Plan/GetLastPlay',
                dataType: 'json',
                success: function (res) {

                    if (res.IsSuccess && res.Data) {
                        //回调
                        buildHtml(res.Data.PageData);

                        buildLastPlay(res.Data.ExtraData,playName);


                    } else {
                        alertmsg("服务器繁忙");
                    }
                },
                error: function(res, xhr) {
                    alertmsg("服务器繁忙");
                }
            });
        }

        function buildLastPlay(data,playName) {
            if (data != null && typeof (data) != "undefined") {
                recordId = data.Id;
                isRead = data.IsRead;
                var html = '<span>已更新</span>';
                if (typeof (playName) != 'undefined' && playName != '' && playName != '全部')
                {
                    html += '<a id="viewBetting" href="javascript:playUtil.view();">查看预测号码</a>';
                }
                $("#visitPlanContainer").html(html);
            } else {
                $("#visitPlanContainer").html("<span>未更新</span>");
            }
        }

        function buildHtml(pageData) {
            var itemList = [];

            if (!pageData || pageData.length<1) {
                itemList.push('<div class="Plan_CInfo"><div class="mescroll-empty"><img class="empty-icon" src="/images/null.png"><p class="empty-tip">暂无竞猜~</p></div></div>');
            }else{

                $.each(pageData, function (index, item)
                {
                    console.log(item);
                    var kjhtml = '';
                    var kjhtml1 = '';
                    var num = item.LotteryNum.Num.split(',');
                    var bethtml = '';
                    var cl1 = "hdM_ddcon";
                    var dttime=timeStamp2String(item.LotteryNum.SubTime,"yyyy-MM-dd");  

                    if (item.BettingRecord.length > 0)
                    {
                        for (var j = 0; j < item.BettingRecord.length; j++)
                        {

                            var iswin = item.BettingRecord[j].WinState == 3 ? "中" : "未中";
                            var cliswin = item.BettingRecord[j].WinState == 3 ? "Forecast_Pred" : "";
                            var issym = item.BettingRecord[j].WinState == 3 ? "+" : "";
                            var mynum = item.BettingRecord[j].BetNum;
                            if (item.BettingRecord[j].WinState == 3)
                            {
                                var mynum = item.BettingRecord[j].BetNum;
                                var mynumsplit = item.BettingRecord[j].BetNum.split(',');

                                for (var x = 0; x < mynumsplit.length; x++)
                                {
                                    var z = getwanfa(item.BettingRecord[j].PlayName);

                                    if (z == -1)
                                    {
                                        var ltnum = item.LotteryNum.Num;

                                        if (item.BettingRecord[j].PlayName == "平特一肖")
                                        {
                                            //ltnum = getShengxiaoByDigit(item.LotteryNum.Num);
                                            ltnum = get6caiSx(ltnum, dttime);
                                        }

                                        if (ltnum.indexOf(mynumsplit[x]) >= 0)
                                        {

                                            mynum = mynum.replace(mynumsplit[x], "<span class='For_Red'>" + mynumsplit[x] + "</span>");
                                        }
                                    } else
                                    {
                                        var lonum = item.LotteryNum.Num.split(',');

                                        if (item.BettingRecord[j].PlayName == "四肖中特" || item.BettingRecord[j].PlayName == "六肖中特")
                                        {
                                            //lonum[z] = getShengxiaoByDigit(lonum[z]);
                                            lonum[z] = GetName(dttime, lonum[z]);
                                        }
                                        if (z==10)
                                        {
                                            var lonum1 = lonum.slice(0, 6);

                                            if ($.inArray(mynumsplit[x], lonum1) != -1)
                                            {
                                                mynum = mynum.replace(mynumsplit[x], "<span class='For_Red'>" + mynumsplit[x] + "</span>");
                                            }

                                        } else if (z == 11)
                                        {
                                            var lonum1 = lonum.slice(0, 5);
                                            if ($.inArray(mynumsplit[x], lonum1) != -1)
                                            {
                                                mynum = mynum.replace(mynumsplit[x], "<span class='For_Red'>" + mynumsplit[x] + "</span>");
                                            }
                                        }else if(z==12)
                                        {
                                            var lonum1 = lonum.slice(5);

                                            if ($.inArray(mynumsplit[x], lonum1) != -1) {
                                                mynum = mynum.replace(mynumsplit[x], "<span class='For_Red'>" + mynumsplit[x] + "</span>");
                                            }

                                        }else
                                        {
                                            if (lonum[z] == mynumsplit[x]) {
                                                console.log("中了")

                                                mynum = mynum.replace(mynumsplit[x], "<span class='For_Red'>" + mynumsplit[x] + "</span>");

                                            }
                                        }
                                    }

                                }
                            }


                            bethtml += '<tr><td align="center" valign="middle" width="25%"><p>' + item.BettingRecord[j].PlayName + '</p> </td>'
                                + ' <td align="center" valign="middle">   <p style="word-break:break-all; ">' + mynum + '<span class="For_Red"></span></p> </td>'
                                + '<td align="center" valign="middle" width="25%"> <p class="' + cliswin + '">    <font class="P_TF">' + iswin + '</font><span>' + issym + '' + item.BettingRecord[j].Score + '</span></p>  </td> </tr>'

                        }
                    }
                    for (var i = 0; i < num.length; i++)
                    {
                        console.log(getcolor("06"));
                        console.log(num[i]);
                        var cl = "hdM_spssc";
                        var lt=@lType;
                        if (lt ==5)
                        {
                            var color = getcolor(num[i]);

                            if (color == "red") {
                                cl = "LHC_spB HYJP_LhRed";
                            }
                            else if (color == "green") {
                                cl = "LHC_spB HYJP_LhGreen";
                            }
                            else {
                                cl = "LHC_spB HYJP_LhBlue";
                            }

                            if(i==5)
                            {
                                kjhtml1 += '<span class="' + cl + '">' + num[i] + '</span>';
                                kjhtml1 += '<span class="LHC_spB HYJP_PcHao ">+</span>';
                            }else
                            {
                                kjhtml1 += '<span class="' + cl + '">' + num[i] + '</span>';
                            }
                        }else if(lt==2)
                        {
                            if(i==6)
                            {
                                kjhtml1 += '<span class="LHC_spB HYJP_Blue">' + num[i] + '</span>';
                            }else
                            {
                                kjhtml1 += '<span class="LHC_spB">' + num[i] + '</span>';
                            }

                        }else if(lt==63 || lt==64)
                        {
                            cl= " SaiChe_Text SaiChe_TA"+num[i];
                           kjhtml1 += '<span class="' + cl + '">' + num[i] + '</span>';
                        }else if(lt==8)
                        {
                            if(i==7)
                            {
                                kjhtml1 += '<span class="LHC_spB HYJP_Blue">' + num[i] + '</span>';
                            }else
                            {
                                kjhtml1 += '<span class="LHC_spB">' + num[i] + '</span>';
                            }
                        }else if(lt==4)
                        {
                            if(i==5 || i==6)
                            {
                                kjhtml1 += '<span class="LHC_spB HYJP_Blue">' + num[i] + '</span>';
                            }else
                            {
                                kjhtml1 += '<span class="LHC_spB">' + num[i] + '</span>';
                            }
                        }else if(lt==65)
                        {
                            var a=Number(num[0]);
                            var b=Number(num[1]);
                            var c=Number(num[2]);
                            var sum=a+b+c;
                            kjhtml1 += '<span class="LHC_spB">' + num[0] + '</span>';
                            kjhtml1 += '<span class="LHC_spB HYJP_PcHao ">+</span>';
                            kjhtml1 += '<span class="LHC_spB">' + num[1] + '</span>';
                            kjhtml1 += '<span class="LHC_spB HYJP_PcHao ">+</span>';
                            kjhtml1 += '<span class="LHC_spB">' + num[2] + '</span>';
                            kjhtml1 += '<span class="LHC_spB HYJP_PcHao ">=</span>';
                            kjhtml1 += '<span class="LHC_spB">' + sum + '</span>';
                            break;
                        }

                        else
                        {
                            kjhtml1 += '<span class="LHC_spB">' + num[i] + '</span>';
                        }




                    }
                    var time1= timeStamp2String(item.LotteryNum.SubTime,"MM-dd HH:mm");  
                
                  
                    var itemHtml = '<table class="Forecast_tableA" width="100%" bordercolor="#ccc" border="1"> <tr>'
                        + ' <td align="center" valign="middle"> <p class="Forecast_Ptit">' + item.LotteryNum.Issue + '期</p>'
                        + '    <p class="Forecast_Ptit">' + time1 + '</p> </td>'
                        + ' <td colspan="2" align="left" valign="middle">';
                    //if (item.lType == 5)
                    //{
                    //    itemHtml += '<div class="hdM_ddcon">' + kjhtml + '</div>';
                    //}
                    itemHtml += '<div class="Forecast_LHC">' + kjhtml1 + '</div>  </td></tr>'
                        + bethtml + '   </table>';
                    itemList.push(itemHtml);
                });
            }
            var html = itemList.join('');

            $(".Gues_Ctext").empty().html(html);
        }



        //在Jquery里格式化Date日期时间数据
        function timeStamp2String(time,format){
            var datetime = new Date(time);
            var year = datetime.getFullYear();
            var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
            var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
            var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
            var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
            var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
            if(format=="yyyy-MM-dd HH:mm:ss")
            {
                return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
            }else if(format=="yyyy-MM-dd")
            {
                return year + "-" + month + "-" + date;
            }else if(format=="MM-dd HH:mm:ss")
            {
                return month + "-" + date+" "+hour+":"+minute+":"+second;
            }else if(format=="MM-dd HH:mm")
            {
                return month + "-" + date+" "+hour+":"+minute;
            }
           

        } 

        //生肖
        function get6caiSx(num,subtime)
        {
            var cainum;
            for (var i = 0; i < num.length; i++)
            {
                cainum+=GetName(subtime, num[i]) + ",";
            }
            return cainum.substring(0, cainum.length - 1);
            
        }


        //六合彩数字转生肖
        function getShengxiaoByDigit(digit) {
            var result = "鸡";


            if (digit == 11 || digit == 23 || digit == 35 || digit == 47) {
                result = "鼠";
            }
            else if (digit == 10 || digit == 22 || digit == 34 || digit == 46) {
                result = "牛";
            }
            else if (digit == 9 || digit == 21 || digit == 33 || digit == 45) {
                result = "虎";
            }
            else if (digit == 8 || digit == 20 || digit == 32 || digit == 44) {
                result = "兔";
            }
            else if (digit == 7 || digit == 19 || digit == 31 || digit == 43) {
                result = "龙";
            }
            else if (digit == 6 || digit == 18 || digit == 30 || digit == 42) {
                result = "蛇";
            }
            else if (digit == 5 || digit == 17 || digit == 29 || digit == 41) {
                result = "马";
            }
            else if (digit == 4 || digit == 16 || digit == 28 || digit == 40) {
                result = "羊";
            }
            else if (digit == 3 || digit == 15 || digit == 27 || digit == 39) {
                result = "猴";
            }
            else if (digit == 2 || digit == 14 || digit == 26 || digit == 38) {
                result = "鸡";
            }
            else if (digit == 1 || digit == 13 || digit == 25 || digit == 37 || digit == 49) {
                result = "狗";
            }
            else if (digit == 12 || digit == 24 || digit == 36 || digit == 48) {
                result = "猪";
            }

            return result;
        }
        //玩法标红
        function getwanfa(playName)
        {
            var i = -1;
            var p0 = ["第一球五码", "冠军五码", "第一球", "冠军","第一名"];
            var p1 = ["第二球五码", "第二名五码", "第二球", "亚军", "第二名", "亚军五码"];
            var p2 = ["第三球五码", "第三名五码", "第三球", "第三名"];
            var p3 = ["第四球五码", "第四名五码", "第四球", "第四名"];
            var p4 = ["第五球五码", "第五名五码", "第五球", "第五名"];
            var p5 = ["第六球五码", "第六名五码", "第六球", "第六名"];
            var p6 = ["第七球五码", "第七名五码", "第七球", "第七名", "十码中特", "二十码中特", "四肖中特", "六肖中特", "蓝5码", "蓝8码"];
            var p7 = ["第八球五码", "第八名五码", "第八球", "第八名"];
            var p8 = ["第九球五码", "第九名五码", "第九球", "第九名"];
            var p9 = ["第十球五码", "第十名五码", "第十球", "第十名"];
            var p10 = ["红2胆", "红3胆"];
            var p11 = ["前区4码"];
            var p12 = ["后区3码"];
            if ($.inArray(playName,p0)!=-1)
            {

                i = 0;
            } else if ($.inArray(playName, p1) != -1)
            {
                i = 1;
            } else if ($.inArray(playName, p2) != -1) {
                i = 2;
            } else if ($.inArray(playName, p3) != -1) {
                i = 3;
            } else if ($.inArray(playName, p4) != -1) {
                i = 4;
            } else if ($.inArray(playName, p5) != -1) {
                i = 5;
            } else if ($.inArray(playName, p6) != -1)
            {
                i = 6;
            } else if ($.inArray(playName, p7) != -1) {
                i = 7;
            } else if ($.inArray(playName, p8) != -1) {
                i = 8;
            } else if ($.inArray(playName, p9) != -1) {
                i = 9;
            } else if ($.inArray(playName, p10) != -1)
            {
                i=10
            } else if ($.inArray(playName, p11) != -1)
            {
                i = 11;

            } else if ($.inArray(playName, p12) != -1)
            {
                i = 12;
            }
            return i;
        }




        //获取六合彩球的颜色
        function getcolor(haoma) {
            var red = "01，02，07，08，12，13，18，19，23，24，29，30，34，35，40，45，46";
            var blue = "03，04，09，10，14，15，20，25，26，31，36，37，41，42，47，48";
            var green = "05，06，11，16，17，21，22，27，28，32，33，38，39，43，44，49";
            if (red.indexOf(haoma) >= 0) {
                return "red";
            }else if(blue.indexOf(haoma)>=0){
                return "blue";
            }else {
                return "green";
            }

        }

        var nativeShare = new NativeShare();

        var shareData = {
            title: '@ViewBag.LTypeName近期竞猜',
            desc: '@ViewBag.LTypeName近期竞猜',
            // 如果是微信该link的域名必须要在微信后台配置的安全域名之内的。
            link: 'http://' + location.host + '/Plan/PlanRecord/@Model.Id',
            icon: '@Model.Headpath',
            // 不要过于依赖以下两个回调，很多浏览器是不支持的
            success: function() {
                alert('success');
            },
            fail: function() {
                alert('fail');
            }
        }
        nativeShare.setShareData(shareData);

        function call(command) {
            try {
                nativeShare.call(command);
            } catch (err) {
                // 如果不支持，你可以在这里做降级处理
                alert(err.message);
            }
        }

        var playUtil = {
            goLastPlay:function() {
                var playName = $(".SX_Ul li.current").attr("data-title")||"";
                var paytype=$(".zfC_XZ li.current").attr("data-idx");
                location.href = "/Plan/LastPlay/" + ltype + "?uid=" + uid+"&playName="+playName+"&paytype="+paytype;
            },
            giftCoin:function() {

                var playName = $(".SX_Ul li.current").attr("data-title")||"";
                location.href = "/Plan/Tip?uid=" + uid + "&ltype=" + ltype + "&playName=" + playName;
            },
            cancel:function() {
                $(".C8_TCpopupA").hide();
                $(".mask").hide();
            },
            confirm:function() {
                var uid=@Model.Id;
                var ltype=@lType;
                var paytype=$(".zfC_XZ li.current").attr("data-idx");
                var playName = $(".SX_Ul li.current").attr("data-title");

                if (!playName || playName.length < 1) {
                    alertmsg("查看失败");
                    return;
                }

                $.ajax({
                    type: 'POST',
                    data: {
                        lType:ltype,
                        uid:uid,
                        id:recordId,
                        coin:readCoin,
                        paytype:paytype
                    },
                    url: '/Plan/ViewPlan',
                    dataType: 'json',
                    success: function (res) {

                        if (res.IsSuccess) {
                            playUtil.goLastPlay();
                        } else {
                            if (res.Code == 401) {
                                alertmsg(res.Message);
                            } else {
                                alertmsg(res.Message);
                            }
                        }
                    },
                    error: function(res, xhr) {
                        alertmsg("服务器繁忙");
                    }
                });
            },
            view:function()
            {
                if(uid==MyUid)
                {
                    playUtil.goLastPlay();

                }else
                {
                    if (readCoin > 0 && !isRead)
                    {

                        //$(".C8_TCpopupA").show();
                        $(".c8_TCpopupZf").show();
                        $(".mask").show();
                    } else {
                        //this.confirm();
                        playUtil.goLastPlay();
                    }
                }

            }
        }

    </script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
