@using C8.Lottery.Model
@model UserInfo

@{
    Layout = null;
    bool followed = ViewBag.Followed;
    bool isSub = ViewBag.IsSub;
    int lType = ViewBag.lType;
    List<Play> playList = ViewBag.PlayList;
    int type = ViewBag.Type;
    int MyUid =Convert.ToInt32(ViewBag.MyUid);
    int readCoin = ViewBag.ReadCoin ?? 0;
    int Coin = ViewBag.Coin ?? 0;
    int Coupon = ViewBag.Coupon ?? 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>近期竞猜-@ViewBag.LTypeName</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/mescroll.min.css" />
    <link href="@ViewBag.osshost/css/jquery.emoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/dialog.min.js"></script>
    <script src="@ViewBag.osshost/js/luo/jquery.emoji.min.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/yjp.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/runTime2.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/6caiSX.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/PlayRecord.js"></script>

</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@(ViewBag.LTypeName)近期竞猜</a>
    </header>

    <div class="Forecast_Top">
        <div class="Forecast_Theader">
            <dl class="Forecast_ThdDl">
                <dt>
                    <a href="/Personal/UserCenter/@Model.Id">
                        @if (string.IsNullOrEmpty(Model.Headpath))
                        {
                            <img src="/images/default_avater.png" alt="" />
                        }
                        else
                        {
                            <img src="@Model.Headpath" alt="@Model.Headpath" />
                        }
                    </a>
                </dt>
                <dd>
                    <div class="ThdDl_Top">
                        <h3 class="ThdDl_name f-l"><a href="/Personal/UserCenter/@Model.Id">@Model.Name</a></h3>
                        <a href="javascript:playUtil.giftCoin();" class="ThdDl_ds f-r">打赏</a>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="ThdDl_Bt">
                        <div class="ThdDl_BtLeft f-l">
                            <span>粉丝：</span><span>@Model.Fans</span>
                            <a onclick="unorfollow(this,@Model.Id)" href="javascript:;">@(followed ? "已关注" : "关注")</a>
                        </div>
                        @if (type == 0)
                        {
                            <a href="/Plan/PlayRecord/@lType?uid=@Model.Id&type=1" class="ThdDl_BtRight f-r">查看总成绩</a>
                        }
                        <div style="clear:both;"></div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="Gues_Thd">
            <input type="hidden" id="lType" value="@lType">
            <div class="Gues_ThdLeft f-l">
                <h3>
                    距离下期开奖
                    @if (ViewBag.time == "正在开奖")
                    {
                        <span id="openTime">正在开奖</span>
                    }
                    else
                    {
                        if (lType < 9)
                        {
                            <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                        }
                        else
                        {
                            <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                        }
                    }
                </h3>
            </div>
            <div id="visitPlanContainer" class="Gues_ThdRight f-r">
                @if (isSub)
                {
                    <span>已更新</span>
                    if (type == 0)
                    {
                        <a id="viewBetting" href="javascript:playUtil.view();">查看预测号码</a>
                    }
                }
                else
                {
                    <span>未更新</span>
                }
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="Gues_content">
        @if (type == 0)
        {
            <div class="Gues_Cnav">
                @if (playList != null)
                {
                    int i = 0;
                    <ul class="SX_Ul">
                        @foreach (var play in playList)
                        {
                            <li id="p_@i" data-title="@play.PlayName"><a href="javascript:;">@play.PlayName</a></li>
                            i++;
                        }
                    </ul>
                    <div style="clear: both;"></div>
                }
            </div>
        }
        <div class="Gues_Ctext">

        </div>
    </div>


    @Html.Action("WonderfulComment", "News", new { id = @lType, type = 1, refUid = @Model.Id })

    @*<div class="Gues_expert">
            <h3 class="Expert_title">已有<font>10025</font>人分享该专家</h3>
            <ul class="Expert_nav">
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
                <li><a href="javascript:;"><img src="/images/36.png"></a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>*@

    <!--分享-->
    <div class="Gues_share">
        <div class="Share_info">
            <div class="Share_ifTitle">
                <h3>分享至</h3>
            </div>
            <ul class="Share_ifNav">
                <li>
                    <a href="javascript:call('wechatFriend');">
                        <div class="Share_iNtu">
                            <img src="/images/63_1.png">
                        </div>
                        <p>微信好友</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:call('wechatTimeline');">
                        <div class="Share_iNtu">
                            <img src="/images/63_2.png">
                        </div>
                        <p>朋友圈</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:call('qqFriend');">
                        <div class="Share_iNtu">
                            <img src="/images/63_3.png">
                        </div>
                        <p>QQ好友</p>
                    </a>
                </li>
                <div style="clear: both;"></div>
            </ul>
            <a href="javascript:hideShare();" class="Del_Share">取消分享</a>
        </div>
    </div>

    @*<div class="C8_TCpopupA" style="margin-top: -80px; display: none;">
        <div class="C8_Tcontent">
            <p class="C8_Tcfont">@("查看此专家预测号码需要支付" + readCoin + "金币")</p>
            <p class="C8_Tcfont">是否支付金币查看？</p>
        </div>
        <ul class="C8_Tbtn">
            <li>
                <a href="javascript:playUtil.cancel();">
                    <img src="/images/69_1.png">
                    <span>取消</span>
                </a>
            </li>
            <li>
                <a href="javascript:playUtil.confirm();">
                    <img src="/images/69_2.png">
                    <span>确认</span>
                </a>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>*@
   
    <div class="mask" style="display: none;"></div>

    <!--支付  弹窗-->
    <div class="c8_TCpopupZf" style="display: none;">
        <div class="C8_ZfContent">
            <div class="zfC_header">
                <a href="JavaScript:;" class="zfC_del"></a>
                <h3>支付</h3>
            </div>
            <div class="zfC_Font">
                <p>支付金币或使用查看券查看号码</p>
            </div>
            <ul class="zfC_XZ">
                <li data-idx="1" class="current">
                    <dl class="XZ_Dl">
                        <dt><img src="~/images/w9_1.png"></dt>
                        <dd>
                            <p><span>X @readCoin</span>(@("可用金币" + Coin + "个"))</p>
                            <div class="XZ_Qtu">
                                <img src="~/images/w10_1.png" class="Qtu_A">
                                <img src="~/images/w10_2.png" class="Qtu_B">
                            </div>
                            <div style="clear:both;"></div>
                        </dd>
                    </dl>
                </li>
                @if (Coupon > 0)
                {
                    <li data-idx="2">
                        <dl class="XZ_Dl">
                            <dt><img src="~/images/w9_2.png"></dt>
                            <dd>
                                <p><span>X 1</span>(@("可用查看券"+ Coupon + "张"))</p>
                                <div class="XZ_Qtu">
                                    <img src="~/images/w10_1.png" class="Qtu_A">
                                    <img src="~/images/w10_2.png" class="Qtu_B">
                                </div>
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </li>
                }
              
            </ul>
            <div class="zfC_Que">
                <a href="javascript:playUtil.confirm();">确认支付</a>
            </div>
        </div>
    </div>

    
    
   

    <script src="@ViewBag.osshost/js/kcp/NativeShare.js"></script>
    <script type="text/javascript">
        var recordId = 0;
        var readCoin=@readCoin;
        var LType=@lType;
        var UserId=@Model.Id;
        var MyUid=@MyUid;
        var Type=@type;
        var isRead = false;
        var title='@ViewBag.LTypeName近期竞猜';


        var nativeShare = new NativeShare();
        var shareData = {
            title: title,
            desc: title,
            // 如果是微信该link的域名必须要在微信后台配置的安全域名之内的。
            link: 'http://' + location.host + '/Plan/PlanRecord/@Model.Id',
            icon: '@Model.Headpath',
            // 不要过于依赖以下两个回调，很多浏览器是不支持的
            success: function() {
                alert('success');
            },
            fail: function() {
                alert('fail');
            }
        }
        nativeShare.setShareData(shareData);
        function call(command) {
            try {
                nativeShare.call(command);
            } catch (err) {
                // 如果不支持，你可以在这里做降级处理
                alert(err.message);
            }
        }
    </script>
    <script src="@ViewBag.osshost/js/ossjs/PlayRecord.js"></script>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
