@using C8.Lottery.Model
@{
    Layout = null;
    int lType = ViewBag.lType;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>@ViewBag.title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/dialog.css" />
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/dialog.min.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/public.js"></script>
    <script type="text/javascript" src="/js/bet.js"></script>
    
    <script type="text/javascript" src="/js/runTime2.js"></script>
    
</head>

<body style="background:#F4F4F5;">
    
    <input type="hidden" value="@ViewBag.lType" id="lType"/>
    
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">@ViewBag.lotteryName</a>
        <a href="/Plan/Rule/@ViewBag.lType" class="SX_A">规则</a>
    </header>

    <div class="WanFa_header">
        <div class="WanFa_hdInfo1">
            <h3>@Html.Raw(ViewBag.issueDesc)</h3>
            
            @*<p>距离开奖时间<span>23:40:30</span></p>*@
            
            <p class="hdM_ddtime f-r">下期开奖：
                            
                @if (ViewBag.time == "正在开奖")
                {
                    <span id="openTime">正在开奖</span>
                }
                else
                {
                    if (lType < 9)
                    {
                        <span id="openTime"><t id="hour2">@ViewBag.hour</t>:<t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                    }
                    else
                    {
                        <span id="openTime"><t id="minute2">@ViewBag.min</t>:<t id="second2">@ViewBag.sec</t></span>
                    }

                }

            </p>

            
            
            
            


            <div style="clear:both;"></div>
        </div>
        <div class="WanFa_hdInfo2">
            <i class="WF_hdIF2Icpon"></i>
            <p class="WF_hdIf2L">@ViewBag.lastIssueDesc</p>
            <div class="WF_hdIf2R">
                
                @{
                    string num = ViewBag.lastNum;
                    string[] numArr = num.Split(',');
                    foreach (string s in numArr)
                    {
                        <span class="WF_spA WF_spAhWU">@s</span>
                    }
                }
                

                
             
            </div>
        </div>
    </div>

    <div id="WanFa_content" class="WanFa_content">
        
        @if (lType == 1)
        {
            <!-- 福彩3D -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q1"></td>

                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('fc3d_q1','popup_10_dan_da','fc3d');" data-id="fc3d_q1" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q2','popup_10_dan_da','fc3d');" data-id="fc3d_q2" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q3','popup_10_dan_da','fc3d');" data-id="fc3d_q3" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀一码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q4','popup_10','fc3d');" data-id="fc3d_q4" data-type="popup_10" data-length="1" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀二码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q5','popup_10','fc3d');" data-id="fc3d_q5" data-type="popup_10" data-length="2" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆一码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q6','popup_10','fc3d');" data-id="fc3d_q6" data-type="popup_10" data-length="1" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆二码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q7','popup_10','fc3d');" data-id="fc3d_q7" data-type="popup_10" data-length="2" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆三码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="fc3d_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('fc3d_q8','popup_10','fc3d');" data-id="fc3d_q8" data-type="popup_10" data-length="3" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType == 2)
        {
            <!-- 双色球 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">红2胆</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q8','popup_num33','xsq');" data-id="xsq_q8" data-type="popup_num33" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">红3胆</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('xsq_q1','popup_num33','xsq');" data-id="xsq_q1" data-type="popup_num33" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀3红</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q2','popup_num33','xsq');" data-id="xsq_q2" data-type="popup_num33" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">蓝单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q3','popup_dan','xsq');" data-id="xsq_q3" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">蓝大小</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q4','popup_daxiao','xsq');" data-id="xsq_q4" data-type="popup_daxiao" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">龙头单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q5','popup_dan','xsq');" data-id="xsq_q5" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">凤尾单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q6','popup_dan','xsq');" data-id="xsq_q6" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">蓝5码</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q9"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q9','popup_num16','xsq');" data-id="xsq_q9" data-type="popup_num16" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">蓝8码</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="xsq_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xsq_q7','popup_num16','xsq');" data-id="xsq_q7" data-type="popup_num16" class="WF_Btn">选择号码</a></td>
                </tr>
                
            </table>
            
        }
        else if (lType == 3)
        {
            <!-- 七星彩 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q1','popup_10_dan_da','qxc');" data-id="qxc_q1" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q2"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q2','popup_10_dan_da','qxc');" data-id="qxc_q2" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q3"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q3','popup_10_dan_da','qxc');" data-id="qxc_q3" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q4"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q4','popup_10_dan_da','qxc');" data-id="qxc_q4" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q5"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q5','popup_10_dan_da','qxc');" data-id="qxc_q5" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第六球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q6"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q6','popup_10_dan_da','qxc');" data-id="qxc_q6" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第七球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qxc_q7"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qxc_q7','popup_10_dan_da','qxc');" data-id="qxc_q7" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType == 4)
        {
            <!-- 大乐透 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="25%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">前区4码</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('dlt_q1','popup_num35','dlt');" data-id="dlt_q1" data-type="popup_num35" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">前区杀4码</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q2','popup_num35','dlt');" data-id="dlt_q2" data-type="popup_num35" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">前区龙头单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q3','popup_dan','dlt');" data-id="dlt_q3" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">前区凤尾单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q4','popup_dan','dlt');" data-id="dlt_q4" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">后区3码</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q5','popup_num12','dlt');" data-id="dlt_q5" data-type="popup_num12" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">后区杀3码</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q6','popup_num12','dlt');" data-id="dlt_q6" data-type="popup_num12" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">后区龙头单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q7','popup_dan','dlt');" data-id="dlt_q7" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">后区凤尾单双</h3>
                    </td>
                    <td colspan="4" align="center" valign="middle" class="betContainer" id="dlt_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('dlt_q8','popup_dan','dlt');" data-id="dlt_q8" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType == 5)
        {
            <!-- 六合彩 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="20%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">特码单双</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('lhc_q1','popup_dan','lhc');" data-id="lhc_q1" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">特码大小</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q2','popup_daxiao','lhc');" data-id="lhc_q2" data-type="popup_daxiao" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">特尾大小</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q3','popup_daxiao','lhc');" data-id="lhc_q3" data-type="popup_daxiao" class="WF_Btn ">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">特合单双</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q4','popup_dan','lhc');" data-id="lhc_q4" data-type="popup_dan" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">特码波色</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q5','popup_color','lhc');" data-id="lhc_q5" data-type="popup_color" class="WF_Btn ">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">平特一肖</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q6','popup_animal','lhc');" data-id="lhc_q6" data-type="popup_animal" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">四肖中特</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q7','popup_animal','lhc');" data-id="lhc_q7" data-type="popup_animal" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">六肖中特</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q8','popup_animal','lhc');" data-id="lhc_q8" data-type="popup_animal" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">二十码中特</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q9">
                        
                    </td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q9','popup_num49','lhc');" data-id="lhc_q9" data-type="popup_num49" class="WF_Btn" style="padding:28px 0;">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">十码中特</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q10">
                        
                    </td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q10','popup_num49','lhc');" data-id="lhc_q10" data-type="popup_num49" class="WF_Btn" style="padding:16px 0;">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">平五码</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q11">
                        
                    </td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q11','popup_num49','lhc');" data-id="lhc_q11" data-type="popup_num49" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">五不中</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q12">
                        
                    </td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q12','popup_num49','lhc');" data-id="lhc_q12" data-type="popup_num49" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">六不中</h3>
                    </td>
                    <td colspan="3" align="center" valign="middle" class="betContainer" id="lhc_q13">
                        
                    </td>
                    <td align="center" valign="middle"><a href="javascript:openModule('lhc_q13','popup_num49','lhc');" data-id="lhc_q13" data-type="popup_num49" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
        }
        else if (lType == 6)
        {
            <!-- 排列3 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q1"></td>

                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('pl3_q1','popup_10_dan_da','pl3');" data-id="pl3_q1" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q2','popup_10_dan_da','pl3');" data-id="pl3_q2" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q3','popup_10_dan_da','pl3');" data-id="pl3_q3" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀一码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q4','popup_10','pl3');" data-id="pl3_q4" data-type="popup_10" data-length="1" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀二码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q5','popup_10','pl3');" data-id="pl3_q5" data-type="popup_10" data-length="2" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆一码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q6','popup_10','pl3');" data-id="pl3_q6" data-type="popup_10" data-length="1" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆二码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q7','popup_10','pl3');" data-id="pl3_q7" data-type="popup_10" data-length="2" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆三码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl3_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl3_q8','popup_10','pl3');" data-id="pl3_q8" data-type="popup_10" data-length="3" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType == 7)
        {
            <!-- 排列5 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl5_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('pl5_q1','popup_10_dan_da','pl5');" data-id="pl5_q1" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl5_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl5_q2','popup_10_dan_da','pl5');" data-id="pl5_q2" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl5_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl5_q3','popup_10_dan_da','pl5');" data-id="pl5_q3" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl5_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl5_q4','popup_10_dan_da','pl5');" data-id="pl5_q4" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pl5_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pl5_q5','popup_10_dan_da','pl5');" data-id="pl5_q5" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType == 8)
        {
            <!-- 七乐彩 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('qlc_q1','popup_dan_da','qlc');" data-id="qlc_q1" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q2','popup_dan_da','qlc');" data-id="qlc_q2" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q3','popup_dan_da','qlc');" data-id="qlc_q3" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q4','popup_dan_da','qlc');" data-id="qlc_q4" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q5','popup_dan_da','qlc');" data-id="qlc_q5" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第六球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q6','popup_dan_da','qlc');" data-id="qlc_q6" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第七球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q7','popup_dan_da','qlc');" data-id="qlc_q7" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆一码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q8','popup_num30','qlc');" data-id="qlc_q8" data-type="popup_num30" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆二码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q9"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q9','popup_num30','qlc');" data-id="qlc_q9" data-type="popup_num30" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">胆三码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q10"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q10','popup_num30','qlc');" data-id="qlc_q10" data-type="popup_num30" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀三码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q11"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q11','popup_num30','qlc');" data-id="qlc_q11" data-type="popup_num30" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">杀五码</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="qlc_q12"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('qlc_q12','popup_num30','qlc');" data-id="qlc_q12" data-type="popup_num30" class="WF_Btn ">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType >= 9 && lType < 15)
        {
            <!-- 时时彩 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="cqssc_q1"></td>

                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('cqssc_q1','popup_10_dan_da','cqssc');" data-id="cqssc_q1" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="cqssc_q2"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('cqssc_q2','popup_10_dan_da','cqssc');" data-id="cqssc_q2" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="cqssc_q3"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('cqssc_q3','popup_10_dan_da','cqssc');" data-id="cqssc_q3" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="cqssc_q4"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('cqssc_q4','popup_10_dan_da','cqssc');" data-id="cqssc_q4" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="cqssc_q5"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('cqssc_q5','popup_10_dan_da','cqssc');" data-id="cqssc_q5" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">总和</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="cqssc_total"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('cqssc_total','popup_dan_da','cqssc');" data-id="cqssc_total" data-type="total" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
            
        }
        else if (lType >= 15 && lType < 38)
        {
            <!-- 11选5 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="gd11x5_q1"></td>

                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('gd11x5_q1','popup_11_dan_da','gd11x5');" data-id="gd11x5_q1" data-type="popup_11_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="gd11x5_q2"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('gd11x5_q2','popup_11_dan_da','gd11x5');" data-id="gd11x5_q2" data-type="popup_11_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="gd11x5_q3"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('gd11x5_q3','popup_11_dan_da','gd11x5');" data-id="gd11x5_q3" data-type="popup_11_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="gd11x5_q4"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('gd11x5_q4','popup_11_dan_da','gd11x5');" data-id="gd11x5_q4" data-type="popup_11_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="gd11x5_q5"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('gd11x5_q5','popup_11_dan_da','gd11x5');" data-id="gd11x5_q5" data-type="popup_11_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">总和</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="gd11x5_total"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('gd11x5_total','popup_dan_da','gd11x5');" data-id="gd11x5_total" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">龙虎</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="gd11x5_longhu"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('gd11x5_longhu','popup_lh','gd11x5');" data-id="gd11x5_longhu" data-type="popup_lh" class="WF_Btn popup_lh">选择号码</a></td>
                </tr>
            </table>
        }
        else if ((lType >= 38 && lType < 51) || lType == 65)
        {
            <!-- 快三 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">和值</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="k3_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('k3_q1','popup_dan_da','k3');" data-id="k3_q1" data-type="popup_10_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">独胆</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="k3_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('k3_q2','popup_num6','k3');" data-id="k3_q2" data-type="popup_num6" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">双胆</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="k3_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('k3_q3','popup_num6','k3');" data-id="k3_q3" data-type="popup_num6" class="WF_Btn">选择号码</a></td>
                </tr>
            </table>
        }
        else if (lType >= 51 && lType < 60)
        {
            <!-- 广东快乐十分 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="gdkl10f_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('gdkl10f_q1','popup_kl10','gdkl10f');" data-id="gdkl10f_q1" data-type="popup_kl10" class="WF_Btn" style="padding:40px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="gdkl10f_q2"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('gdkl10f_q2','popup_kl10','gdkl10f');" data-id="gdkl10f_q2" data-type="popup_kl10" class="WF_Btn" style="padding:40px 0;">选择号码</a></td>
                </tr>
            </table>
        }
        else if (lType >= 60 && lType < 63)
        {
            <!-- 快乐十二 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">第一球</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="kl12_q1"></td>

                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('kl12_q1','popup_12_dan_da','kl12');" data-id="kl12_q1" data-type="popup_12_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第二球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="kl12_q2"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('kl12_q2','popup_12_dan_da','kl12');" data-id="kl12_q2" data-type="popup_12_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="kl12_q3"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('kl12_q3','popup_12_dan_da','kl12');" data-id="kl12_q3" data-type="popup_12_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="kl12_q4"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('kl12_q4','popup_12_dan_da','kl12');" data-id="kl12_q4" data-type="popup_12_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五球</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="kl12_q5"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('kl12_q5','popup_12_dan_da','kl12');" data-id="kl12_q5" data-type="popup_12_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">总和</h3>
                    </td>
                    <td width="32%" align="center" valign="middle" class="betContainer" id="kl12_total"></td>

                    <td align="center" valign="middle"><a href="javascript:openModule('kl12_total','popup_dan_da','kl12');" data-id="kl12_total" data-type="popup_dan_da" class="WF_Btn">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">龙虎</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="kl12_longhu"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('kl12_longhu','popup_lh','kl12');" data-id="kl12_longhu" data-type="popup_lh" class="WF_Btn popup_lh">选择号码</a></td>
                </tr>
            </table>
        }
        else if (lType == 63)
        {
            <!-- 北京赛车 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">冠军</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('pk10_q1','popup_dan_da_lh','pk10');" data-id="pk10_q1" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">亚军</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q2','popup_dan_da_lh','pk10');" data-id="pk10_q2" data-type="popup_dan_da_lh" class="WF_Btn " style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q3','popup_dan_da_lh','pk10');" data-id="pk10_q3" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q4','popup_dan_da_lh','pk10');" data-id="pk10_q4" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q5','popup_dan_da_lh','pk10');" data-id="pk10_q5" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第六名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q6','popup_1_10_dan_da','pk10');" data-id="pk10_q6" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第七名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q7','popup_1_10_dan_da','pk10');" data-id="pk10_q7" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第八名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q8','popup_1_10_dan_da','pk10');" data-id="pk10_q8" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第九名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q9"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q9','popup_1_10_dan_da','pk10');" data-id="pk10_q9" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第十名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="pk10_q10"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('pk10_q10','popup_1_10_dan_da','pk10');" data-id="pk10_q10" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>
            </table>
        }
        else if (lType == 64)
        {
            <!-- 幸运飞艇 -->
            <table width="100%" border="1" bordercolor="#999" class="WanFa_TableA">
                <tr>
                    <td width="18%" align="center" valign="middle">
                        <h3 class="WF_Ttitle">冠军</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q1"></td>
                    <td width="18%" align="center" valign="middle"><a href="javascript:openModule('xyft_q1','popup_dan_da_lh','xyft');" data-id="xyft_q1" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">亚军</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q2"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q2','popup_dan_da_lh','xyft');" data-id="xyft_q2" data-type="popup_dan_da_lh" class="WF_Btn " style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第三名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q3"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q3','popup_dan_da_lh','xyft');" data-id="xyft_q3" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第四名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q4"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q4','popup_dan_da_lh','xyft');" data-id="xyft_q4" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第五名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q5"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q5','popup_dan_da_lh','xyft');" data-id="xyft_q5" data-type="popup_dan_da_lh" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第六名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q6"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q6','popup_1_10_dan_da','xyft');" data-id="xyft_q6" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第七名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q7"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q7','popup_1_10_dan_da','xyft');" data-id="xyft_q7" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第八名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q8"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q8','popup_1_10_dan_da','xyft');" data-id="xyft_q8" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第九名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q9"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q9','popup_1_10_dan_da','xyft');" data-id="xyft_q9" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>

                <tr>
                    <td align="center" valign="middle">
                        <h3 class="WF_Ttitle">第十名</h3>
                    </td>
                    <td align="center" valign="middle" class="betContainer" id="xyft_q10"></td>
                    <td align="center" valign="middle"><a href="javascript:openModule('xyft_q10','popup_1_10_dan_da','xyft');" data-id="xyft_q10" data-type="popup_1_10_dan_da" class="WF_Btn" style="padding:20px 0;">选择号码</a></td>
                </tr>
            </table>
        }

        
    </div>

    <div class="WanFa_footer">
        <a href="javascript:empty();" class="WF_ftL f-l">清空</a>
        <a href="javascript:;" id="confirmBet" class="WF_ftR f-r">确定</a>
        <h3 class="WF_ftTitle">已选：<span>0</span>注</h3>
    </div>
    <div class="mask" style="display: none;"></div>

    <!--历史开奖号码-->
    <div class="WanFa_History">
        <table width="100%" border="0" class="WanFa_TableB">
            <thead>
                <tr>
                    <th width="40%" align="center" valign="middle" scope="col">期次</th>
                    <th align="center" valign="middle" scope="col">开奖号码</th>
                </tr>
            </thead>
            <tbody>
                
                
                @foreach (LotteryRecord lr in ViewBag.lastFive)
                {

                    string desc = "第" + lr.Issue + "期";
                    numArr = lr.Num.Split(',');
                    
                    <tr>
                        <td align="center" valign="middle">@desc</td>
                        <td align="center" valign="middle">
                            
                            @foreach (string s in numArr)
                            {
                                <span class="History_sp">@s</span>
                            }
                       
                        </td>
                    </tr>
                    
                }

                
               
                <tr>
                    <td colspan="2" align="center" valign="middle"><a href="/Record/OpenRecord/?lType=@ViewBag.lType" target="_blank" class="WanFa_TBbtn">点击查看更多开奖历史>></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    @RenderPage("../Public/Tan.cshtml")

    <script type="text/javascript" src="/js/luo/play.js"></script>

    <script>

        $(function() {

            var lType = $('#lType').val();

            var target;

            $.post('/Plan/AlreadyPostData', { id: lType }, function(data) {

                initBetting(qiu, data);
                for(var i = 0; i< data.length; i++) {
                    var d = data[i];
                    var playName = d.BigPlayName;
                    var betNum = d.BetNum;

                    target = $('.WanFa_TableA h3:contains(' + playName + ')').parent().next();
                    var html = target.html();
                    if (html == '') {
                        target.html(betNum);
                    }
                    else {
                        target.html(html + '|' + betNum);
                    }
                }



            });

        });


    </script>
</body>

</html>